# Generated and compiled files
#============================================================

.sass-cache
*.log
results.xml
public/assets
public/js
public/styles
public/styleguides
public/images
public/unit-testing
styleguides/screenshots
assets/_styles/core/icon-sprite.scss

# Third party/config
#============================================================

node_modules
*.cfg
.grunt
.idea/
.vscode/
.DS_Store
composer.lock
editorconfig.org
assets/vendor
.scannerwork/
