input {
    jdbc {
        jdbc_driver_library => "/usr/share/logstash/logstash-core/lib/jars/<JDBC_LIBRARY>"
        jdbc_driver_class => "com.mysql.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://<DB_HOST>:3306/<DB_NAME>?useSSL=false"
        jdbc_user => "<DB_USER>"
        jdbc_password => "<DB_PASSWORD>"
        schedule => "* * * * *"
        statement => "CALL sp_elastic_<INDEX_NAME>(:sql_last_value)"
        type => "<INDEX_NAME>"
        last_run_metadata_path => "<BASEDIR>/lastrun/<INDEX_NAME>.lastrun"
    }
}

filter {
    mutate {
        rename => {
            "_id" => "doc_id"
        }
    }
}

output {
    opensearch {
        hosts => ["https://<ELASTIC_HOST>:443"]
        auth_type => {    
            type => "aws_iam" 
            region => "eu-west-1"
        }
        index => "<INDEX_NAME>"
        document_id => "%{doc_id}"
        template => "<BASEDIR>/templates/<INDEX_NAME>.json"
        manage_template => true
        template_overwrite => true
        template_name => "<INDEX_NAME>"
        ecs_compatibility => disabled
    }
}