---
title: Transport Manager details
subtitle: OB12345/12
user: operator
---

<div class="row">

  <div class="two-thirds">

    <div class="article">
      <p>Katy Hasley has submitted their Transport Manager details for you to check.<br />
      <a href="index.html">View details</a></p>
      <p>If these details aren't correct you'll need to let the Transport Manager know and they'll have to update them online.</p>
      <div class="actions-container">
        <a href="declaration.html" class="action--primary large">These details are correct</a>
      </div>

      <br />



    </div>

  </div><!-- .two-thirds -->


</div>


<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


