.translationKeyACResults {
  border-radius: 15px;
  padding: 5px;
  display: none;
  width: 700px;
  height: auto;
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 3px solid #000000;
}

.translationAcRow {
  border-bottom: 1px solid #222;
  padding: 5px;
}

.translationAcRow:hover {
  background-color: #DDD;
}