---
breadcrumbs:
  - link: index.html
    label: Back to sign in
title: Username reminder
---

<div class="row">

  <div class="two-thirds">
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">Licence number</label>
          <input type="text" class="long">
        </div>
        <div class="field">
          <label for="">Email address</label>
          <input type="password" class="long">
        </div>
        <div class="actions-container">
          <a href="username-sent.html" class="action--primary large">Send me my username</a>
        </div>
      </fieldset>

    </form>
  </div><!-- .two-thirds -->

  <div class="one-third">
    {{> _support}}
  </div>

</div>