---
breadcrumbs:
  - link: index.html
    label: Back to sign in
title: Reset your password
---

<div class="row">
  <div class="two-thirds">
<!--<div class="validation-summary">
      <h3>We couldn't find those details</h3>
      <p>Please check your username and email address</p>
    </div> -->
    <p></p>
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">Enter your username</label>
          <input type="text" class="long">
        </div>

        <div class="actions-container">
          <a href="password-sent.html" class="action--primary large">Submit</a>
          <a href="" class="action--tertiary large list">Forgotten your username?</a>
        </div>
      </fieldset>

    </form>
  </div><!-- .two-thirds -->

  <div class="one-third">
    {{> _support}}
  </div>

</div>