---
title: Check your email
---

<div class="row">
  <div class="two-thirds">
    <div class="article">
      <p>We've sent an email to <b>katy.hasley@gmail.com</b> containing your username. Follow the link in the email to <a href="index.html">sign in to your account</a>.</p>
      <h3>Problems signing in?</h3>
      <p>If you can't sign in or haven't recieved the message, email <a href="MAILTO:help@vehicleoperatorlicencing.dvsa.gov.uk">operatorlicensing@otc.gov.uk</a> or call 0113 254 3200.</p>
    </div><!-- .article -->
    </form>
  </div><!-- .two-thirds -->
</div>