.overview {

  &__list {
    list-style: none;
  }

  &__list-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid $grey-2;
    padding:  10px 0 6px 0;
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-decoration: none;

    &--underline {
      text-decoration: underline;
    }

    &--large {
      @extend h3;
      font-weight: bold;
      margin-bottom: 5px !important;
    }
  }

  &__item {
    @extend .overview__link;
    @extend h3;
    font-weight: bold;   
    margin-bottom: 5px !important;
  }

  &__status {
    @extend .status;
    font-size: 14px;
    padding: 4px 6px 2px 6px;
  }
}
