---
verticalNavItems:
  - label: Overview
    link:  index.html
  - label: Type of licence
    link:  
  - label: Business details
    link:  business-details.html
  - label: Addresses
    link:
  - label: People
    link:
  - label: Operating centres & authorisation
    link:
  - label: Financial evidence
    link:
  - label: Vehicles
    link:
  - label: Safety
    link:
  - label: Financial history
    link:
  - label: Licence history
    link:
  - label: Convictions & penalties
    link:
foo: foo
---

<ol class="vertical-navigation" role="menu">
  <li>{{foo}}</li>
</ol>