# This file can be used to work with "symlinked" VOL repos
# Comment out lines as appropriate to your use case
services:
  api:
    volumes:
      - ./app/api:/var/www/html
  selfserve:
    volumes:
      - ./app/selfserve:/var/www/html
  internal:
    volumes:
      - ./app/internal:/var/www/html
