---
title: Authentication prototype
---

<div class="row">
  
  <div class="two-thirds">
    <h3>Tasks</h3>
    <ul class="search-navigation">
      <li>
        <a class="search-navigation__item" href="create-account/" target="_BLANK">Create an account</a>
        <p>Create a new account, sign in and then apply for a new licence.</p>
      </li>
      <li>
        <a class="search-navigation__item" href="update-details/" target="_BLANK">Update your details</a>
        <p>Sign in and update your email address and password.</p>
      </li>
      <li>
        <a class="search-navigation__item" href="manage-users/" target="_BLANK">Manage users</a>
        <p>Sign in, remove an existing user and add a new one.</p>
      </li>
      <li>
        <a class="search-navigation__item" href="forgot-password/" target="_BLANK">Reset your password</a>
      </li>
      <li>
        <a class="search-navigation__item" href="forgot-username/" target="_BLANK">Remind me of my username</a>
      </li>
    </ul>
  </div><!-- .two-thirds -->

</div>