---
layout: base.hbs
user: operator
overview: true
back-link: home.html
---

<div class="row">

  <div class="two-thirds">

    <div class="page-header">
      <div class="confirmation">
        <h2>Application submitted</h2>
        <p>Your reference number is<br />
        <strong>OB132455/12</strong></p>
      </div>
    </div>

    <div class="article">
      <h3>What happens next</h3>
      <p>Before your application can be considered you need to:</p>
      <div class="incomplete-section">
        <h4>Print, sign and return the declaration form</4>
        <p>If you haven't already, an owner or Director of the business must sign the declaration form and return it to the <a href="https://www.gov.uk/government/organisations/traffic-commissioners/about/access-and-opening" target="_blank">Central Licensing Office</a>.</p>
        <p><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/394936/GV79-application-for-a-goods-vehicle-operators-licence.pdf" download="declarations.pdf" class="download">Print declaration form</a></p>
      </div>

      <div class="incomplete-section">
        <h4>Post your supporting evidence</h4>
        <p>You didn't upload the following documents:<br />• <b>Financial evidence</b></p>
        <p>Post these documents to the <a href="https://www.gov.uk/government/organisations/traffic-commissioners/about/access-and-opening" target="_blank">Central Licensing Office</a> along with your application reference number (OB6153563/9).</p>
      </div>

      <div class="incomplete-section">
        <h4>Approve Transport Managers</h4>
        <div class="table__wrapper">
          <table>
            <tbody>
              <tr>
                <td><a href="#">Morgan Patel</a> <span class="status green">Approved</span></td>
                <td>7 May 1962</td>
              </tr>
              <tr>
                <td><a href="#">Dave Willis</a> <span class="status red">Awaiting approval</span></td>
                <td>13 May 1978</td>
              </tr>
            </tbody>
          </table>
        </div><!-- .table__wrapper -->
      </div>
      <p class="important"><b>Your application could be refused if you operate goods vehicles before your licence has been issued.</b></p>
      <p><a href="">What did you think of this service?</a> (takes 30 seconds)</p>
    </div><!-- .article -->
    <hr />

  </div><!-- .two-thirds -->

  <div class="one-third">
    <aside class="sidebar" role="complementary">
      <ul class="sidebar__actions">
        <li>
          <a href="/application/8/review/" target="_blank" class="">View application</a>
        </li>
        <li>
          <a href="/application/8/withdraw/" class="js-modal-ajax">Print receipt</a>
        </li>
        <li>
          <a href="/application/8/withdraw/" class="js-modal-ajax">Withdraw application</a>
        </li>
      </ul>
      <dl class="meta">
        <dt>Submitted</dt>
        <dd>27 Mar 2015</dd>
        <dt>Target completion date</dt>
        <dd>Unknown</dd>
        <dt>Status</dt>
        <dd>Under Consideration</dd>
      </dl>
    </aside>
  </div>

</div>