---
sectionTitle: Processing
asset: '../../../../'
subSectionTitle: Actions
layout: licence.hbs
actions:
  - label: New task
    class: primary
  - label: Edit
    class: secondary disabled
  - label: Close
    class: secondary disabled
  - label: Reassign
    class: secondary disabled
table:
  - title: <strong>64</strong> Actions
    headers:
      - label: Details
        class: sortable descending
      - label: Info
        class: sortable descending
      - label: Date
        class: sortable
      - label: By
        class: sortable
    columns:
      - <a href="">Operating centre change</a>
      - 15 Pasture Road, Leeds
      - 13:01 12/03/13
      - Gillian Fogal
    rows: 4
verticalNavItems:
  - label: Decisions
    link:  decisions.html
  - label: Actions
    link:  actions.html
  - label: Tasks
    link:  tasks.html
  - label: Notes
    link:  notes.html
---

<div class="sidebar--left">
  <h4 class="title">Processing</h4>
  {{> _vertical-navigation }}
</div>

<div class="table-col">
  {{#each table}}
    {{#is @index 0 }}
      {{> _table }}
    {{/is }}
  {{/each}}
</div>



