<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         executionOrder="random"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnRisky="true"
         failOnIncomplete="true"
         failOnSkipped="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
>
  <php>
    <ini name="date.timezone" value="UTC"/>
    <ini name="memory_limit" value="4G"/>
  </php>
  <testsuites>
    <testsuite name="Module Unit Test">
      <directory>./module/**/test</directory>
    </testsuite>
    <testsuite name="Address">
      <directory>./test/module/Address</directory>
    </testsuite>
    <testsuite name="AwsSdk">
      <directory>./test/module/AwsSdk</directory>
    </testsuite>
    <testsuite name="Cli">
      <directory>./test/module/Cli</directory>
    </testsuite>
    <testsuite name="CompaniesHouse">
      <directory>./test/module/CompaniesHouse</directory>
    </testsuite>
    <testsuite name="Cpms">
      <directory>./test/module/Cpms</directory>
    </testsuite>
    <testsuite name="DocumentShare">
      <directory>./test/module/DocumentShare</directory>
    </testsuite>
    <testsuite name="Email">
      <directory>./test/module/Email</directory>
    </testsuite>
    <testsuite name="Snapshot">
      <directory>./test/module/Snapshot</directory>
    </testsuite>
    <testsuite name="Api">
      <directory>./test/module/Api/src</directory>
    </testsuite>
    <testsuite name="OLDOlcs">
      <directory>./test/module/Olcs</directory>
    </testsuite>
    <testsuite name="OLD Scanning">
      <directory>./test/module/Scanning</directory>
    </testsuite>
    <testsuite name="Queue">
      <directory>./test/module/Queue</directory>
    </testsuite>
  </testsuites>
</phpunit>
