---
title: Home
subtitle: Operator Licensing Ltd.
layout: base.hbs
user: operator
---

<div class="row">

  <div class="two-thirds">

      <div class="tabs">
        <ul class="tab-list">
          <li class="tab-list__item active"><a href="home.html" aria-select="false" tabindex="0">Licences</a></li>
          <li class="tab-list__item"><a href="fees.html" aria-select="false" tabindex="-1">Fees (3)</a></li>
          <li class="tab-list__item"><a href="correspondence.html" aria-select="true" tabindex="-1">Correspondence (2)</a></li>
        </ul>
      </div><!-- tabs -->

      <!-- Licences -->
      <div class="table__header">
        <h3>Licences</h3>
      </div>
      <div class="table__wrapper">
        <table>
          <thead>
            <tr>
              <th>Licence number</th>
              <th>Type</th>
              <th>Vehicles</th>
              <th>Trailers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b><a href="">OB1352622</a></b><span class="status green">Valid</span></td>
              <td>Standard National</td>
              <td>24</td>
              <td>3</td>
            </tr>
            <tr>
              <td><b><a href="">PC1816262</a></b><span class="status green">Valid</span></td>
              <td>Restricted</td>
              <td>5</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
        <div class="actions-container">
          <a href="" class="action--primary">Apply for a new licence</a>
        </div>
      </div><!-- .table__wrapper -->

      <!-- Variation applications -->
      <div class="table__header">
        <h3>Variation applications</h3>
      </div>
      <div class="table__wrapper">
        <table>
          <thead>
            <tr>
              <th>Application reference</th>
              <th>Type</th>
              <th>Submitted</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b><a href="">OB135262/82</a></b><span class="status orange">Under review</span></td>
              <td>Standard National</td>
              <td>13 Oct 2014</td>
            </tr>
          </tbody>
        </table>
      </div><!-- .table__wrapper -->

      <!-- Applications -->
      <div class="table__header">
        <h3>New applications</h3>
      </div><!-- end .table__header -->
      <div class="table__wrapper">
        <table>
          <thead>
            <tr>
              <th>Application reference</th>
              <th>Type</th>
              <th>Submitted</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b><a href="overview-requested.html">OB135262/7</a></b><span class="status orange">Interim requested</span></td>
              <td>Restricted</td>
              <td>25 Oct 2014</td>
            </tr>
            <tr>
              <td><b><a href="/styleguides/selfserve/application-overview.html">OB135261/6</a></b><span class="status orange">Awaiting TM forms</span></td>
              <td>Standard International</td>
              <td>12 Oct 2014</td>
            </tr>
          </tbody>
        </table>
      </div><!-- .table__wrapper -->

  </div><!-- .two-thirds -->

  <div class="one-third">
    <div class="sidebar">
      <div class="links">
        <h3>More information</h3>
        <ul class="links-list">
          <li target="blank" class="links-list__item">
            <a href="http://gov.uk/being-a-goods-vehicle-operator">Being a goods vehicle operator</a>
          </li>
          <li target="blank" class="links-list__item">
            <a href="https://www.gov.uk/psv-operator-licences">Public Service Vehicle operator licences</a>
          </li>
          <li target="blank" class="links-list__item">
            <a href="https://gov.uk/government/collections/vehicle-safety-and-maintenance-guides">Vehicle safety and maintenance guides</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>