---
title: Add a vehicle
subtitle: OB123245
user: operator
layout: base.hbs
back-link: index.html
---

<div class="row">
  <div class="two-thirds">
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">Vehicle registration mark</label>
          <input type="text" class="small">
        </div>
        <div class="field">
          <label for="">Gross plated weight (kg)</label>
          <input type="text" class="small">
        </div>
      </fieldset>
      <div class="actions-container">
        <a href="index.html#added" class="action--primary large">Save</a>
        <div class="action--tertiary list">Save and add another</div>
      </div>
    </form>
  </div>
</div>



