---
title: Transfer vehicle
subtitle: OB123245
user: operator
layout: base.hbs
back-link: index.html
---

<div class="row">
  <div class="two-thirds">
    <form action="">
      <fieldset>
        <fieldset>
          <legend>Which licence would you like to transfer the vehicle <span class="js-replace-with-ls">LL09 UVE</span> to?</legend>
          <select name="" id="">
            <option value="">Please select</option>
            <option value="">OB152427</option>
            <option value="">OC152427</option>
            <option value="">OG152427</option>
          </select>
        </fieldset>
      </fieldset>
      <div class="actions-container">
        <a href="index.html#transfered" class="action--primary large">Transfer</a>
        <div class="action--tertiary list">Cancel</div>
      </div>
    </form>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.js-replace-with-ls').text(localStorage.getItem('currentVRM') || 'LL09 URE');
  });
</script>

