<footer class="global-footer" role="contentinfo">
  <div class="global-footer__wrapper">
    <ul class="global-footer__links">
      <li class="global-footer__support">
        Telephone: <a href="tel:01132543200">0113 254 3200</a><br>
        Email: <a href="mailto:notifications@vehicle-operator-licensing.service.gov.uk">notifications@vehicle-operator-licensing.service.gov.uk</a>
      </li>
      <li class="global-footer__link">
        <a href="#">Terms and conditions</a>
      </li>
      <li class="global-footer__link">
        <a href="privacy-policy.html">Privacy policy</a>
      </li>
      <li class="global-footer__link">
        <a href="#">Feedback</a>
      </li>
      <li class="global-footer__link">
        <a href="#">Cymraeg</a>
      </li>
      <li class="global-footer__link">
        Built by <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" rel="external" target="blank">Driver and Vehicle Standards Agency</a>
      </li>
    </ul>
    <div class="global-footer__copyright">
      <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/" target="blank">&copy; Crown copyright</a>
    </div>
  </div>
</footer>