<?php

return array(
    // Debugging, display environment and version on interface
//    'version' => [
//        'environment' => 'Local Dev',
//        'release' => (file_exists(__DIR__ . '/../version') ? file_get_contents(__DIR__ . '/../version') : '')
//    ],

    // New Backend service
    'api_router' => [
        'routes' => [
            'api' => [
                'child_routes' => [
                    'backend' => [
                        'options' => [
                            // Backend service URI *Environment specific*
                            'route' => 'olcs-backend.olcs.gov.uk',
                        ]
                    ]
                ]
            ]
        ]
    ],

    // Service addresses
    'service_api_mapping' => [
        'endpoints' => [
            // Backend service URI *Environment specific*
            'backend' => [
                'url' => 'http://olcs-backend.olcs.gov.uk/',
                'options' => [
                    'adapter' => \Zend\Http\Client\Adapter\Curl::class,
                    'timeout' => 60,
                ]
            ],
            // Postcode/Address service URI *Environment specific*
            'postcode' => [
                'url' => 'http://postcode.cit.olcs.mgt.mtpdvsa/',
                'options' => [
                    'adapter' => \Zend\Http\Client\Adapter\Curl::class,
                    'timeout' => 60,
                ]
            ],
        ]
    ],

    // Document service
    'document_share' => [
        // File hyperlink to document
        'uri_pattern' => 'file://///fs01.olcs.mgt.mtpdvsa/OLCS/olcs/%s',
    ],

    // Asset path, URI to olcs-static (CSS, JS, etc) *Environment specific*
    'asset_path' => 'https://iuap1.olcs.dev.nonprod.dvsa.aws/static/public',

    'openam' => [
        'url' => 'http://olcs-auth.olcs.gov.uk:8081/secure/',
        'realm' => 'internal',
        'cookie' => [
            'domain' => '.olcs.gov.uk',
        ]
    ],

    'view_manager' => array(
        'template_map' => array(
            // Dev versions of 404 and error
            'error/404' => __DIR__ . '/../../module/Olcs/view/error/dev-404.phtml',
            'error/403' => __DIR__ . '/../../module/Olcs/view/error/dev-403.phtml',
            'error/index' => __DIR__ . '/../../module/Olcs/view/error/dev-index.phtml'
        ),
    ),
    /**
     * Configure the location of the application log
     */
    'log' => [
        'Logger' => [
            'writers' => [
                'full' => [
                    'options' => [
                        'stream' => '/var/tmp/internal.log'
                    ],
                ]
            ]
        ],
        'ExceptionLogger' => [
            'writers' => [
                'full' => [
                    'options' => [
                        'stream' => '/var/tmp/internal.log'
                    ],
                ]
            ]
        ]
    ],

    // enable the virus scanning of uploaded files
    // To disable scanning comment out this section or set 'cliCommand' to ""
    'antiVirus' => [
        //'cliCommand' => 'clamscan %s',
    ],

    // Show extra debug info in flash messages
    'debug' => [
        'showApiMessages' => false
    ],
    'allow_file_preview' => [
        'extensions' => [
            'images' => 'jpeg,jpg,png,tif,tiff,gif,jfif,bmp'
        ]
    ],
);
