<?php

return array(
    'halt_on_error' => true,
    'service_api_mapping' => array(
        'endpoints' => array(
            'payments' => 'http://olcspayment.dev/api/',
            'backend' => 'http://olcs-backend/',
            'postcode' => 'http://dvsa-postcode.olcspv-ap01.olcs.npm/',
            'nr' => 'http://olcs-nr/',
            'email' => 'http://olcs-email/',
            'companies_house' => array(
                'url' => 'https://api.companieshouse.gov.uk/',
                'options' => array(
                    'sslcapath' => '/etc/ssl/certs',
                    'sslverifypeer' => false,
                ),
                'auth' => array (
                    'username' => 'API_KEY',
                    'password' => '',
                ),
            ),
        )
    ),
    'document_share' => array(
        'uri_pattern' => '\\\\fs01.olcs.mgt.mtpdvsa\\OLCS\\olcs\\%s'
    )
);
