---
title: Account created
---

<div class="row">
  <div class="two-thirds">
    <div class="article">
    <p>Your account details should arrive in the next 3-5 working days.</p>
      <p><a href="sign-in.html">Back to home</a></p>
    </div><!-- .article -->
    </form>
  </div><!-- .two-thirds -->
</div>

<script type="text/javascript" src="/js/authentication-prototype.js"></script>
