---
title: Check your email
header-text: <div class="guidance"><p>We have sent an email to <b class="js-email">katy.hasley@gmail.com</b> containing a temporary password. Once you have signed in using the temporary password you will need to reset it.</p></div>
---

<div class="row">
  <div class="two-thirds">
    <div class="article">
      <p>Please follow the link in the email to <a href="sign-in.html">sign in to your account</a></p>
      <h3>Problems signing in?</h3>
      <p>If you have issues signing in or you didn’t recieve an email containing your temporary password please email:<br /><a href="MAILTO:help@vehicleoperatorlicencing.dvsa.gov.uk">help@vehicleoperatorlicencing.dvsa.gov.uk</a></p>
    </div><!-- .article -->
    </form>
  </div><!-- .two-thirds -->
</div>

<script type="text/javascript" src="/js/authentication-prototype.js"></script>
