---
title: Account already exists
---

<div class="row">
  
  <div class="two-thirds">
    <p>You already have an account. Ask the person who set it up for your username and password.</p>
    <p>If you’re still having problems contact the Central Licensing Office.</p>
    <p><b><br />Telephone: 0113 254 3200</b><br />
    Monday to Thursday: 8:30am to 5pm<br />
    Friday: 8:30am to 4pm
    </p>
    <p>The helpline is closed at weekends and on public holidays</p>
    <p><a href="">operatorlicensing@otc.gov.uk</a></p>
    <hr />
    <p><a href="sign-in.html">Sign in</a></p>
  </div><!-- .two-thirds -->

</div>

<script type="text/javascript" src="/js/authentication-prototype.js"></script>
