---
title: Change your password
---

<div class="row">
  <div class="two-thirds">
    <div class="validation-summary">
      <h3>We couldn't update your password</h3>
      <p>Please try again</p>
    </div>
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">New password</label>
          <input type="password" class="long">
        </div>
        <div class="field">
          <label for="">Re-enter new password</label>
          <input type="password" class="long">
        </div>
        <div class="actions-container">
          <a href="licences-empty.html" class="action--primary large">Continue</a>
        </div>
      </fieldset>
    </form>
  </div><!-- .two-thirds -->
</div>
