---
title: Check your details
---

<div class="row">
  <div class="two-thirds">
    <div class="article">
      <p>To make sure you’re an owner or employee of the company, we’ll need to post account details to your registered address.</p>
      <p><b>Hager Ltd.<br />123 Holly House<br />Leeds<br />LS1 3PS</b></p>
      <div class="js-correct-address">
        <div class="actions-container">
          <a href="sign-in.html" class="action--primary large">Post account details to this address</a>
        </div>
      </div>
    </div>
    <div class="article">
      <h3>Wrong address</h3>
      <p>If your address is wrong, you’ll need to contact the Central Licensing Office to change it:</p>
      <p><b><br />Telephone: 0113 254 3200</b><br />
      Monday to Thursday: 8:30am to 5pm<br />
      Friday: 8:30am to 4pm
      </p>
      <p>The helpline is closed at weekends and on public holidays</p>
      <p><a href="">operatorlicensing@otc.gov.uk</a></p>
      <hr />
      <p><a href="sign-in.html">Back to home</a></p>
    </div><!-- .article -->
  </div><!-- .two-thirds -->
</div>

<script type="text/javascript" src="/js/authentication-prototype.js"></script>
