---
title: Provide your details
subtitle: Dave Willis
user: tm
---

<div class="row">

  <div class="overlay js-add-licence-modal" style="display:none;"></div>
  <div class="modal__wrapper js-add-licence-modal" style="display:none;">
    <div class="modal">
      <div class="modal__header">
        <h2 class="modal__title">Add licence</h2>
        <a href="" class="modal__close">Close</a>
      </div>
      <div class="modal__content">
        <form action="">
          <div class="field">
            <label for="">Licence No.</label>
            <input type="text" class="long">
          </div>
          <div class="field">
            <label for="">Licence holder name</label>
            <input type="text" class="long">
          </div>
        </form>
        <div class="actions-container">
          <a href="" class="action--primary large js-add-licence">Save</a>
          <a href="" class="action--primary large">Save and add another</a>
          <a href="" class="action--secondary large">Cancel</a>
        </div>
      </div>
      <!-- .modal__content -->
    </div>
    <!-- .modal -->
  </div>


  <div class="three-quarters">
    <form action="">
      <fieldset data-group="details">
        <div class="field read-only ">
          <p>Name<br><b>David Willis</b></p>
        </div>
        <div class="field read-only ">
          <p>Date of birth<br><b>15 April 2015</b></p></div>
        <div class="field ">
          <label for="details[emailAddress]">Email address</label>
          <input type="text" name="details[emailAddress]" class="extra-long" id="details[emailAddress]" value="dave.willis@gmail.com">
        </div>
        <div class="field ">
          <label for="details[birthPlace]">Place of birth</label>
          <input type="text" name="details[birthPlace]" id="details[birthPlace]" class="medium" value="Barrow-in-Furness">
        </div>
      </fieldset>
      <fieldset>
        <fieldset>
          <legend class="legend">Certificate of professional competence (CPC)</legend>
          <div class="field checkbox inline">
            <label><input type="radio" name="cpc" value="upload" checked>Upload a copy</label>
          </div>
          <div class="field checkbox inline">
            <label><input type="radio" name="cpc" value="post">Send by post</label>
          </div>
        </fieldset>
        <fieldset class="file-uploader" data-group="advertisements[file]" style="display: block;">
          <div class="field ">
            <ul class="attach-action__list">
              <li class="attach-action">
                <label class="attach-action__label">Attach file(s) <input type="file" name="advertisements[file][file]" class="js-visually-hidden attach-action__input" id="advertisements[file][file]" multiple="multiple"></label>
                <p class="attach-action__hint">PDF, DOC, JPG, PNG or GIF</p>
              </li>
            </ul>
          </div>
          <ul class="js-upload-list" data-group="advertisements[file][list]"></ul>
          <input type="hidden" name="advertisements[file][__messages__]" id="advertisements[file][__messages__]" value="">
          <button type="submit" name="advertisements[file][upload]" class="inline-upload js-upload" id="advertisements[file][upload]" value="Upload" style="display: none;">Upload</button>
        </fieldset>
      </fieldset>
      <fieldset class="address" data-group="homeAddress">
        <legend>Home address</legend>
        <fieldset data-group="homeAddress[searchPostcode]">
          <legend>Postcode search</legend>
          <div class="field inline">
            <input type="text" name="homeAddress[searchPostcode][postcode]" class="short js-input" data-container-class="inline" id="homeAddress[searchPostcode][postcode]" value="">
          </div>
          <div class="field inline">
            <button type="submit" name="homeAddress[searchPostcode][search]" class="action--primary large js-find" data-container-class="inline" id="homeAddress[searchPostcode][search]" value="search">Find address</button>
          </div>
          <div class="field js-visible">
            <p class="hint--small"><a href="#">Enter the address yourself</a></p>
          </div>
        </fieldset>
      </fieldset>
      <fieldset class="address" data-group="homeAddress">
        <legend>Work address</legend>
        <fieldset data-group="homeAddress[searchPostcode]">
          <legend>Postcode search</legend>
          <div class="field inline">
            <input type="text" name="homeAddress[searchPostcode][postcode]" class="short js-input" data-container-class="inline" id="homeAddress[searchPostcode][postcode]" value="">
          </div>
          <div class="field inline">
            <button type="submit" name="homeAddress[searchPostcode][search]" class="action--primary large js-find" data-container-class="inline" id="homeAddress[searchPostcode][search]" value="search">Find address</button>
          </div>
          <div class="field js-visible">
            <p class="hint--small"><a href="#">Enter address manually</a></p>
          </div>
        </fieldset>
      </fieldset>
      <fieldset class="table__form" data-group="responsibilities">
        <h2 class="divider">Responsibilities</h2>
        <fieldset class="checkbox inline">
          <legend>What type of manager will you be for this licence?</legend>
          <label class="inline"><input type="radio" name="responsibilities[tmType]" id="responsibilities[tmType]" value="tm_t_e">External</label>
          <label class="inline"><input type="radio" name="responsibilities[tmType]" value="tm_t_i">Internal</label>
        </fieldset>
        <fieldset class="checkbox inline">
          <legend>Are you the owner/operator of the organisation that’s applying for the licence?</legend>
          <label class="inline"><input type="radio" name="responsibilities[isOwner]" id="responsibilities[isOwner]" value="Y">Yes</label>
          <label class="inline"><input type="radio" name="responsibilities[isOwner]" value="N">No</label>
        </fieldset>
      </fieldset>
      <fieldset data-group="responsibilities[hoursOfWeek]">
        <legend>Hours per day</legend>
        <fieldset data-group="responsibilities[hoursOfWeek][hoursPerWeekContent]">
          <legend>How many hours per day will you spend on your Transport Manager duties?</legend>
          <div class="field inline-text">
            <label>Mon</label>
            <input type="text" class="short" data-container-class="inline-text" id="" value="">
          </div>
          <div class="field inline-text">
            <label>Tue</label>
            <input class="short" data-container-class="inline-text" type="text" value="">
          </div>
          <div class="field inline-text">
            <label>Wed</label>
            <input type="text" class="short" data-container-class="inline-text" id="" value="">
          </div>
          <div class="field inline-text">
            <label>Thu</label>
            <input class="short" data-container-class="inline-text" type="text" value="">
          </div>
          <div class="field inline-text">
            <label>Fri</label>
            <input class="short" data-container-class="inline-text" type="text" value="">
          </div>
          <div class="field inline-text">
            <label>Sat</label>
            <input type="text" class="short" data-container-class="inline-text" id="" value="">
          </div>
          <div class="field inline-text">
            <label>Sun</label>
            <input class="short" data-container-class="inline-text" type="text" value="">
          </div>
        </fieldset>
      </fieldset>
      <fieldset class="js-other-licences">
        <legend>Other licences</legend>
        <div class="empty__wrapper">
          <p>If you hold, are applying for or are the Transport Manager on any other licences, add their details here</p>
          <div class="actions-container">
            <a href="" class="action--primary">Add other licence</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="js-other-employment">
        <div class="empty__wrapper">
          <legend>Other employment</legend>
          <p>If you have other permanent or regular jobs, add details of them here</p>
          <div class="actions-container">
            <a href="" class="action--primary">Add another job</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="js-convictions">
        <div class="empty__wrapper">
        <legend>Convictions and penalties</legend>
          <p>If you’ve ever been convicted of any offences that must be reported to the Traffic Commissioner, add details of them here</p>
          <div class="actions-container">
            <a href="" class="action--primary">Add offences</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="js-revoked">
        <div class="empty__wrapper">
        <legend>Revoked, curtailed or suspended licences</legend>
          <p>If you’ve ever been associated with licences that have been revoked, curtailed or suspended, add details of them here</p>
          <div class="actions-container">
            <a href="" class="action--primary">Add licences</a>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="actions-container">
      <a href="declarations.html" class="action--primary large">Save and continue</a>
      <a href="" class="action--tertiary large">Save and return later</a>
    </div>
  </div><!-- .three-quarters -->
</div>

<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


