---
layout: base.hbs
user: operator
overview: true
title: Application submitted
subtitle: OB132455/12
back-link: home.html
---

<div class="row">

  <div class="two-thirds">

    <div class="page-header">
      <div class="confirmation">
        <h2>Application submitted</h2>
        <p>Your reference number is<br />
        <strong>OB132455/12</strong></p>
      </div>
    </div>

    <div class="article">
      <p class="important"><b>Your application could be refused if you operate goods vehicles before your licence has been issued.</b></p>
      <hr />
      <h3>Request an interim licence</h3>
      <p>If you need to start operating urgently you can <a href="request-interim.html">request an interim licence</a> which will allow you to operate whilst you're waiting for a decision on your application.</p>
    </div><!-- .article -->

  </div><!-- .two-thirds -->

  <div class="one-third">
    <aside class="sidebar" role="complementary">
      <ul class="sidebar__actions">
        <li>
          <a href="/application/8/review/" target="_blank" class="">View application</a>
        </li>
        <li>
          <a href="/application/8/review/" target="_blank" class="">Print receipt</a>
        </li>
        <li>
          <a href="/application/8/withdraw/" class="js-modal-ajax">Withdraw application</a>
        </li>
      </ul>
      <dl class="meta">
        <dt>Submitted</dt>
        <dd>27 Mar 2015</dd>
        <dt>Target completion date</dt>
        <dd>Unknown</dd>
        <dt>Status</dt>
        <dd>Under consideration</dd>
      </dl>
    </aside>
  </div>

</div>








