---
layout: base.hbs
user: operator
overview: true
---

<div class="row">



  <div class="two-thirds">
    <div class="page-header">
      <div class="confirmation">
        <h2>Interim licence requested</h2>
        <p>Your reference number is<br />
        <strong>OB132455/12</strong></p>
      </div>
    </div>
    <div class="article">
      <h3>What happens next</h3>
      <p>We'll let you know if your request has been successful within the next 5 working days.</p>
    </div>
    <div class="article">
      <p class="important"><b>Your application could be refused if you operate goods vehicles before your licence has been issued.</b></p>
      <p><a href="">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
  </div><!-- .two-thirds -->

  <div class="one-third">
    <aside class="sidebar" role="complementary">
      <ul class="sidebar__actions">
        <li>
          <a href="/application/8/withdraw/" class="js-modal-ajax">Print receipt</a>
        </li>
      </ul>
      <dl class="meta">
        <dt>Submitted</dt>
        <dd>27 Mar 2015</dd>
        <dt>Status</dt>
        <dd>Under consideration</dd>
      </dl>
    </aside>
  </div>


</div>


