---
layout: base.hbs
user: operator
title: Application overview
subtitle: Application No.9
breadcrumbs:
  - link: home.html
    label: Home
page-actions:
  - View application
  - Withdraw application
  - Apply for an iterim licence
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <h3>Interim licence request</h3>
      <p>An interm licence was requested on 12 May 2015 and is still being considered by the Central Licensing Office.</p>
      <hr />
      <h3 class="important">Important</h3>
      <p>You are advised that you cannot lawfully operate goods vehicles with a gross plated weight exceeding 3.5 tonnes for the carriage of goods in connection with your trade or business or for hire or reward until your application has been granted, any relevant grant fee has been paid and the licence documents issued or until you have been issued with an interim licence.  If you do so, and this is brought to the attention of the Traffic Commissioner you risk having your application refused.</p>
      <hr />
      <p><a href="">Back to home</a></p>
    </div>
    <hr />
  </div><!-- .two-thirds -->

  <div class="one-third sidebar">
  
    <dl class="meta">
      <dt>Application reference</dt>
      <dd>OB6153563/9</dd>
      <dt>Payment reference.</dt>
      <dd>16178167</dd> <a href="">Print recipt</a>
      <dt>Submitted</dt>
      <dd>14 September 2015</dd>
      <dt>Target completion date</dt>
      <dd>14 November 2015</dd>
      <dt>Status</dt>
      <dd>Interim requested</dd>
    </dl><!-- .meta -->
  
  </div>

</div>