---
layout: base.hbs
user: operator
title: Tell us why you need an interim licence
back-link: index.html
---

<div class="row">

  <div class="two-thirds">
    <form>
      <fieldset>
        <div class="field">
          <textarea id="additional-info" class="extra-long" placeholder="Enter text here"></textarea>
        </div>
      </fieldset>
    </form>
    <p style="margin-bottom: 0;">The fee for an interim licence is</p>
    <h2 style="margin-bottom: 15px;">£68.00</h2>
    <a href="interim-requested.html" class="action--primary large">Submit &amp; pay</a>
    <hr />
  </div><!-- .two-thirds -->
</div>


