// Blue variation of govuk design inset component
.guidance-blue {
  @extend .govuk-inset-text;

  background: #EBF5F9;
  border-color: govuk-colour("blue");

  // to support indentation of bullet points
  li {
      margin-left: 30px;
  }
}

.heading-box-grey {
  @extend .govuk-inset-text;

  background: govuk-colour("light-grey");
  border-color: govuk-colour("mid-grey");
}
