/**
 * Base
 *
 * The utmost core styles required for building a modern webapp that
 * may not necessarily be specific to OLCS.
 *
 * [1] - Document Wrapper
 * [2] - CSS Reset/Normalize
 * [3] - Hacks
 */

/**
 * [1] - Document Wrapper
 * The document/application wrapper which contains the entire app
 */

html {
  background: theme(
    $selfserve: $grey-3,
    $internal: $grey-4
  );
}

body {
  margin: 0;
  background: $white;
  line-height: 1.31579;
  vertical-align: baseline;
  font-family: $font--primary;
  font-size: theme(
    $selfserve: 100%,
    $internal: font-size(3)
  );
}

/**
 * [2] - CSS Reset/Standardise
 * Reset any default styles applied by the browser and render any
 * inconsistencies as consistent
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

pre {
  overflow: auto;
}

menu,
ol,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: disc;
  h1,
  h2,
  h3,
  h4,
  h5 {
    display: inline;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

dl,
dt,
dd {
  width: 100%;
}

dd {
  margin: 0 0 1em;
  float: left;
  // for some reason Firefox seems to automatically add a :before
  // pseudo element to dd items, which causes alignment issues
  &:before {
    display: none;
  }
}

hr {
  width: 100%;
  height: 0.25em;
  display: block;
  border: 0;
  clear: both;
}

input {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  padding: 0;
  border: 0;
  margin-right: 0.5em;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * [3] - Hacks
 * Vendor overwrites which don't belong anywhere else
 */

// prevent chosen container options from extending too long
.chosen-container.chosen-container-single .chosen-single {
  &,
  span {
    white-space: normal;
  }
}