/**
 * Buttons
 */

%action--core {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  margin-right: 0.3em;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  font-family: $font--primary;
  @if $app == 'selfserve' or $app == 'print' {
    border-bottom: 2px solid;
    padding-bottom: 0.5em; // compensate for above border
    line-height: 1.4;
    &:focus {
      outline: 3px solid $outline;
    }
  }
  @if $app == 'internal' {
    line-height: 1.2;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  &.small {
    @extend %h6;
  }
  &.large {
    @extend %h4;
  }
}

@mixin action--core($background: $button-colour, $text-color: $white) {
  @extend %action--core;
  background-color: $background;
  color: $text-color;
  border-color: darken($background, 10%);
  &:hover {
    background-color: darken($background, 5%);
    color: $text-color;
  }
  &:active {
    color: $text-color;
  }
  &:focus {
    background-color: darken($background, 5%);
  }
}

.action {

  &--primary {
    @if $app == 'selfserve' or $app == 'print' {
      @include action--core($button-colour);
    }
    @if $app == 'internal' {
      @include action--core($green);
    }
  }

  &--secondary {
    @if $app == 'selfserve' or $app == 'print' {
      @include action--core(
        $background: $grey-3,
        $text-color: $text-colour
      );
    }
    @if $app == 'internal' {
      @include action--core(
        $background: $grey-4,
        $text-color: $link-colour
      );
      border: 1px solid $grey-3;
    }
  }

  &--tertiary {
    @include action--core(
      $background: transparent,
      $text-color: $link-colour
    );
    border: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.3em;
    padding-bottom: 0.25em;
    &:hover {
      text-decoration: underline;
    }
    @if $app == 'selfserve' or $app == 'print' {
      border-bottom: 2px solid transparent;
      &:focus {
        background: $outline;
        border-bottom: 2px solid $outline;
        outline: 0;
      }
    }
  }

  &--delete {
    @include action--core($red);
  }

}

/*
 * disabled styling
 */
[class*="action"] {
  &.disabled,
  &[disabled],
  &[disabled="disabled"] {
    opacity: 0.5;
    pointer-events: none;
    &:hover {
      cursor: default;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}

/*
 * 'New Application' button
 */
.new-application--wrapper {
  margin-bottom: $gutter;
  // target action button
  [class*="action--"] {
    margin-top: $gutter;
  }
}

// Actions container
.actions-container {
  &--inline-block {
    display: inline-block;
  }

  li {
    @extend %paragraph;
  }
  &:not(:first-child) {
    margin-top: $gutter;
  }
  [class*="action-"] {
    vertical-align: middle;
  }
  // Tertiary actions should be forced undearneath so the actions stack,
  // but primary/secondary actions should remain next to each other
  @if $app == 'selfserve' or $app == 'print' {


    .action--tertiary {
      display: block;
      &:not(:first-child) {
        margin-top: $gutter-two-thirds;
      }
    }

    .action--primary {
      + .action--tertiary {
        display: inline-block;
        margin-top: 0;
        margin-left: $gutter-two-thirds;
      }
    }

    .action--primary {
       + .button--block {
         display: block;
         margin-top: $gutter-two-thirds;
       }
    }
  }
}