/**
 * Forms
 */

// overrides default rounding of form elements (culprit: webkit)
input,
textarea {
  border-radius: 0;
}

/**
 * Wrapping Elements
 */

form {
  margin-bottom: $gutter;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}

fieldset, .fieldset {
  margin-bottom: $gutter;
  padding: 0;
  border: 0;
  margin-left: 0;
  width: 100%;
  clear: both;
  &:last-child,
  &.last {
    margin-bottom: 0;
  }
  &.multiple a {
    @extend %paragraph--tiny;
    margin-top: -0.75em;
    display: block;
  }
  .add-another & {
    margin-bottom: $gutter-one-third;

  }
  &.add-another-group{
    border-bottom: 1px #bfc1c3 solid;
    padding-bottom: $gutter-two-thirds;
  }
  &.add-another-director-change{
    label{
      font-weight: normal;
    }
    fieldset{
      legend{
        font-weight: normal;
      }

    }
  }


} // fieldset

.field {
  @if $app == 'internal'  {
    margin-bottom: $gutter-two-thirds;
  } @else {
    margin-bottom: $gutter;
  }
  overflow: visible;
  @media (max-width: breakpoint('break-3')) {
    margin-bottom: 0.5em;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &.last {
    margin-bottom: 0;
  }
  &.inline {
    margin-bottom: 0;
  }
  &:not(.inline) {
    clear: both;
  }
  &.compound {
    margin-bottom: 10px;
    .inline + & {
      padding-top: $gutter-half;
    }
  }
  &.inline-text {
    display: inline-block;
    margin-bottom: 0;
    input {
      margin-right: 10px;
      width: 4.2em;
    }
  }
  &--two-col {
    float: left;
    width: 47.5%;
    margin-right: 2.5%;
  }
  .add-another & {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0.5em;
  }
}

.pre-selected {
  background: $grey-3;
}

/**
 * Legends & Labels
 */

legend {
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}

legend,
.legend {
  @if $app == 'selfserve' { @extend %h3; }
  padding: 0;
  font-weight: 700;
  margin-bottom: 10px;
  .highlight-box & {
    float: left;
    width: 100%;
  }
}

label,
.label {
  @extend %h4;
  display: block;
  .checkbox.has-advanced-labels & {
    @extend %h5;
    position: relative;
    width: 100%;
    padding-left: ($gutter-half * 2.5);
    strong {
      @extend %h4;
      display: block;
      line-height: 1;
      margin-bottom: 0.2em;
    }
    input {
      position: absolute;
      top: $gutter-half;
      left: $gutter-half;
    }
  }
}

/**
 * Inputs
 */

.extra-long {
  width: 100%;
  @if $app == 'internal' {
    max-width: 500px;
  }
}

.long {
  width: $two-thirds;
  @if $app == 'internal' {
    max-width: 350px;
  }
}

.medium {
  width: $half;
  @if $app == 'internal' {
    max-width: 300px;
  }
}

.short {
  width: 140px;
}

.tiny {
  width: 70px;
}

@media (max-width: breakpoint('break-3')) {
  .extra-long,
  .long,
  .medium {
    width: 100%;
  }
  .short,
  .tiny {
    width: $half;
  }
}

input,
textarea,
.terms--box {

  @extend %paragraph;

  background-color: $white;
  border: 2px solid;
  max-width: 600px;

  padding: theme(
    $internal: 0.5em 0.75em,
    $selfserve: 5px 6px 4px 6px
  );

  border-color: theme(
    $internal: $black,
    $selfserve: $black
  );

}

textarea,
.terms--box {
  min-height: 10em;
  overflow: auto;
  vertical-align: top;
}

.terms--box {
  height: 200px;
}

select {
  max-width: 500px;
  background-color: $grey-4;
  font-size: theme(
    $internal: font-size(2),
    $selfserve: font-size(4)
  );
  border-color: theme(
    $internal: $grey-2,
    $selfserve: $grey-2
  );
  .filters & {
    width: 99%;
    margin-right: 0;
  }
  [class*="sidebar"] & {
    width: 100%;
  }
  &[multiple] {
    @extend %paragraph--tiny;
    min-width: 200px;
    padding: 0.25em;
    display: block;
    background-color: $grey-4;
    &.tall {
      height: 10em;
    }
  }
}

[type="submit"] {
  background: none;
  border: 0;
  padding: 0;
  text-decoration: underline;
  color: $link-colour;
  font-family: $font--primary;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  b & {
    font-weight: 600;
  }
  &:hover {
    color: $link-active-colour;
  }
}

input,
textarea,
select,
input.govuk-input,
%focused {
  &:focus {
    outline: 3px solid $outline;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
  }
}

/**
 * Attach/Upload Files
 */

.file-uploader {
  ul {
    list-style: none;
    @if $app == 'selfserve' {
      max-width: 700px;
    }
  }
}

.attach-action {

  [type="file"] {
    width: 100%;
    border: 0;
    background: $grey-4;
    padding: 15px 15px 10px;
    border-left: 4px solid $grey-3;
    margin-top: 0.25em;
  }

  &__list {
    list-style: none;
    .js-enabled & {
      margin-bottom: 15px;
    }
  }



  &__label {
    .js-enabled & {
      @extend .action--secondary;
      @extend %h4;
      display: inline-block;
      margin-bottom: 10px;
      &:focus {
        outline: 3px solid $outline;
      }
    }
    @if $app == 'selfserve' {
      &.focused {
        outline: 3px solid $outline;
      }
    }
    &:before {
      @include svg('attachment');
      content: '';
      display: inline-block;
      float: left;
      height: 19px;
      width: 19px;
      margin: 0 2px -5px -2px;
    }
  }

  &__hint {
    @extend %hint;
    @extend %paragraph--small;
    .js-enabled & {
      display: inline-block;
      width: auto;
      margin-left: 10px;
    }
  }

} // .attach-action


.file {
  @extend %paragraph--small;
  position: relative;
  display: block;
  display: flex;
  @media (max-width: $mobile-column-stack) {
    flex-direction: column;
    overflow: hidden;
  }
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 7px 0px;
  color: $grey-1;
  border-bottom: 1px solid $grey-2;

  &:last-child{
    margin-bottom: $gutter-half;
  }
  &.invalid {
    border-left-color: $mellow-red;
    background-color: $warning-background;
  }
  span.file__preloader {
    @extend %preloader-light;
    display: inline-block;
    //float: left;
    flex:  0 0 20px;
    width: 20px;
    height: 20px;
    @media (max-width: $mobile-column-stack) {
      display: block;
      width: 100%;
      float: none;
    }
  }
  span.file__remove, input.file__remove {
    //float: right;
    @extend %paragraph--small;
    //width: 20%;
    flex: 0 0 100px;
    text-align: right;
    margin-right: 0;
    padding-right: 0;
    @media (max-width: $mobile-column-stack) {
      display: block;
      width: 100%;
      float: none;
      text-align: left;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  &__image-container {
    max-width: 300px;
    padding: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  span {
    margin-right: 1rem;
    text-align: right;
    display: inline-block;
    flex:  1 0 60px;
    @media (max-width: $mobile-column-stack) {
      display: block;
      width: 100%;
      float: none;
      text-align: left;
    }
  }

  a {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    margin-right: 1rem;
    @extend %clearfix;
    max-width: 75%;
    //flex:  2 0 50%;
    @media (max-width: $mobile-column-stack) {
      display: inline-block;
      width: 100%;
      float: none;
      max-width: 100%;

    }
  }

  &__heading {
    @extend %h5;
    display: block;
    margin-bottom: 0;
    border-bottom: 1px solid $grey-2;
  }
}

.file__link {
  word-wrap: break-word;
  max-width: 300px;
  display: inline-block;
}

.inline-upload {
  .selfserve & {
    @extend %h4;
  }
}

/**
 * Validation
 */

.validation-summary {

  @extend %paragraph;

  border: 4px solid $error-colour;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
  padding: $gutter-half 10px;

  @include media(tablet) {
    border: 5px solid $error-colour;
    margin-top: $gutter;
    margin-bottom: $gutter;
    padding: $gutter-two-thirds $gutter-half $gutter-half;
  }

  &:first-child {
    margin-top: 0;
  }

  &__list {
    padding-left: $gutter-half;
  }

  &__item {
    &,
    a {
      color: $error-colour;
    }
    font-weight: bold;
    text-decoration: underline;
    @include media(tablet) {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &,
    a {
      color: $error-colour;
    }
  }

}

.validation-wrapper {

  @extend %contain-floats;
  padding-left: $gutter-half;
  border-left: 5px solid $error-colour;
  margin-bottom: $gutter-half;

  > ul,
  .field > ul {
    list-style: none;
    padding-left: 4px;
  }

  .radio-button__fieldset > ul {
    list-style: none;
  }

  table & {
    border-left: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    @extend %paragraph;
    color: $error-colour;
    font-weight: bold;
    &:not(:last-child) {
      margin-bottom: $gutter-half;
    }
  }

  // Ensure enhanced dropdowns have correct typography
  .chosen-container {
    * {
      color: $black;
      font-weight: 100;
      text-transform: none;
      font-size: inherit;
    }
    li {
      margin-bottom: inherit;
    }
  }

  input,
  select {
    border: 4px solid $error-colour;
  }

}

/**
 * Locked
 *
 * This is used to indidcate that a field or fieldset cannot be updated
 * without creating a variation or new application
 */

.locked-icon {
  @include svg('lock');
  margin-left: 5px;
  display: inline-block;
}

.icon {
  display: inline-block;
  margin: 0 5px;
}

/**
 * Confirmation
 */

.checkbox.confirm {
  label {
    @extend %h4;
    float: none;
  }
}

/**
 * Hints
 */

%hint,
.hint {
  @extend %paragraph;
  display: block;
  color: $grey-1;
  width: 90%;
  max-width: 600px;
  clear: both;
  margin-bottom: 0;
  padding-top: 10px;
  &__below {
    margin-top: 10px;
  }
  &__black {
    color: $black;
  }
  @if $app == 'internal'  {
    font-size: font-size(3);
  }
  &--small {
    @extend %paragraph--small;
  }
  legend + &,
  .compound &,
  .compound + & {
    padding-top: 0;
  }
  legend + & {
    margin-bottom: $gutter-half;
  }
  label + & {
    padding-top: 0;
    margin-bottom: $gutter-one-third;
  }
  .inline-text + & {
    padding-top: 0;
  }
}

/**
 * Search Filter
 */

.form__filter {
  float: none;
  label {
    @extend %paragraph--small;
  }
}

.form-hint {
  color: $grey-1;
}

/**
 * Selfserve only styles
 */

@if $app == 'selfserve' {

  .chosen-container {
    max-width: 440px;
  }

} // selfserve only

/**
 * Internal only styles
 */

@if $app == 'internal' {
  legend {
    font-weight: normal;
    @extend %h4;
  }

  .tracking {
    .field {
      width: 50%;
      float: left;
      margin-bottom: 15px;
      clear: none;
    }
    label {
      float: left;
      width: 150px;
      margin-right: 10px;
    }
  }

  // do not display break tags in generated markup for
  // submission comments
  .submission .comment {
    br {
      display: none;
    }
  }
}

// OLCS-15394 - find out how to add 'form-element__label' class
// to 'Date of advert' legend in Operating Centres
.adPlacedDate legend {
  @extend .form-element__label !optional;
}
