/**
 * Links
 */

a {
  color: $link-colour;
  &:active,
  &:hover {
    color: $link-active-colour;
    outline: 0;
  }
  @if $app == 'selfserve' {
    &:focus {
      outline: 3px solid transparent;
      color: $black;
      background-color: $outline;
      -webkit-box-shadow: 0 -2px $outline, 0 4px $black;
      box-shadow: 0 -2px $outline, 0 4px $black;
      text-decoration: none;
    }
  }
}

.visuallyhidden{
  position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0,0,0,0); border: 0;
}

.disabled {
  text-decoration: none;
  color: $grey-1;
}

.download {
  font-weight: 600;
  padding: 5px 0;
  display: inline-block;
  cursor: pointer;
  &:before {
    @include svg('selfserve-document');
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
  }
  &:hover {
    text-decoration: underline;
  }
  &.print-form {
    margin-bottom: 1.5em;
  }
}

@if $app == 'internal' {
  table a:visited {
    color: #6439A7;
  }
}