/**
 * Navigation
 */

%navigation {
  list-style: none;
  width: 100%;
  overflow: auto;
  .current {
    color: $black;
  }
}

%navigation__item {
  float: left;
  margin-bottom: 0;
}

%navigation__link {
  display: block;
  position: relative;
}

.notification-count {
  position: relative;
  top: -0.1em;
  margin-top: -0.5em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background-color: #d4351c;
  font-size: 0.8em;
  display: inline-block;
}

.notification-count__number {
  display: inline-block;
  margin-top: 0.15em;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 100%;
}

.internal .horizontal-navigation .notification-count {
  top: 1em;
  left: -1em;
}

.internal .horizontal-navigation .current .notification-count {
  top: 0.5em;
  left: 0.3em;
}
