<?xml version="1.0"?>
<psalm
  errorLevel="6"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://getpsalm.org/schema/config"
  xsi:schemaLocation="https://getpsalm.org/schema/config vendor-bin/psalm/vendor/vimeo/psalm/config.xsd"
  findUnusedBaselineEntry="true"
  findUnusedCode="false"
>
  <projectFiles>
    <directory name="src"/>
    <ignoreFiles>
      <directory name="vendor"/>
    </ignoreFiles>
  </projectFiles>
    <issueHandlers>
      <InvalidExtendClass>
        <errorLevel type="suppress">
          <!-- Laminas have added annotations to some classes we extend, to signify they will be final in upcoming versions -->
          <directory name="src/Validators" />
          <file name="src/Util/ArrayInput.php" />
          <file name="src/Router/Query.php" />
        </errorLevel>
      </InvalidExtendClass>
      <MethodSignatureMismatch>
        <errorLevel type="suppress">
          <!-- Laminas have added annotations to some classes we extend, to signify they will be final in upcoming versions -->
          <directory name="src/Validators" />
          <file name="src/Util/ArrayInput.php" />
          <file name="src/Router/Query.php" />
        </errorLevel>
      </MethodSignatureMismatch>
    </issueHandlers>
</psalm>
