---
title: Convictions and penalties guidelines
layout: base.hbs
user: operator
---

<div class="row">

  <div class="three-quarters">
    <div class="article">
      <p>You must tell the Traffic Commissioner about offences that involve:</p>
      <ul>
        <li>anybody you’ve named in your application</li>
        <li>companies directed by anybody you’ve named</li>
        <li>parent companies, if you’re a limited company</li>
      </ul>
      <details class="help">
        <summary class="help__summary">Which offences do they need to know about?</summary>
        <div class="help__text">
          <p>The Traffic Commissioner needs to know if anybody you’ve named has been convicted of an offence related to:</p>
          <ul>
            <li>the <a href="http://www.legislation.gov.uk/ukpga/1995/23/contents">Goods Vehicles (Licensing of Operators) Act 1995</a></li>
            <li>the <a href="http://www.legislation.gov.uk/ukpga/1968/73/contents">Transport Act 1968</a> or the<a href="http://www.legislation.gov.uk/ukpga/Eliz2/8-9/16/contents/enacted">Road Traffic Act 1960 </a></li>
            <li>section 13 of the <a href="http://www.legislation.gov.uk/ukpga/1979/5/contents">Hydrocarbon Oil Duties Act 1979</a></li>
            <li>sections 53, 74, 173 and 174 of the <a href="http://www.legislation.gov.uk/ukpga/1988/52/contents">Road Traffic Act 1988</a></li>
            <li>section 2 of the <a href="http://www.legislation.gov.uk/ukpga/1975/46/contents">International Road Haulage Permits Act 1975</a></li>
            <li>section 3 of the <a href="http://www.legislation.gov.uk/ukpga/1974/40">Control of Pollution Act 1974</a></li>
            <li>section 2 of the <a href="http://www.legislation.gov.uk/ukpga/1978/3">Refuse Disposal (Amenity) Act 1978</a></li>
            <li>section 1 of the <a href="http://www.legislation.gov.uk/ukpga/1989/14/contents">Control of Pollution (Amendment) Act 1989</a></li>
            <li>section 33 of the <a href="http://www.legislation.gov.uk/ukpga/1990/43/contents">Environmental Protection Act 1990</a></li>
          </ul>
        </div>
      </details>
      <h3>Spent convictions</h3>
      <p>Under the <a href="">Rehabilitation of Offenders Act 1974</a> you don’t have to declare spent convictions.</p>
      <h3>Standard National and Standard International licences</h3>
      <p>If you’re applying for a Standard National or Standard International Licence you must tell the Traffic Commissioner about offences outside the UK.</p>
      <p>You should also tell them about any convictions where the punishment was either:</p>
      <ul>
        <li>imprisonment for longer than three months</li>
        <li>a fine above level four on the standard scale</li>
        <li>a community service order (or the equivalent) involving unpaid work for more than 60 hours</li>
      </ul>
    </div>
  </div>
</div>