---
title: Help with financial evidence
layout: base.hbs
user: operator
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <p>As part of your application we’ll calculate a sum of money based on the information you’ve provided.</p>
      <p>You must show you have at least this amount when you send your financial evidence.</p>
      <h3>Types of evidence</h3>
      <p>We accept different types of evidence, including:</p>
  
      <details class="help">
        <summary class="help__summary">bank statements</summary>
        <div class="help__text">
          <p>You should provide original bank statements covering the last 28 days. The last date must not be more than 2 months from the date we receive your application.</p>
          <p>If you don’t have original bank statements (if you have an online only account, for example) you can provide printouts. </p>
          <p>Your bank must sign and stamp the printouts to prove they’re a true reflection of your account. </p>
          <p>Printouts must also have:</p>
          <ul>
            <li>the account holder’s name</li>
            <li>the account number</li>
            <li>the name of the bank</li>
            <li>all transactions that took place within the 28-day period</li>
          </ul>
        </div>
      </details>
  
      <details class="help">
        <summary class="help__summary">building society accounts</summary>
        <div class="help__text">
          <p>You should provide original building society statements covering the last 28 days. They’re only acceptable if funds can be drawn down within one month.</p>
          <h4>Large deposits or withdrawals</h4>
          <p>If there are any unusually large deposits or withdrawals that have changed the average balance, we might ask for an explanation from the applicant or operator.</p>
          <p>The Traffic Commissioner may decide to discount these deposits or withdrawals from the average balance. </p>
          <p>Any doubts over the sources of funds will be referred to the Traffic Commissioner</p>
        </div>
      </details>
  
      <details class="help">
        <summary class="help__summary">credit card accounts</summary>
        <div class="help__text">
          <p>Credit card accounts must be in the same name as the person applying or the licence holder.</p>
          <p>They must be supported by original documents to show that the funds available meet the criteria over a 28-day period.</p>
          <p>If a credit card account is your only source of evidence, the Traffic Commissioner may ask why you can’t provide anything else.</p>
        </div>
      </details>
  
      <details class="help">
        <summary class="help__summary">an opening balance</summary>
        <div class="help__text">
          <p>If you’re a new business and don’t have statements for 28 days, we may accept an opening balance, along with an explanation of the source of funds.</p>
          <p>We may ask you to submit more evidence within a certain period after the date of the grant, which is likely to be 6 to 12 months. This will give you a chance to supply three months of evidence.</p>
        </div>
      </details>
  
      <details class="help">
        <summary class="help__summary">overdraft facilities</summary>
        <div class="help__text">
          <p>You can support your account statements with overdraft or credit facilities.</p>
          <p>We only accept formal written commitments from the bank (offers of overdraft or credit facilities aren’t enough).</p>
          <p>We’ll calculate the average balance shown in the statements and add it to your overdraft or credit facility, which will show the amount of credit you have.</p>
          <p>If the average balance is negative we’ll take it away from your overdraft limit.</p>
        </div>
      </details>
  
      <details class="help">
        <summary class="help__summary">invoice finance agreements</summary>
        <div class="help__text">
          <p>We accept invoice finance agreements, but only if they’re accompanied by:</p>
          <ul>
            <li>confirmation of balances that are not drawn down, averaged over a three-month period</li>
            <li>a copy of the signed agreement from the finance company in which they agree to retain the amount of money needed to meet the definition of financial standing</li>
            <li>a completed schedule signed on behalf of the finance company</li>
          </ul>
          <p>If you’re supplying an invoice finance agreement, you must still provide bank statements as laid out above.</p>
        </div>
      </details>
  
      <details class="help">
        <summary class="help__summary">audited accounts</summary>
        <div class="help__text">
          <p>Your audited accounts must:</p>
          <ul>
            <li>be certified by someone who’s properly qualified</li>
            <li>be drawn up clearly</li>
            <li>give a true and fair view of assets, liabilities, financial provision and profit or loss</li>
          </ul>
          <h3>Annual accounts</h3>
          <p>Your annual accounts must have:</p>
          <ul>
            <li>a balance sheet</li>
            <li>evidence that you’re trading profitably on the profit and loss sheet</li>
            <li>notes on the account</li>
            <li>a positive ratio of more than 1.0 (when dividing total assets by total liabilities)</li>
            <li>a positive ratio of more than 0.5 (when dividing current assets by current liabilities)</li>
          </ul>
          <p>You can usually only use your latest audited annual accounts (to a date not more than 18 months before the date of application) if you’re an established limited company or plc with a turnover of more than £5.6m, subject to statutory uprating.</p>
          <p>You can also use annual profit and loss accounts and balance sheets or a statement of an opening balance, but someone accredited must certify them.</p>
          <h3>Smaller businesses</h3>
          <p>Smaller businesses often use annual accounts as extra evidence to prove their finances.</p>
          <p>You may be able to use draft annual accounts if they’re from within 12 months of the date of your application or licence check, but the Traffic Commissioner could ask for more information if you do.</p>
          <h3>Turnovers</h3>
          <p>If your turnover’s less than £5.6m: </p>
          <ul>
            <li>you don’t need to have your accounts audited </li>
            <li>you can send unaudited financial accounts, but the Traffic Commissioner may not place as much weight on them as on independently certified accounts </li>
          </ul>
          <p>If your turnover is more than £1m a chartered or certified accountant must prepare your accounts.</p>
          <p>If you’re relying on accounts to provide evidence, the Traffic Commissioner may ask for more financial checks through either: </p>
          <ul>
            <li>a condition upon grant</li>
            <li>an undertaking</li>
          </ul>
          <h3>Other types of business</h3>
          <p>The checks might show:</p>
          <ul>
            <li>insolvent trading positions</li>
            <li>unpaid taxes such as PAYE/NI/VAT</li>
            <li>cash flow problems </li>
          </ul>
          <p>If your accounts give a different impression to your bank statements, the Traffic Commissioner might ask for more information. You should reply to their questions as soon as you can</p>.
          <h3>Proof of financial standing</h3>
          <p>The Traffic Commissioner may let you prove your financial standing through:</p>
          <ul>
            <li>certificates like bank guarantees</li>
            <li>insurance, including professional liability insurance from banks or other financial institutions like insurance companies</li>
            <li>a joint and several guarantee for the operator</li>
          </ul>
          <p>The evidence must come from an applicant or operator who’s established in Great Britain.</p>
        </div>
      </details>
      <hr />
      <h3>Names</h3>
      <p>All financial documents should be in the same name as the person applying or the person holding the licence.</p>
      <p>For partnerships they should be in the same name as one or both of the people applying, or the licence holders.</p>
      <p>For LLPs the funds must be held within the company.</p>
      <h3>Expanding your business</h3>
      <p>If you want to leave room to expand your business, you must prove you have enough money for all the vehicles you’re planning to operate, not just the ones you’ll operate straight away.</p>
    </div>
  </div><!-- .two-thirds -->
  
  <div class="one-third sidebar">
    {{> _support}}
  </div>

</div>