---
title: Transport Manager prototype
---

<div class="row">

  <div class="two-thirds">
    <ul class="search-navigation">
      <li>
        <a class="search-navigation__item" href="tm/" target="_BLANK">External Transport Manager </a>
        <p>Provide your details as an external Transport Manager.</p>
      </li>
      <br>
      <li>
        <a class="search-navigation__item" href="external-tm/" target="_BLANK">Provide Transport Manager details</a>
        <p>Provide your details as an internal Transport Manager.</p>
      </li>
      <br>
      <li>
        <a class="search-navigation__item" href="operator/" target="_BLANK">Approve Transport Manager</a>
        <p>Check and approve your Transport Manager's details.</p>
      </li>
    </ul>
  </div><!-- .two-thirds -->

</div>