<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">
  <file>./module</file>
  <file>./public</file>
  <file>./config</file>
  <file>./test</file>

  <arg name="extensions" value="php" />
  <exclude-pattern>*/vendor/*</exclude-pattern>

  <rule ref="./vendor/dvsa/coding-standards/src/Profiles/DVSA/CS/ruleset.xml" />

  <!-- declare(strict_types=1) before a docblock is valid modern PHP; don't require docblock-first ordering -->
  <rule ref="PSR12.Files.FileHeader.IncorrectOrder">
    <exclude-pattern>*</exclude-pattern>
  </rule>
</ruleset>
