---
title: Transport Manager details
subtitle: Dave Willis
user: tm
overview: true
---

<div class="row">

  <div class="two-thirds">

    <div class="article">
      <div class="confirmation">
        <h2>Submited and signed with Verify</h2>
        <p>You have successfully provided your details for the Vehicle Operator Licence application <b>OB12374/133</b></p>
      </div>
      <h3>What happens next</h3>
      <p>An owner or Director of Big Trucks Limited will now need to check and approve your details before the application can be considered by the Central Licensing Office.</p>

      <h3>Making changes</h3>
      <p>You can make changes to the details you've provided but you'll need to sign the declaration again.</p>
      <p><a href="index.html">Make changes to your details</a></p>
    </div>

  </div><!-- .two-thirds -->


</div>


<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


