---
title: Print, sign and return
subtitle: Dave Willis
user: tm
overview: true
---

<div class="row">

  <div class="two-thirds">

    {{> _page-header}}

    <div class="article">

      <p>You now need to:</p>
      <ul>
        <li><a href="">Print your details</a></li>
        <li>Sign the declaration at the end of the form</li>
        <li>Get an owner or Director of Big Trucks Limited to sign the declaration</li>
        <li>Return the form to the <a target="blank" href="https://www.gov.uk/government/organisations/traffic-commissioners/about/access-and-opening"> Central Licensing Office</a></li>
      </ul></p>
      <p>You can still <a href="index.html">make changes to your details</a>.</p>

    </div>

  </div><!-- .two-thirds -->
</div>


<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


