---
layout: sign-in.hbs
asset: '../../'
---

<form action="index.html">
  <fieldset>
  	<legend>Change your password</legend>
    <div class="field">
      <label for="new-password">New password</label>
      <input type="password" id="new-password">
    </div>
    <div class="field">
      <label for="reenter-password">Re-enter new password</label>
      <input type="password" id="reenter-password">
    </div>
    <div class="actions-container">
      <button type="submit" class="action--primary large">Continue</button>
    </div>
  </fieldset>
  <input type="hidden" id="security" />
</form>