---
title: Radio Buttons
breadcrumbs:
  - link: index.html
    label: Back to index
---

<div class="row">

  <div class="three-quarters">

    <div class="field error__wrapper">
      <fieldset class="radio-button__fieldset">
        <legend class="">Are these figues correct?</legend>
        <p class="error__text">Please select an option</p>
        <div class="radio-button__container radio-button__container--inline">
          <input type="radio" class="radio-button" name="q1a" id="q1a[Y]" value="Y" data-show-element="#q1a-yes-content">
          <label class ="radio-button__label" for="q1a[Y]">Yes</label>
        </div>
        <div class="radio-button__container radio-button__container--inline">
          <input type="radio" class="radio-button" name="q1a" id="q1a[N]" value="N" data-show-element="#q1a-no-content">
          <label class="radio-button__label" for="q1a[N]">No</label>
        </div>
          <div class="radio-button__hidden-content help__text" id="q1a-yes-content">
            <p>Yes content</p>
          </div>
          <div class="radio-button__hidden-content help__text" id="q1a-no-content">
            <p>No content</p>
          </div>
      </fieldset>
    </div>

    <div class="field error__wrapper">
      <fieldset class="radio-button__fieldset">
        <legend class="">Do you have any other finances?</legend>
        <p class="form-hint">This can incude any factoring/discount facilities or credit cards</p>
        <p class="error__text">Please select an option</p>
        <div class="radio-button__container radio-button__container--inline">
          <input type="radio" class="radio-button" name="q2a" id="q2a[Y]" value="Y" data-show-element="#q2a-yes-content">
          <label class ="radio-button__label" for="q2a[Y]">Yes</label>
        </div>
        <div class="radio-button__container radio-button__container--inline">
          <input type="radio" class="radio-button" name="q2a" id="q2a[N]" value="N" data-show-element="#q2a-no-content">
          <label class="radio-button__label" for="q2a[N]">No</label>
        </div>
        <div class="radio-button__hidden-content help__text" id="q2a-yes-content">
          <div class="field">
            <label for="">How much do you have available?</label>
            <p class="form-hint">This shouldn't incude what you've already utilised.</p>
            <input type="" name="">
          </div>
          <div class="field">
            <label class="form__label" for="">Where do these finances come from?</label>
            <textarea class="" type="" name=""></textarea>
          </div>
        </div>
        <div class="radio-button__hidden-content help__text" id="q2a-no-content">
          <p>No content</p>
        </div>
      </fieldset>
    </div>

    <div class="field">
      <fieldset class="radio-button__fieldset">
        <legend class="">Do you have any other finances?</legend>
        <p class="form-hint">This can incude any factoring/discount facilities or credit cards</p>
        <div class="radio-button__container radio-button__container--inline">
          <input type="radio" class="radio-button" name="q2c" id="q2c[Y]" value="Y" data-show-element="#q2c-yes-content" checked="checked">
          <label class ="radio-button__label" for="q2c[Y]">Yes</label>
        </div>
        <div class="radio-button__container radio-button__container--inline">
          <input type="radio" class="radio-button" name="q2c" id="q2c[N]" value="N" data-show-element="#q2c-no-content">
          <label class="radio-button__label" for="q2c[N]">No</label>
        </div>
        <div class="radio-button__hidden-content help__text" id="q2c-yes-content">
          <div class="field error__wrapper">
            <label for="">How much do you have available?</label>
            <p class="form-hint">This shouldn't incude what you've already utilised.</p>
            <p class="error__text">Enter how much you have available</p>
            <input class="error__input" type="" name="">
          </div>
          <div class="field">
            <label class="form__label" for="">Where do these finances come from?</label>
            <textarea class="" type="" name="">Lorem ipsum.</textarea>
          </div>
        </div>
        <div class="radio-button__hidden-content help__text" id="q2c-no-content">
          <p>No content</p>
        </div>
      </fieldset>
    </div>

    <div class="field">
      <fieldset class="radio-button__fieldset">
        <legend class="">Do you have any other finances?</legend>
        <p class="form-hint">This can incude any factoring/discount facilities or credit cards</p>
        <div class="radio-button__container radio-button__container--inline">
          <input type="radio" class="radio-button" name="q2b" id="q2b[Y]" value="Y" data-show-element="#q2b-yes-content" checked="checked">
          <label class ="radio-button__label" for="q2b[Y]">Yes</label>
        </div>
        <div class="radio-button__container radio-button__container--inline">
          <input type="radio" class="radio-button" name="q2b" id="q2b[N]" value="N" data-show-element="#q2b-no-content">
          <label class="radio-button__label" for="q2b[N]">No</label>
        </div>
          <div class="radio-button__hidden-content help__text" id="q2b-yes-content">
            <div class="field error__wrapper">
              <label for="">How much do you have available?</label>
              <p class="form-hint">This shouldn't incude what you've already utilised.</p>
              <p class="error__text">Enter how much you have available</p>
              <input class="error__input" type="" name="">
            </div>
            <div class="field error__wrapper">
              <label class="form__label" for="">Where do these finances come from?</label>
              <p class="error__text">Enter where these finances come from</p>
              <textarea class="error__input" type="" name=""></textarea>
            </div>
          </div>
          <div class="radio-button__hidden-content help__text" id="q2b-no-content">
            <p>No content</p>
          </div>
      </fieldset>
    </div>

  </div>



</div>
 

