---
title: Tables
breadcrumbs:
  - link: index.html
    label: Back to index
---

<div class="row">

    <div class="three-quarters">

      <div class="empty__wrapper">
        <h3 class="empty__title">Operating centres</h3>
        <div class="empty">
          <p>You haven't added any operating centres yet - add your first one here</p>
          <div class="actions-container">
            <a class="action--primary" href="">Add operating centre</a>
          </div>
        </div>
      </div><!-- .empty__wrapper -->

      <form>
        <div class="table__header">
          <h3>Operating centres</h3>
          <div class="actions-container">
            <a href="" class="action--primary">Add operating centre</a>
          </div>
        </div>
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th>Address</th>
                <th>Vehicle spaces</th>
                <th>Trailer spaces</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-heading="Address"><b><a href="">104 Garrett place, Shrewsbury</a></b></td>
                <td data-heading="Vehicle spaces">12</td>
                <td data-heading="Trailer spaces">4</td>
                <td data-heading=""><a class="right-aligned" href="">Remove</a></td>
              </tr>
              <tr>
                <td data-heading="Address"><b><input type="submit" value="Unit 4, Battelfield Industrial Estate, Shrewsbury"></b></td>
                <td data-heading="Vehicle spaces">10</td>
                <td data-heading="Trailer spaces">2</td>
                <td data-heading=""><a class="right-aligned" href="">Remove</a></td>
              </tr>
              <tr>
                <td data-heading="Address"><b><a href="">28 Timmuses Road, Baschurch</a></b></td>
                <td data-heading="Vehicle spaces">2</td>
                <td data-heading="Trailer spaces">0</td>
                <td data-heading=""><a class="right-aligned" href="">Remove</a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Totals</td>
                <td data-heading="Vehicle spaces">24</td>
                <td data-heading="Trailer spaces">6</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="table__footer">
          <div class="results-settings">
              <p>Show:</p>
              <ul class="results-settings__list">
                  <li class="results-settings__item current">10</li>
                  <li class="results-settings__item"><a href="">25</a></li>
                  <li class="results-settings__item"><a href="">50</a></li>
              </ul>
              <p>results per page</p>
          </div>
          <ul class="pagination right-aligned" role="menu">
              <li class="pagination__item"><a href="" rel="previous">Previous</a></li>
              <li class="pagination__item"><a href="">1</a></li>
              <li class="pagination__item"><a href="">2</a></li>
              <li class="pagination__item current">3</li>
              <li class="pagination__item"><a href="">4</a></li>
              <li class="pagination__item"><a href="">5</a></li>
              <li class="pagination__item">...</li>
              <li class="pagination__item"><a href="">14</a></li>
              <li class="pagination__item"><a href="" rel="next">Next</a></li>
          </ul>
        </div>

      </form>

      <form>
        <div class="table__header">
          <h3>Vehicle</h3>
          <div class="actions-container">
            <a href="" class="action--primary">Add vehicle</a>
            <div class="more-actions">
              <div class="more-actions__button">More actions</div>
              <div class="more-actions__list">
                <input type="submit" class="more-actions__item" value="Remove">
                <button class="more-actions__item">Transfer</button>
                <button class="more-actions__item">Reprint disc</button>
                <input type="submit" class="more-actions__item" value="Export">
              </div>
            </div>
          </div>
        </div><!-- .table__header -->
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th>VRM</th>
                <th>Plated weight</th>
                <th>Specified</th>
                <td><input class="right-aligned" type="checkbox"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-heading="VRM"><b><a href="">LL09 UVE</a></b></td>
                <td data-heading="Plated weight">1500kg</td>
                <td data-heading="Specified">12 May 2014</td>
                <td data-heading=""><input class="right-aligned" type="checkbox"></td>
              </tr>
              <tr>
                <td data-heading="VRM"><b><a href="">LL09 UVE</a></b></td>
                <td data-heading="Plated weight">1500kg</td>
                <td data-heading="Specified">12 May 2014</td>
                <td data-heading=""><input class="right-aligned" type="checkbox"></td>
              </tr>
              <tr>
                <td data-heading="VRM"><b><a href="">LL09 UVE</a></b></td>
                <td data-heading="Plated weight">1500kg</td>
                <td data-heading="Specified">12 May 2014</td>
                <td data-heading=""><input class="right-aligned" type="checkbox"></td>
              </tr>
            </tbody>
          </table>
        </div><!-- .table__wrapper -->
      </form>

      <form>
        <div class="table__header">
          <h3>Directors</h3>
          <div class="actions-container">
            <a href="" class="action--primary">Add director</a>
          </div>
        </div><!-- .table__header -->
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Other names</th>
                <th>Date of birth</th>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-heading="Name"><b><a href="">Miss Cheryl Griffiths</a></b></td>
                <td data-heading="Other Names">no</td>
                <td data-heading="Date of birth">12 Jan 1965</td>
                <td data-heading=""><a class="right-aligned" href="">Remove</a></td>
              </tr>
              <tr>
                <td data-heading="Name"><b><a href="">(Updated) Mr Tom Jones</a></b></td>
                <td data-heading="Other Names">no</td>
                <td data-heading="Date of birth">12 May 1954</td>
                <td data-heading=""><a class="right-aligned" href="">Remove</a></td>
              </tr>
              <tr class="disabled">
                <td data-heading="Name"><input type="submit" class="" name="" value="(Current) Mr Tom Davies-Jones" disabled="disabled"></td>
                <td data-heading="Other Names">no</td>
                <td data-heading="Date of birth">12 May 1954</td>
                <td data-heading=""><a class="right-aligned" href="">Restore</a></td>
              </tr>
              <tr class="disabled">
                <td data-heading="Name"><input type="submit" class="" name="" value="(Removed) Mrs Anita Juan" disabled="disabled"></td>
                <td data-heading="Other Names">no</td>
                <td data-heading="Date of birth">2 Feb 1960</td>
                <td data-heading=""><input class="right-aligned" type="submit" value="Restore"></td>
              </tr>
            </tbody>
          </table>
        </div><!-- .table__wrapper -->
      </form>

    </div><!-- .full-width -->

</div>

<script type="text/javascript">
    OLCS.toggleElement({
      triggerSelector: '.more-actions',
      targetSelector: '.more-actions__list'
    });
</script>

