---
title: Home
subtitle: Operator Licensing Ltd.
layout: base.hbs
user: operator
---

<div class="row">
  
  <div class="two-thirds">
    <div class="empty__wrapper">
      <div class="empty">
        <p>This organisation doesn’t have any Vehcile Operator licences or applications</p>
        <div class="actions-container">
          <a class="action--primary large" href="task-1-complete.html" id="task-1-complete">Apply for a licence</a>
        </div>
      </div>
    </div>
  </div><!-- .two-thirds -->
  
  <div class="one-third sidebar">
  
    <div class="links">
      <h3>More information</h3>
      <ul class="links-list">
        <li target="blank" class="links-list__item">
          <a href="http://gov.uk/being-a-goods-vehicle-operator">Being a goods vehicle operator</a>
        </li>
        <li target="blank" class="links-list__item">
          <a href="https://www.gov.uk/psv-operator-licences">Public Service Vehicle operator licences</a>
        </li>
        <li target="blank" class="links-list__item">
          <a href="https://gov.uk/government/collections/vehicle-safety-and-maintenance-guides">Vehicle safety and maintenance guides</a>
        </li>
      </ul>
    </div>
  
  </div>

</div>

<script type="text/javascript" src="/js/authentication-prototype.js"></script>
