---
title: Bus registrations
layout: base.hbs
user: bus operator
---

<div class="row">

  <div class="two-thirds">
    <h3>Apply online</h3>
    <p>You can manage and view your bus services online through the electronic bus service registration (EBSR) service.</p>
    <p>There are certain I.T requirements that you'll need to meet before you can use EBSR.</p>
    <p>Email <a href="">ebsr@vosa.gov.uk</a> or call 0113 254 3200 for more information.</p>
  </div><!-- ."three-quarters -->

</div>

