---
title: Upload
layout: base.hbs
user: bus operator
breadcrumbs:
  - link: home.html
    label: Home
  - link: bus-registrations.html
    label: Bus registrations
---

<div class="row">
  
  <div class="two-thirds">
  
    <!--
    <div class="validation-summary">
      <h3>There was a problem uploading you files</h3>
      <p>Please try the following:</p>
      <ol class="validation-summary__list">
        <li class="validation-summary__item"><a href="#error1">Your attached file is too big</a></li>
        <li class="validation-summary__item"><a href="#error2">Your attached file is the wrong formate</a></li>
      </ol>
    </div>
    -->
  
    <div class="article">
      <p>Before you upload your EBSR pack check that:</p>
      <ul>
        <li>it's an XML file in .ZIP format</li>
        <li>you've included all details like maps, timetables and letters of support</li>
        <li>you've paid all your fees</li>
      </ul>
    </div>

    <form>
  
      <fieldset>
        <legend>EBSR pack upload</legend>
        <fieldset>
          <legend>Upload type</legend>
            <div class="field--list checkbox">
              <label><input type="radio" name="gender" value="female">Electronic registration</label>
            </div>
            <div class="field--list checkbox">
              <label><input type="radio" name="gender" value="male">Data refresh</label>
            </div>
        </fieldset>
        <details class="help">
          <summary class="help__summary">What's the difference?</summary>
          <div class="help__text">
            <p>Lorem ipsum sit dolor amet</p>
          </div>
        </details>
      </fieldset>
  
      <fieldset class="file-uploader" id="EBSRUploader">
        <ul class="attach-action__list">
          <li class="attach-action">
            <label class="attach-action__label">
              Upload file(s)
              <input class="attach-action__input js-visually-hidden" type="file" name="fileUpload[]">
            </label>
          </li>
        </ul><!-- attach-actions -->
        <!--
        <ul class="attached-file__list">
            <p class="validation-message">This file is too big</p>
            <li class="file invalid">
              <p>Screen Shot 2015-03-18 at 16.29.25.png <span>59 kB</span></p> <a class="file__remove" href="#">Remove</a>
            </li>
            <p class="validation-message">This file is the wrong format</p>
            <li class="file invalid">
              <p>Screen Shot 2015-03-18 at 16.29.25.png <span>59 kB</span></p> <a class="file__remove" href="#">Remove</a>
            </li>
          </div>
        </ul>
        -->
        <ul class="attached-file__list"></ul>
        <input class="inline-upload js-hidden" type="submit" value="Upload">
      </fieldset><!-- .file-uploader -->

      <div class="actions-container">
        <a href="" class="action--primary large">Submit</a>
        <a href="" class="action--tertiary list large">Back to all bus registrations</a>
      </div>
  
    </form>
  
  </div><!-- .three-quarters -->
  
  <div class="one-third sidebar">
    {{> _support}}
  </div><!-- .one-quarter -->

</div>

<script type="text/javascript">
  OLCS.fileUploader({
    selector: "#EBSRUploader",
    isMultiple: true
  });
</script>