---
title: Bus services
layout: base.hbs
user: bus operator
---

<div class="row">

  <div class="full-width">
    <div class="tabs">
      <ul class="tab-list">
        <li class="tab-list__item active"><a href="services.html" aria-select="false" tabindex="0">Registrations</a></li>
        <li class="tab-list__item"><a href="online-submissions.html" aria-select="false" tabindex="-1">Applications</a></li>
      </ul>
    </div>
  </div>

  <div class="one-quarter">
    <form class="filters" onSubmit="return fooSearch();">
      <fieldset>
        <legend>Search</legend>
        <div class="field">
          <label for="search">Enter keywords</label>
          <input id="search" name="search" type="search" class="extra-long">
        </div>
        <div class="field inline">
          <label for="" id="showCancelledServices">
            Show cancelled services
            <input type="checkbox" class="checkbox inline">
          </label>
        </div>
      </fieldset>
    </form>
    {{> _support }}
  </div>

  <div class="three-quarters">

    <!-- Registered bus services -->

    <div class="table__header">
      <h3>1 Service</h3>
      <div class="actions-container">
        <a href="register-change.html" class="action--primary">Register, change or cancel</a>
      </div>
    </div>

     <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Registration number</th>
            <th>Variation</th>
            <th>Service number(s)</th>
            <th>Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><a href="bus-registration.html">PB0000092/28</a></strong><span class="status green">Registered</span></td>
            <td>41</td>
            <td>59 (57)</td>
            <td>22 April 2002</td>
          </tr>
      </table>
    </div>

  </div><!-- column -->

</div><!-- row -->

<!-- Fake Functionality -->

<style>
  tr.cancelled {
    display: none;
  }
</style>

<script type="text/javascript">

  function fooSearch() {
    var response = document.getElementById('search').value;
    if (response == 'PB0000092/28') {
      location = 'services--search--single.html';
    } else {
      location = 'services--search.html';
    }
    return false;
  }

  $('#showCancelledServices input').change(function() {
    if ($(this).prop('checked')) {
      $('tr.cancelled').show();
    } else {
      $('tr.cancelled').hide();
    }
  });

</script>