---
title: Upload status
layout: base.hbs
user: bus operator
---

<div class="row">

  <div class="two-thirds">

    <form>

      <div class="article">
        <h3>Successful</h3>
        <p>You have successfully uploaded your TransXchange files.</p>
        <p>Local authorities will be told about the changes to your services.</p>
        <p>You must <a href="fees.html">pay all your fees</a> before we can consider any applications.</p>
      </div>

      <div class="actions-container">
        <a href="fees.html" class="action--primary large">Go to fees</a>
        <a href="services.html" class="action--tertiary list large">Back to bus registrations</a>
      </div>

    </form>

  </div>

  <div class="one-third">
    <div class="sidebar">
      <div class="support">
        <h3>Support</h3>
        <p>0113 254 3200</p>
        <p><a href="operatorlicensing@otc.gov.uk">ebsr@vosa.gov.uk</a></p>
      </div>
    </div>
  </div>

</div>

<!-- Fake Functionality -->

<script type="text/javascript">
  OLCS.fileUploader({
    selector: "#EBSRUploader",
    isMultiple: true
  });
</script>

