---
title: Home
subtitle: Operator Licensing Ltd.
layout: base.hbs
user: operator
---

<div class="row">
  
  <div class="two-thirds">
  
    <div class="tabs">
      <ul class="tab-list">
        <li class="tab-list__item"><a href="home.html" aria-select="false" tabindex="-1">Licences</a></li>
        <li class="tab-list__item"><a href="fees.html" aria-select="false" tabindex="-1">Fees (3)</a></li>
        <li class="tab-list__item active"><a href="" aria-select="true" tabindex="0">Correspondence (2)</a></li>
      </ul>
    </div><!-- tabs -->
  
    <!-- Licences -->
    <div class="table__header">
      <h3>Correspondance documents</h3>
    </div><!-- .table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Licence number</th>
            <th>Sent</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="new">&#9679;</span><b><a href="">GV - Licence continued</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>09:34, 12 May 2015</td>
          </tr>
          <tr>
            <td><span class="new">&#9679;</span><b><a href="">Fee required - Int. app</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>10:12, 14 May 2015</td>
          </tr>
          <tr>
            <td><b><a href="">Gv Licence</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>17:29, 09 May 2015</td>
          </tr>
          <tr>
            <td><b><a href="">GV Interim direction</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>11:00, 02 Feb 2015</td>
          </tr>
          <tr>
            <td><b><a href="">Variation application granted</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>15:01 25 Jan 2015</td>
          </tr>
          <tr>
            <td><b><a href="">GV - Licence continued</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>14:02 02 Jan 2015</td>
          </tr>
          <tr>
            <td><b><a href="">GV - Licence continued</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>09:34, 12 May 2015</td>
          </tr>
          <tr>
            <td><b><a href="">Fee required - Int. app</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>10:12, 14 May 2015</td>
          </tr>
          <tr>
            <td><b><a href="">Gv Licence</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>17:29, 09 May 2015</td>
          </tr>
          <tr>
            <td><b><a href="">GV Interim direction</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>11:00, 02 Feb 2015</td>
          </tr>
          <tr>
            <td><b><a href="">Variation application granted</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>15:01 25 Jan 2015</td>
          </tr>
          <tr>
            <td><b><a href="">GV - Licence continued</a></b></td>
            <td><a href="">OB125422</a></td>
            <td>14:02 02 Jan 2015</td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->
  
  </div>
  
  <div class="one-third">
    
    <div class="sidebar">
  
      <div class="links">
        <h3>More information</h3>
        <ul class="links-list">
          <li target="blank" class="links-list__item">
            <a href="http://gov.uk/being-a-goods-vehicle-operator">Being a goods vehicle operator</a>
          </li>
          <li target="blank" class="links-list__item">
            <a href="https://www.gov.uk/psv-operator-licences">Public Service Vehicle operator licences</a>
          </li>
          <li target="blank" class="links-list__item">
            <a href="https://gov.uk/government/collections/vehicle-safety-and-maintenance-guides">Vehicle safety and maintenance guides</a>
          </li>
        </ul>
      </div>
    
    </div>
  
  </div>

</div>