---
title: Pay fees
layout: base.hbs
user: bus operator
breadcrumbs:
  - link: home.html
    label: Back to fees
read-only:
  - title:
    editable: false
    type: fields
    groups:
    - group:
      - name: Invoice number
        value: 16252526
      - name: Date invoiced
        value: 16 May 2015
      - name: Status
        value: Outstanding
      - name: Amount
        value: £258

---

<div class="row">
  <div class="three-quarters">

    <div class="table__header">
      <h3>Fees to be payed</h3>
    </div><!-- .table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Invoice number</th>
            <th>Date invoiced</th>
            <th>Licence number</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GV/SN Variation fee</td>
            <td>16252526</td>
            <td>16 May 2015</td>
            <td>OB1524242</td>
            <td>£258.00</td>
          </tr>
          <tr>
            <td>GV/SN Variation fee</td>
            <td>16252526</td>
            <td>16 May 2015</td>
            <td>OB1524242</td>
            <td>£258.00</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Totals</td>
            <td></td>
            <td></td>
            <td></td>
            <td>£516</td>
          </tr>
        </tfoot>
      </table>
    </div><!-- .table__wrapper -->
    <hr />
    <div class="article">
      <h3 class="important">Important</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum blanditiis sed quo dolores omnis quam non deserunt iure voluptas ullam culpa in maxime, soluta architecto fugiat nemo eum hic ab.</p>
      <p>Sit amet, consectetur adipisicing elit. Veniam nisi expedita maiores illo quibusdam quis nemo, libero provident quaerat esse, autem doloremque, magnam perspiciatis, harum veritatis odit praesentium omnis iusto!</p>
    </div><!-- .article -->
    <hr />
    <p>Total</p>
    <h2>£516.00</h2>
    <hr />
    <div class="actions-container">
      <a href="" class="action--primary large">Pay now</a>
      <a href="" class="action--tertiary list large">Cancel</a>
    </div>
  </div>
</div>