---
title: Home
subtitle: Operator Licensing Ltd.
layout: base.hbs
user: operator
---

<div class="row">

  <div class="two-thirds">
  
    <div class="tabs">
      <ul class="tab-list">
        <li class="tab-list__item"><a href="home.html" aria-select="false" tabindex="-1">Licences</a></li>
        <li class="tab-list__item active"><a href="fees.html" aria-select="false" tabindex="0">Fees (3)</a></li>
        <li class="tab-list__item"><a href="correspondence.html" aria-select="true" tabindex="-1">Correspondence (2)</a></li>
      </ul>
    </div><!-- tabs -->
  
    <!-- Licences -->

    <div class="table__header">
      <h3>Pending fees</h3>
      <div class="actions-container">
        <input class="action--primary disabled" type="submit" value="Pay">
      </div>
    </div>

    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Licence number</th>
            <th>Invoiced</th>
            <th class="right">Amount</th>
            <th class="right"><input type="checkbox"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="fee.html">GV/SN Variation fee</a></b><span class="status orange">Outstanding</span></td>
            <td><a href="">OB125422</a></td>
            <td>16/4/2015</td>
            <td class="right">£257</td>
            <td class="right"><a href="">Pay</a><input type="checkbox"></td>
          </tr>
          <tr>
            <td><b><a href="fee.html">GV/SN Variation fee</a></b><span class="status orange">Outstanding</span></td>
            <td><a href="">OB125422</a></td>
            <td>16/4/2015</td>
            <td class="right">£257</td>
            <td class="right"><a href="">Pay</a><input type="checkbox"></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  
  <div class="one-third">
    
    <div class="sidebar">
  
      <div class="links">
        <h3>More information</h3>
        <ul class="links-list">
          <li target="blank" class="links-list__item">
            <a href="http://gov.uk/being-a-goods-vehicle-operator">Being a goods vehicle operator</a>
          </li>
          <li target="blank" class="links-list__item">
            <a href="https://www.gov.uk/psv-operator-licences">Public Service Vehicle operator licences</a>
          </li>
          <li target="blank" class="links-list__item">
            <a href="https://gov.uk/government/collections/vehicle-safety-and-maintenance-guides">Vehicle safety and maintenance guides</a>
          </li>
        </ul>
      </div>
      
    </div>
  
  </div>

</div>