---
title: Vehicle Operator Licensing Styleguide
header-text: <p>This guide explains how to make Vehicle Operator Licensing look consistent with the rest of GOV.UK</p>
---

<h3>Resuable elements</h3>

<div class="row">
  <ul class="list-navigation">
    <li class="list-navigation__item one-third"><a href="elements/alert.html">Alert</a></li>
    <li class="list-navigation__item one-third"><a href="elements/buttons.html">Buttons</a></li>
    <li class="list-navigation__item one-third"><a href="elements/form-elements.html">Form elements</a></li>
    <li class="list-navigation__item one-third"><a href="elements/layout.html">Grid layout</a></li>
    <li class="list-navigation__item one-third"><a href="elements/guidance-help.html">Guidance and help</a></li>
    <li class="list-navigation__item one-third"><a href="elements/modal.html">Modal</a></li>
    <li class="list-navigation__item one-third"><a href="elements/notices.html">Notices</a></li>
    <li class="list-navigation__item one-third"><a href="elements/preloader.html">Preloader</a></li>
    <li class="list-navigation__item one-third"><a href="elements/tables.html">Tables</a></li>
    <li class="list-navigation__item one-third"><a href="elements/typography.html">Typography</a></li>
    <li class="list-navigation__item one-third"><a href="elements/new-radio-buttons.html">Radio Buttons</a></li>
  </ul>
</div>

<br />

<h3>Example pages</h3>

<div class="row">
  <ul class="list-navigation">
    <li class="list-navigation__item one-third"><a href="home.html">Home</a></li>
    <li class="list-navigation__item one-third"><a href="404.html">404</a></li>
    <li class="list-navigation__item one-third"><a href="500.html">500</a></li>
    <li class="list-navigation__item one-third"><a href="application-overview.html">Application overview</a></li>
    <li class="list-navigation__item one-third"><a href="conditions-undertakings.html">Conditions and undertakings</a></li>
    <li class="list-navigation__item one-third"><a href="convictions-penalties.html">Convictions and penalties</a></li>
    <li class="list-navigation__item one-third"><a href="convictions-penalties-NI.html">Convictions and penalties (NI)</a></li>
    <li class="list-navigation__item one-third"><a href="cookie-banner.html">Cookie banner</a></li>
    <li class="list-navigation__item one-third"><a href="correspondence.html">Correspondence</a></li>
    <li class="list-navigation__item one-third"><a href="discs.html">Discs</a></li>
    <li class="list-navigation__item one-third"><a href="fee.html">Fee</a></li>
    <li class="list-navigation__item one-third"><a href="fees.html">Fees</a></li>
    <li class="list-navigation__item one-third"><a href="financial-evidence.html">Financial evidence</a></li>
    <li class="list-navigation__item one-third"><a href="financial-history.html">Financial history</a></li>
    <li class="list-navigation__item one-third"><a href="licence-history.html">Licence history</a></li>
    <li class="list-navigation__item one-third"><a href="operating-centre.html">Operating centre</a></li>
    <li class="list-navigation__item one-third"><a href="operating-centres.html">Operating centres</a></li>
    <li class="list-navigation__item one-third"><a href="payment-successful.html">Payment successful</a></li>
    <li class="list-navigation__item one-third"><a href="print-declarations.html">Printable declarations</a></li>
    <li class="list-navigation__item one-third"><a href="privacy-policy.html">Privacy policy</a></li>
    <li class="list-navigation__item one-third"><a href="read-only-application.html">Read only application</a></li>
    <li class="list-navigation__item one-third"><a href="receipt.html">Receipt</a></li>
    <li class="list-navigation__item one-third"><a href="register-update-cancel-service.html">Register a bus service</a></li>
    <li class="list-navigation__item one-third"><a href="review-submit.html">Review and submit</a></li>
    <li class="list-navigation__item one-third"><a href="safety-and-compliance.html">Safety and compliance</a></li>
    <li class="list-navigation__item one-third"><a href="sign-in.html">Sign in</a></li>
    <li class="list-navigation__item one-third"><a href="tm-home.html">Transport manager home</a></li>
    <li class="list-navigation__item one-third"><a href="trailers.html">Trailers</a></li>
    <li class="list-navigation__item one-third"><a href="vehicle-declarations.html">Vehicle declarations</a></li>
    <li class="list-navigation__item one-third"><a href="vehicle-search-results.html">Vehicle search results</a></li>
    <li class="list-navigation__item one-third"><a href="vehicles.html">Vehicles</a></li>
  </ul>
</div>

<br />

<h3>Prototypes</h3>

<div class="row">
  <ul class="list-navigation">
    <li class="list-navigation__item one-third"><a href="authentication/">Authentication</a></li>
    <li class="list-navigation__item one-third"><a href="bus-registrations/services.html">Bus Registration</a></li>
    <li class="list-navigation__item one-third"><a href="interim/">Request an interim</a></li>
    <li class="list-navigation__item one-third"><a href="search">Search</a></li>
    <li class="list-navigation__item one-third"><a href="submit-app-prototype">Submit your application</a></li>
    <li class="list-navigation__item one-third"><a href="tm-prototype">Transport Managers</a></li>

  </ul>
</div>

<h3>Continuations</h3>
<div class="row">
    <ul class="list-navigation">
        <li class="list-navigation__item one-third"><a href="continuations">start</a></li>
        <li class="list-navigation__item one-third"><a href="continuations/checklist.html">Checklist</a></li>
    </ul>
</div>