---
layout: printable.hbs
---

<div class="printable">

  <div class="printable__address">
    <p><b>Return to:</b></p>
    <p>Hillcrest House,<br />
    386 Harehills Ln,<br />
    Leeds, West Yorkshire,<br />
    LS9 6NF</p>
  </div>

  <div class="printable__meta">
    <dl>
      <dt>Application reference</dt>
      <dd>OB171528/41</dd>
      <dt>Applicant</dt>
      <dd>John Smith Haulage Ltd.</dd>
    </dl>
  </div>

  <div class="printable__header">
    <h2>Application for a new<br />Goods Vehicle Operator's Licence</h2>
  </div>

  <div class="printable__section">
    <p>I understand that by submitting this application online I am accepting the undertakings below; that they will be recorded on the licence; that failure to comply with the conditions or undertakings recorded on the licence may result in the licence being revoked, suspended or curtailed; and that failure to comply with these conditions is also a criminal offence.</p>
    <ul>
      <li>The laws relating to the driving and operation of vehicles used under this licence are observed;</li>
      <li>The rules on drivers’ hours and tachographs are observed, proper records are kept and that these are made available on request;</li>
      <li>Vehicles and trailers are not overloaded;</li>
      <li>Vehicles operate within speed limits;</li>
      <li>Vehicles and trailers, including hired vehicles and trailers, are kept in a fit and serviceable condition;</li>
      <li>Drivers report promptly any defects or symptoms of defects that could prevent the safe operation of vehicles and/or trailers, and that any defects are recorded in writing;</li>
      <li>Records are kept (for 15 months) of all driver reports which record defects, all safety inspections, routine maintenance and repairs to vehicles, and that these are made available on request;</li>
      <li>In respect of each operating centre specified, that the number of vehicles and the number of trailers kept there will not exceed the maximum numbers authorised at each operating centre (which will be noted on the licence);</li>
      <li>An unauthorised operating centre is not used in any traffic area;</li>
      <li>Furthermore, I will notify the traffic commissioner of any convictions against myself, or the company, business partner(s), the company directors, nominated transport manager(s) named in this application, or employees or agents of the applicant for this licence and, if the licence is issued, convictions against the licence holder or employees or agents of the licence holder;</li>
      <li>I will ensure that the traffic commissioner is notified within 28 days of any other changes, for example a change to the proposed maintenance arrangements; a change in the financial status of the licence holder (e.g. if placed in liquidation or receivership), or a change to Limited Company status or partnership, that might affect the licence, if issued.</li>
    </ul>
  </div>

  <div class="signature-box">
    <label for="" class="signature-box__label">Partner's signature</label>
    <input type="text" class="signature-box__input signature" disabled="disabled">
    <label for="" class="signature-box__label">Full name in block capitals</label>
    <input type="text" class="signature-box__input name" disabled="disabled">
    <label for="" class="signature-box__label">Date</label>
    <input type="text" class="signature-box__input date" disabled="disabled">
  </div>
<!--
  <div class="signature-box">
    <div class="signature-box__column">
      <label for="" class="signature-box__label">Transport Manager's signature</label>
      <input type="text" class="signature-box__input signature" disabled="disabled">
      <label for="" class="signature-box__label">Full name in block capitals</label>
      <input type="text" class="signature-box__input name" disabled="disabled">
      <label for="" class="signature-box__label">Date</label>
      <input type="text" class="signature-box__input date" disabled="disabled">
    </div>
    <div class="signature-box__column">
      <label for="" class="signature-box__label">Director's signature</label>
      <input type="text" class="signature-box__input signature" disabled="disabled">
      <label for="" class="signature-box__label">Full name in block capitals</label>
      <input type="text" class="signature-box__input name" disabled="disabled">
      <label for="" class="signature-box__label">Date</label>
      <input type="text" class="signature-box__input date" disabled="disabled">
    </div>
  </div>
 -->
  <p>You must sign and return this form before we can consider your application.<br />
  <b>Return to: </b>Hillcrest House, 386 Harehills Ln, Leeds, West Yorkshire, LS9 6NF</p>

</div>


