---
title: Privacy policy
layout: base.hbs
user: operator
---

<div class="row">
  
  <div class="two-thirds">
    <div class="article">
      <h3>Data protection</h3>
      <p>The Traffic Commissioner (or the DOE in Northern Ireland) will use your personal information as part of their work. </p>
      <p>They may share it with:</p>
      <ul>
        <li>other Traffic Commissioners</li>
        <li>the Department for Transport</li>
        <li>other government departments</li>
        <li>enforcement agencies</li>
      </ul>
      <p>We might also contact you about user research.</p>
      <p>If you apply for a standard licence we’ll add your details to a national register.</p>
      <hr />
      <h3>IP addresses</h3>
      <p>We use IP addresses to:</p>
      <ul>
        <li>monitor trends</li>
        <li>see which pages users visit</li>
        <li>learn how different sections of the population use the site </li>
      </ul>
      <p>We can’t use your IP address to identify you personally.</p>
      <hr />
      <h3>Cookies</h3>
      <p>Our website puts small files called cookies on to your computer. </p>
      <p>Cookies collect information about how you browse the site. They can’t be used to identify you personally.</p>
      <p>We use them to:</p>
      <ul>
        <li>measure how you use the site so we can update and improve it </li>
        <li>remember notifications you’ve seen so we don’t show them to you again</li>
      </ul>
      <p>Find out more about <a href="http://www.aboutcookies.org">how to manage cookies</a>.</p>
      <hr />
      <h4>Which cookies do we use?</h4>
      <div class="table__wrapper">
        <table>
          <thead>
            <tr>
              <th>Cookie</th>
              <th>What it does</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Google Analytics</td>
              <td>Collects information about how you use the site. <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Read more about Google Analytics cookies</a></td>
              <td>See <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google’s guide to cookie usage</a></td>
            </tr>
            <tr>
              <td>PHPSESSID</td>
              <td>Stores temporary information between pages to speed up your browsing</td>
              <td>When you close your browser</a></td>
            </tr>
            <tr>
              <td>authZpath</td>
              <td>Sends you to different servers during busy times so the site doesn’t become too slow</td>
              <td>When you close your browser</a></td>
            </tr>
            <tr>
              <td>secureAuthN and secureToken</td>
              <td>Store basic information about your login details</td>
              <td>When you close your browser</a></td>
            </tr>
            <tr>
              <td>cookieSeen</td>
              <td>Lets us know which banners and pop-ups you’ve seen so we don’t show them to you again</td>
              <td>One month</a></td>
            </tr>
            <tr>
              <td>langPref</td>
              <td>Shows us whether you’re reading in English or Welsh</td>
              <td>When you clear cookies from your browser</a></td>
            </tr>
          </tbody>
        </table>
      </div><!-- .table__wrapper -->
      <hr />
      <h3>Government services</h3>
      <p>Most services we link to are run by different government departments like HMRC or the Home Office.</p>
      <p>These services may set other cookies and will have their own cookie policies.</p>
    </div>
  </div><!-- .two-thirds -->
  
  <div class="one-third">
    <div class="sidebar">
      {{> _support}}
    </div>
  </div>
  
</div>