---
layout: base.hbs
user: operator
title: Review and submit
subtitle: Application OB12524/525
breadcrumbs:
  - link: home.html
    label: Back to application
---

<div class="row">

  <div class="two-thirds">

    <div class="article">
      <h3>Review your application</h3>
      <p>Make sure all the details in your application are correct.</p>
      <p><a href="read-only-application.html" class="download" target="blank">View full application</a></p>
    </div>
    <div class="article divider">
      <h3>Pay the application fee</h3>
      <p>The fee for a Standard National licence application is:</p>
      <h2>£249.00</h2>
      <hr />
    </div>

    <form>
      <h4>Choose a card to pay with</h4>
      <fieldset>
        <fieldset>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="post">Use a new card</label>
          </div>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="verify">**** **** **** 5039</label>
          </div>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="post">**** **** **** 5242</label>
          </div>

        </fieldset>
        <p>If you're unable to pay by card you'll need to telephone the Central Licensing Office on:<br />0113 254 3200</p>
        <hr />
        <div class="action-container">
          <a href="" class="action--primary large" rel="external">Submit and pay</a>
          <a href="" class="action--tertiary large list">Edit application</a>
        </div>
      </form>


  </div><!-- .two-thirds -->


  <div class="one-third">

    <div class="sidebar">

      <dl class="meta">
        <dt>Application reference</dt>
        <dd>OB12524/525</dd>
        <dt>Progress</dt>
        <dd>2 of 13 sections complete</dd>
        <dt>Status</dt>
        <dd>Incomplete</dd>
      </dl>

      <div class="links">
        <h3>Applying for a new licence</h3>
        <ul class="links-list">
          <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
          <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
          <li class="links-list__item"><a href="">Financial information</a></li>
          <li class="links-list__item"><a href="">A guide to operator fees</a></li>
          <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
        </ul>
      </div><!-- .links -->

      {{> _support }}

    </div>

  </div>

</div>