---
title: Home
subtitle: Terry Barrett-Edgecombe
layout: base.hbs
user: tm
---

<div class="row">
  
  <div class="two-thirds">
  
    <!-- Applications -->
    <div class="table__header">
      <h3>Open applications</h3>
      <p>You have been named as a Transport Manager on the following applications. You will need to provide and submit your details for each application before they can be considered by the Operator Licensing Office.</p>
    </div>
  
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Application number.</th>
            <th>Licence number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="">52622</a></b></td>
            <td>OB125242</td>
            <td class="right"><a href="transport-manager.html">Provide details</a></td>
          </tr>
          <tr>
            <td><b><a href="">52622</a></b></td>
            <td>OB125242</td>
            <td class="right"><a href="transport-manager.html">Provide details</a></td>
          </tr>
          <tr>
            <td><b><a href="">52622</a></b></td>
            <td>OB125242</td>
            <td class="right"><a href="transport-manager.html">Provide details</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Licences -->
    <div class="table__header">
      <h3>Licences</h3>
      <p>You are named as a Transport Manager on the following licence:</p>
    </div>
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Licence number</th>
            <th>Type</th>
            <th>Vehciles/trailers</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="">OB1352622</a></b></td>
            <td>Standard national</td>
            <td>24/3</td>
            <td class="right"><a href="">View my responsibilities</a></td>
          </tr>
          <tr>
            <td><b><a href="">PC1352622</a></b></td>
            <td>Restricted</td>
            <td>5/0</td>
            <td class="right"><a href="">View my responsibilities</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
  
  <div class="one-third">
    
    <div class="sidebar">
  
      <div class="links">
        <h3>Useful information for Transport Managers</h3>
        <ul class="links-list">
          <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
          <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
          <li class="links-list__item"><a href="">Financial information</a></li>
          <li class="links-list__item"><a href="">A guide to operator fees</a></li>
          <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
        </ul>
      </div>
    
      {{> _support}}
      
    </div>
  
  </div>

</div>