---
layout: application.hbs
asset: '../../../../'
sectionTitle: Application details
subSectionTitle: Review and declarations
---

<div class="sidebar--left">
  <h4 class="title">Application details</h4>
  {{> _application-navigation}}
</div>

<div class="table-col">
  
  <div class="content__header">
    <h4 class="title">Review and declarations</h4>
  </div>

  <div class="article">
      <h3>Check your details</h3>
      <p>Make sure all the details in your application are correct.</p>
      <p><a href="read-only-application.html" class="download" target="blank">View full application</a></p>
    </div>
    <div class="article">
      <h3>Sign the declaration</h3>
      <p>The declaration must be signed by a business owner or director.</p>
      <p>They can either:</p>
      <ul>
        <li>do this online through GOV.UK Verify</li>
        <li>print, sign and return the declaration to the <a target="blank" href="https://www.gov.uk/government/organisations/traffic-commissioners/about/access-and-opening" rel="external">Central Licensing Office</a></li>
      </ul>
      <p>GOV.UK Verify can speed up the application process. To use it they must be a UK resident with a valid passport.</p>
    </div>

    <form class="article">
      <fieldset>
        <legend>How would you like to sign the declaration?</legend>
        <fieldset>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="verify">use GOV.UK Verify</label>
          </div>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="post">print, sign and return</label>
          </div>
        </fieldset>

      <div class="js-verify">
        <div class="verify">
          <h3>Declarations signed through GOV.UK Verify</h3>
          <p>Verified user: Katy Hasley</p>
          <p>Date: 12 May 2015</p>
          <p class="small"><a href="" rel="external">I want to verify again</a></p>
        </div>
        <h3 class="important">Important</h3>
        <p>By applying I agree to follow the rules below, and I’m aware that:</p>
        <ul>
          <li>the rules will be recorded on my licence</li>
          <li>my licence could be revoked, suspended or curtailed if I don’t follow them </li>
          <li>it’s a criminal offence not to follow the rules</li>
        </ul>
        <div class="steps">
          <h4>Laws</h4>
          <p>I agree to obey laws that cover:</p>
          <ul>
            <li>operating vehicles</li>
            <li>drivers’ hours</li>
            <li>tachographs</li>
            <li>speed limits</li>
          </ul>
          <h4>Passengers</h4>
          <p>I won’t carry more passengers in my vehicles than I’m allowed to.</p>
          <h4>Records</h4>
          <p>I’ll maintain proper records and show them when they’re needed.</p>
          <p>I’ll also:</p>
          <ul>
            <li>keep records of driver reports for 15 months</li>
            <li>record defects, safety inspections, maintenance and repairs</li>
          </ul>
          <h4>Vehicle conditions</h4>
          <p>I’ll keep my vehicles in good condition, and:</p>
          <ul>
            <li>promptly report any defects, or symptoms of them</li>
            <li>record the details in writing</li>
            <li>show records when they’re needed</li>
          </ul>
          <h4>Informing the Traffic Commissioner</h4>
          <p>I’ll tell the Traffic Commissioner within 28 days if:</p>
          <ul>
            <li>there are any other changes that might affect the licence</li>
            <li>anyone mentioned in this application is convicted of an offence</li>
          </ul>
          <h4>Declaration</h4>
          <p>I declare that:</p>
          <ul>
            <li>the statements I’ve made in this application are true</li>
            <li>all supporting evidence is correct</li>
            <li>I understand that it’s an offence to make a false declaration</li>
          </ul>
        </div>
        <div class="field confirm">
          <label>
            <input type="checkbox">
           I declare that the statements in this application are true and the supporting evidence is correct and understand that it’s an offence to make a false declaration. I agree to Vehicle Operator Licensing using my name, address and date of birth provided by GOV.UK Verify.
          </label>
        </div>
        <div class="field confirm">
          <label>
            <input type="checkbox">
           A suitable person has signed the declarations
          </label>
        </div>
        <div class="actions-container">
          <a href="http://govuk-verify.herokuapp.com/intro?requestId=vehicle-operator-licensing" class="action--primary large">Save</a>
          <a href="index.html" class="action--tertiary large list">Cancel</a>
        </div>
      </div><!-- .js-verify -->

    </fieldset>

  </form>

</div>