---
title: Licence review
subtitle: Continue licence PC098819898
layout: base.hbs
user: operator
---

<div class="row">

  <div class="full-width">
    <div class="guidance">
      <p>You should ensure that all information on your current licence is up to date before you apply for a continuation.</p>
      <p>All sections must be reviewed.</p>
    </div>
    <form action="finances.html">
      <fieldset>
        <legend class="visually-hidden">Licence review</legend>
      
      <p class="form-hint">Select a section for review.</p>


      <div class="checkbox__container">
        <input type="checkbox" class="checkbox" name="licence" id="licence" value="Y" data-js-validate="required" data-show-element="#licenceType-hidden">
        <label class="checkbox__label" for="licence">Type of licence</label>
        <div class="checkbox__hidden-content help__text" id="licenceType-hidden">
          <table class="checklist-table">
            <tbody>
            <tr>
              <th>Operating from</th>
              <td class="td--right-aligned">Great Britain</td>
            </tr>
            <tr>
              <th>Type of operation</th>
              <td class="td--right-aligned">Goods</td>
            </tr>
            <tr>
              <th>Type of licence</th>
              <td class="td--right-aligned">Standard International</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="checkbox__container">
        <input type="checkbox" class="checkbox" name="business" id="business" value="Y"  data-js-validate="required" data-show-element="#businessType-hidden">
        <label class="checkbox__label" for="business">Business type</label>
        <div class="checkbox__hidden-content help__text" id="businessType-hidden">
          <table class="checklist-table">
            <tbody>
            <tr>
              <th>Type of business</th>
              <td class="td--right-aligned">Limited Liability Partnership</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="checkbox__container">
        <input type="checkbox" class="checkbox checkbox--error" name="BusinessDetails" id="BusinessDetails" value="Y"  data-js-validate="required" data-show-element="#businessDetails-hidden">
        <label class="checkbox__label checkbox__label--error" for="BusinessDetails">Business details</label>
        <div class="checkbox__hidden-content help__text" id="businessDetails-hidden">
          <table class="checklist-table">
            <tbody>
              <tr>
                <th>Registered company number</th>
                <td class="td--right-aligned">11123345</td>
              </tr>
              <tr>
                <th>Company name</th>
                <td class="td--right-aligned">Test company Limited</td>
              </tr>
              <tr>
                <th>Nature of business</th>
                <td class="td--right-aligned">IT</td>
              </tr>
              <tr>
                <th>Registered address</th>
                <td class="td--right-aligned">12 Harehill Lane, Harehills, PR8 6XS</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="checkbox__container">
        <input type="checkbox" class="checkbox" name="addresses" id="addresses" value="Y"  data-js-validate="required" data-show-element="#addresses-hidden">
        <label class="checkbox__label" for="addresses">Addresses</label>
        <div class="checkbox__hidden-content help__text" id="addresses-hidden">
          <table class="checklist-table">
            <tbody>
              <tr>
                <th>Correspondence address</th>
                <td class="td--right-aligned">12 Harehill Lane, Harehills, PR8 6XS</td>
              </tr>
              <tr>
                <th>Establishment address</th>
                <td class="td--right-aligned">12 Harehill Lane, Harehills, PR8 6XS</td>
              </tr>
              <tr>
                <th>Contact number</th>
                <td class="td--right-aligned">0151 924 5322</td>
              </tr>
              <tr>
                <th>Email</th>
                <td class="td--right-aligned">chdenno@gmail.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="checkbox__container">
        <input type="checkbox" class="checkbox" name="directors" id="directors" value="Y"  data-js-validate="required" data-show-element="#authorisation-hidden">
        <label class="checkbox__label" for="directors">Directors</label>
        <div class="checkbox__hidden-content help__text" id="authorisation-hidden">
          <table class="checklist-table">
            <tbody> 
              <tr>
                <th>Name</th>
                <th class="td--right-aligned">Date of birth</th>
              </tr>    
              <tr>
                <td>Mr Chris Dennett</td>
                <td class="td--right-aligned">26/6/1978</td>
              </tr>
              <tr>
                <td>Mr Jurgen Klopp</td>
                <td class="td--right-aligned">26/6/1978</td>
              </tr>
              <tr>
                <td>Mr Ian Rush</td>
                <td class="td--right-aligned">26/6/1978</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="checkbox__container">
        <input type="checkbox" class="checkbox" name="operating" id="operating" value="Y"  data-js-validate="required" data-show-element="#operating-hidden">
        <label class="checkbox__label" for="operating">Operating Centres &amp; authorisation</label>
        <div class="checkbox__hidden-content help__text" id="operating-hidden">
          <table class="checklist-table">
           <caption class="visually-hidden">list of Operating centres</caption>
            <thead> 
              <tr>
                <th>Operating centre</th>
                <th>Vehicles</th>
                <th class="td--right-aligned">Trailers</th>
              </tr> 
            </thead>
            <tbody>     
            <tr>
              <td>27 Harehills Drive, Leeds, LS1 3TY</td>
              <td>100</td>
              <td class="td--right-aligned">100</td>
            </tr>
            <tr>
              <td>94 Redhill Lane, Wigan, W6 7HU</td>
              <td>100</td>
              <td class="td--right-aligned">100</td>
            </tr>
            <tr>
              <td>26 Edgemoor Road, Liverpool, L4 7RE</td>
              <td>100</td>
              <td class="td--right-aligned">100</td>
            </tr>
            </tbody>
           </table>
           <h3>Authorisation</h3>
          <table class="checklist-table">
           <caption class="visually-hidden">Authorisation details</caption>
            <thead> 
              <tr>
                <th>Traffic area</th>
                <th>Vehicles</th>
                <th>Trailers</th>
                <th class="td--right-aligned">Community licences</th>
              </tr> 
            </thead>
            <tbody>     
            <tr>
              <td>North West of England</td>
              <td>700</td>
              <td>700</td>
              <td class="td--right-aligned">78</td>
            </tr>
            </tbody>
           </table>
        </div>
      </div>

      <div class="checkbox__container">
        <input type="checkbox" class="checkbox" name="Transport" id="Transport" value="Y"  data-js-validate="required" data-show-element="#managers-hidden">
        <label class="checkbox__label" for="Transport">Transport Managers</label>
        <div class="checkbox__hidden-content help__text" id="managers-hidden">

          <table class="checklist-table">
           <caption class="js-hidden">list of Transport managers</caption>
            <thead> 
              <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th class="td--right-aligned">Email</th>
              </tr> 
            </thead>
            <tbody>     
              <tr>
                <td>Mr Chris Dennett</td>
                <td>26/6/1978</td>
                <td class="td--right-aligned">chdenno@gmail.com</td>
              </tr>
              <tr>
                <td>Mr Chris Dennett</td>
                <td>26/6/1978</td>
                <td class="td--right-aligned">chdenno@gmail.com</td>
              </tr>
              </tbody>
            </table>

          
        </div>
      </div>

      <div class="checkbox__container">
        <input type="checkbox" class="checkbox" name="vehicles" id="vehicles" value="Y"  data-js-validate="required" data-show-element="#vehicles-hidden">
        <label class="checkbox__label" for="vehicles">Vehicles</label>
        <div class="checkbox__hidden-content help__text" id="vehicles-hidden">
          <table class="checklist-table">
             <caption class="visually-hidden">list of vehicles</caption>
              <thead> 
                <tr>
                  <th>Registration</th>
                  <th class="td--right-aligned">Weight</th>
                </tr> 
              </thead>
              <tbody>     
              <tr>
                <td>N8 CHD</td>
                <td class="td--right-aligned">110kg</td>
              </tr>
              <tr>
                <td>N8 CHD</td>
                <td class="td--right-aligned">110kg</td>
              </tr>
              <tr>
                <td>N8 CHD</td>
                <td class="td--right-aligned">110kg</td>
              </tr>
              </tbody>
        </table>
        </div>
      </div>

      <div class="checkbox__container">
        <input type="checkbox" class="checkbox" name="Safety" id="Safety" value="Y"  data-js-validate="required" data-show-element="#inspectors-hidden">
        <label class="checkbox__label" for="Safety">Safety Inspectors</label>
        <div class="checkbox__hidden-content help__text" id="inspectors-hidden">

          <table class="checklist-table">
             <caption class="visually-hidden">list of inspectors</caption>
              <thead> 
                <tr>
                  <th>Inspector</th>
                  <th class="td--right-aligned">Operating centre</th>
                </tr> 
              </thead>
              <tbody>     
              <tr>
                <td>Mr. Ian Rush</td>
                <td class="td--right-aligned">12 Harehill Lane, LS1 6HY</td>
              </tr>
              <tr>
                <td>Mr. Ian Rush</td>
                <td class="td--right-aligned">12 Harehill Lane, LS1 6HY</td>
              </tr>
              <tr>
                <td>Mr. Ian Rush</td>
                <td class="td--right-aligned">12 Harehill Lane, LS1 6HY</td>
              </tr>
              <tr>
                <td>Mr. Ian Rush</td>
                <td class="td--right-aligned">12 Harehill Lane, LS1 6HY</td>
              </tr>
      
              </tbody>
             </table>

             <h3>Safety inspection details</h3>

             <table class="checklist-table">
              <tbody>
                <tr>
                  <th>Maximum time between vehicle safety inspections</th>
                  <td class="td--right-aligned">7 Weeks</td>
                </tr>
                <tr>
                  <th>Maximum time between trailer safety inspections</th>
                  <td class="td--right-aligned">7 Weeks</td>
                </tr>
                <tr>
                  <th>Are some of the vehicles or trailers inspected more frequently than the interval stated above?</th>
                  <td class="td--right-aligned">Yes</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>


      </fieldset>
      
      <div class="actions-container" data-group="form-actions">
        <button type="submit" name="form-actions[saveAndContinue]" class="action--primary large" id="form-actions[saveAndContinue]" value="">Continue</button>
      </div>
      </form>
    </form>
  </div>

</div>
  
<script>
var OLCS = OLCS || {};
OLCS.ready(function(){
  OLCS.validation.addEvent();
});
</script>


