<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="OLCS Selfserve Application">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../module/Olcs/src</directory>
            <directory suffix=".php">../module/Permits/src</directory>
            <exclude>
                <directory>../module/Olcs/src/Table/</directory>
                <directory>../module/Olcs/src/Form/</directory>
                <directory>../module/Permits/src/Permits/Table/</directory>
                <directory>../module/Permits/src/Permits/Form/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
