---
title: Buttons
---

<h3>Primary Buttons</h3>

<div class="actions-container">
  
  <button class="action--primary" type="submit">Button</button>
  <input class="action--primary" value="Input" type="submit">
  <a href="" class="action--primary">Anchor</a>
  <button class="action--primary disabled" type="submit" disabled="disabled">Disabled</button>
  
</div>

<hr />

<h3>Secondary Buttons</h3>

<div class="actions-container">
  
  <button class="action--secondary" value="Edit" type="submit">Button</button>
  <input class="action--secondary" value="Input" type="submit">
  <a href="" class="action--secondary">Anchor</a>
  <button class="action--secondary" value="Edit" type="submit" disabled="disabled">Disabled</button>
  
</div>

<hr />

<h3>Delete Buttons</h3>

<div class="actions-container">
  
  <button class="action--delete" value="Edit" type="submit">Button</button>
  <input class="action--delete" value="Input" type="submit">
  <a href="" class="action--delete">Anchor</a>
  <button class="action--delete disabled" value="Edit" type="submit" disabled="disabled">Disabled</button>
  
</div>

<hr />

<h3>Tertiary Buttons</h3>

<div class="actions-container">
  
  <button class="action--tertiary" value="Edit" type="submit">Button</button>
  <input class="action--tertiary" value="Input" type="submit">
  <a href="" class="action--tertiary">Anchor</a>
  <button class="action--tertiary disabled" value="Edit" type="submit" disabled="disabled">Disabled</button>
  
</div>

<hr />

<h3>Large Buttons</h3>

<div class="actions-container">
  
  <button class="action--primary large" value="Edit" type="submit">Generate</button>
  <button class="action--secondary large" value="Edit" type="submit">Generate</button>
  <button class="action--delete large" value="Edit" type="submit">Generate</button>
  <button class="action--tertiary large" value="Edit" type="submit">Generate</button>
  
  <br /><br />
  
  <button class="action--primary large" value="Edit" type="submit" disabled="disabled">Generate</button>
  <button class="action--secondary large" value="Edit" type="submit" disabled="disabled">Generate</button>
  <button class="action--delete large" value="Edit" type="submit" disabled="disabled">Generate</button>
  <button class="action--tertiary large" value="Edit" type="submit" disabled="disabled">Generate</button>
  
</div>