---
title: Guidance and help
breadcrumbs: 
  - link: index.html
    label: Back to index
---

<div class="row">
  
  <div class="two-thirds">

    <h3>Guidance note</h3>

    <div class="guidance">
      <p>You need to demonstrates there are sufficient financial resources to maintain the vehicles and run the business.<br />
        <a href="">More guidance on financial evidence</a>
      </p>
    </div>
  
    <h3>Inline help</h3>

    <details class="help">
      <summary class="help__summary">How is the financial evidence calculated?</summary>
      <div class="help__text">
        <p>Standard national and international licence applicants will be required to demonstrate £7400 for the first vehicle and £4100 for each additional vehicle they request to be authorised</p>
        <p>The rates for restricted licence holders and applicants are £3100 for the first vehicle and £1700 for each additional authorised vehicle.</p>
      </div>
    </details>
  
  </div>

</div>