---
title: Grid layout
---

<!-- move to CSS -->
<style>
  .row {
    margin-bottom: 2em;
  }
  .col-content {
    background: #005ea5;
    color: white;
    padding: 0.75em;
  }
</style>

<h3>One-half columns</h3>

<div class="row">

  <div class="one-half">
    <div class="col-content">Column - one half</div>
  </div>

  <div class="one-half">
    <div class="col-content">Column - one half</div>
  </div>

</div>

<h3>One-third columns</h3>

<div class="row">

  <div class="one-third">
    <div class="col-content">Column - one third</div>
  </div>

  <div class="one-third">
    <div class="col-content">Column - one third</div>
  </div>

  <div class="one-third">
    <div class="col-content">Column - one third</div>
  </div>

</div>

<h3>One-quarter columns</h3>

<div class="row">

  <div class="one-quarter">
    <div class="col-content">Column - one quarter</div>
  </div>

  <div class="one-quarter">
    <div class="col-content">Column - one quarter</div>
  </div>

  <div class="one-quarter">
    <div class="col-content">Column - one quarter</div>
  </div>

  <div class="one-quarter">
    <div class="col-content">Column - one quarter</div>
  </div>

</div>

<h3>Eigths columns (three &amp; five)</h3>

<div class="row">

  <div class="three-eigths">
    <div class="col-content">Column - three eigths</div>
  </div>

  <div class="five-eigths">
    <div class="col-content">Column - five eigths</div>
  </div>

</div>

<h3>Two-thirds column</h3>

<div class="row">

  <div class="two-thirds">
    <div class="col-content">Column - two thirds</div>
  </div>

  <div class="one-third">
    <div class="col-content">Column - one third</div>
  </div>

</div>

<h3>Three-quarters column</h3>

<div class="row">

  <div class="three-quarters">
    <div class="col-content">Column - three quarters</div>
  </div>

  <div class="one-quarter">
    <div class="col-content">Column - one quarter</div>
  </div>

</div>

<h3>Full-width column</h3>

<div class="guidance full-width">
  Before using a full-width column, esure that an unstyled div (which by default is also 100% width) is not more appropriate.</p>
</div>

<div class="row">

  <div class="full-width">
    <div class="col-content">Column - full width</div>
  </div>

</div>