---
title: Operating centres
subtitle: Step 3 of 12
layout: base.hbs
breadcrumbs: 
  - link: home.html
    label: Home
  - link: overview.html
    label: Licence overview
---

<div class="preloader-overlay--modal"></div>
<div class="preloader-icon--modal"></div>

<div class="row">
  
  <div class="three-quarters">
  
      <!-- Licences -->
      <form>
        <div class="table__header">
          <h3>Operating centres</h3>
          <div class="actions-container">    
            <a href="" class="action--primary">Add operating centre</a>
            <a href="" class="action--secondary disabled">Edit</a>
            <a href="" class="action--secondary disabled">Remove</a>
          </div>
        </div><!-- end .table__header -->
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th>Address</th>
                <th>Vehicles</th>
                <th>Trailers</th>
                <th><input type="checkbox"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b><a href="">104 Garrett place, Shrewsbury</a></b></td>
                <td>12</td>  
                <td>4</td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                <td><b><input type="submit" value="Unit 4, Battelfield Industrial Estate, Shrewsbury"></b></td>
                <td>10</td>  
                <td>2</td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                <td><b><a href="">28 Timmuses Road, Baschurch</a></b></td>
                <td>2</td>  
                <td>0</td>
                <td><input type="checkbox"></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Totals</td>
                <td>24</td>
                <td>6</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div><!-- end .table__wrapper -->
      </form>
  
      <form>
        <fieldset>
          <p>Traffic area</p>
          <h3>North East England</h3>
          <p class="hint">Your traffic area is determined by the location of your operating centres.<br />
          For more information and to find your traffci area please visit <a href="">this link</a></p>
        </fieldset>
  
        <fieldset>
          <legend>Authorisation</legend>
          <p class="hint">Enter the total amount of vehicles and trailers you want authorised on the licence you are applying for.</p>
          <div class="field">
            <label>Total number of vehicles</label>
            <input type="text">
          </div>
          <div class="field">
            <label>Total number of trailers</label>
            <input type="text">
          </div>
        </fieldset>
      </form>
      <div class="actions-container">
        <a href="/styleguides/selfserve/overview.html" class="action--primary large">Continue</a>
        <a href="" class="action--secondary large">Save and return</a>
        <a href="" class="action--tertiary">Cancel</a>
      </div>
  
  </div><!-- end .two-thirds -->

</div>