---
layout: my-account.hbs
asset: '../../../../'
subSectionTitle: Change your password
form:
  - fieldsets:
    - legend:
      fields:
        - label: New password
          type: text
          class: medium
        - label: Re-enter new password
          type: text
          class: medium
    actions:
      - label: Save
        class: primary
      - label: Cancel
        class: secondary
---

<div class="sidebar--left">
  <h4 class="title">My account</h4>
  {{> _vertical-navigation }}
</div>

<div class="table-col">
  <div class="content__header">
    <h3 class="title">Change your password</h3>
  </div>
  {{#each form }}{{> _forms }}{{/each }}
</div>
