---
title: Change your password
user: operator
breadcrumbs:
  - link: my-account.html
    label: My account
---

<div class="row">

  <div class="two-thirds">
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">New password</label>
          <input type="password" class="long">
        </div>
        <div class="field">
          <label for="">Re-enter new password</label>
          <input type="password" class="long">
        </div>
        <div class="actions-container">
          <a href="my-account.html?task-2-complete" class="action--primary large" id="task-2-complete">Save</a>
        </div>
      </fieldset>

    </form>
  </div><!-- .two-thirds -->

</div>