---
layout: base.hbs
user: operator
title: Application overview
subtitle: Application No.9
breadcrumbs:
  - link: home.html
    label: Home
page-actions:
  - View application
  - Withdraw application
---

<div class="row">
  
  <div class="two-thirds">
  
    <div class="article">
      <h2>What do I need to do next?</h2>
      <p>Before your application can be considered you need to complete the outstanding items below</p>
    </div>
  
    <div class="article">

      <div class="incomplete-section">
        <h3>Print, sign and return the declaration form</h3>
        <p>If you haven't already, an owner or Director of the business must sign the declaration form and return it to the <a href="https://www.gov.uk/government/organisations/traffic-commissioners/about/access-and-opening" target="_blank">Central Licensing Office</a>.</p>
        <p><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/394936/GV79-application-for-a-goods-vehicle-operators-licence.pdf" download="declarations.pdf" class="download">Print declaration form</a></p>
        <hr />
      </div>
  
      <div class="incomplete-section">
        <h3>Supply supporting evidence</h3>
        <p>You did not upload the following documents:<br />• <b>Financial evidence</b></p>
        <p>You will need to send these documents to the <a href="https://www.gov.uk/government/organisations/traffic-commissioners/about/access-and-opening" target="_blank">Central Licensing Office</a> along with your application reference number (OB6153563/9).</p>
      </div>
  
      <div class="incomplete-section">
        <h3>Approve Transport Managers</h3>
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>DOB</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Morgan Patel <span class="status green">Approved</span></td>
                <td>7 May 1962</td>
                <td><a class="remove" href="">View details</a></td>
              </tr>
              <tr>
                <td>Dave Willis <span class="status red">Awaiting approval</span></td>
                <td>13 May 1978</td>
                <td><a class="remove" href="">View details</a></td>
              </tr>
            </tbody>
          </table>
        </div><!-- .table__wrapper -->
      </div>
  
      <h3 class="important">Important</h3>
      <p>You are advised that you cannot lawfully operate goods vehicles with a gross plated weight exceeding 3.5 tonnes for the carriage of goods in connection with your trade or business or for hire or reward until your application has been granted, any relevant grant fee has been paid and the licence documents issued or until you have been issued with an interim licence.  If you do so, and this is brought to the attention of the Traffic Commissioner you risk having your application refused.</p>
  
      <p><a href="">Back to home</a></p>
    </div><!-- .article -->
    <hr />
  
  </div><!-- .two-thirds -->
  
  <div class="one-third">
    
    <div class="sidebar">
    
      <dl class="meta">
        <dt>Application reference No.</dt>
        <dd>OB6153563/9</dd>
        <dt>Payment reference No.</dt>
        <dd>16178167</dd> <a href="">Print recipt</a>
        <dt>Submitted</dt>
        <dd>14 September 2015</dd>
        <dt>Target completion date</dt>
        <dd>14 November 2015</dd>
        <dt>Status</dt>
        <dd>Under consideration</dd>
      </dl><!-- .meta -->
    
    </div>
  
  </div>

</div>