/* Main layout */

body {
    padding-top: 0;
    padding-bottom: 40px;
    margin:0px;
    padding:0px;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Arial, sans-serif;
}
body.full-page .container {
    max-width: none;
}
.container {
    max-width: 1020px;
}
.mainc.container {
    min-height: 500px;
    padding: 0 40px;
}
/* END Main layout */

/* Header */
.header {
    background: #000;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    color: #fff;
    margin-bottom: 0;
}
.header .container { 
    height: 50px;
    background-image: url('/img/crown.jpg');
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
.header h2 {
    font-size: 30px;
    font-weight: 200;
    margin-left: 80px;
    margin-top: 8px;
}
.header a {
    color: #fff;
    text-decoration: none;
}
/* End Header */

/* Form styles */

.form-group { font-size: 19px; }
.form-group label { font-weight: normal; }
.form-group.required .control-label:after {
    content: "*";
    color: #3daed7;
}

/* End Form styles */

/* Text styles */

.instruction-text p {
    margin-bottom:3 0px;
    font-size:90%;
    font-weight:lighter;
    font-style:italic;
    color:#aaaaaa;
}

/* End text styles */

/* Navigation progress bar */
nav {
    height: 75px;
    width: 900px;
}
nav ul {
    height: 100%;
    background-image: url('/img/dashed_line.png');
    background-repeat: repeat-x; 
    background-position:  left;
    
}
nav li {
    display:inline-block;
    height: 100%;
    width: 80px;
    
    background-image: url('/img/green_circle.png');
    background-repeat: no-repeat;
    background-position: center;
}
nav li a {
    display: inline-block;
    text-decoration:none;
    color:#666666;
    
    font-size:13px; 
    text-align: center;
  
    height: 100%;
    width: 100%;
}

nav span {
    display: inline-block;
    width: 80px;
    height: 35px;
    position: relative;
    top: 60px;
}


nav li.progress-breadcrumb-on {
    background-image: url('/img/black_circle.png');
    background-repeat: no-repeat;
    background-position: center;
}

nav li a {
    background-image: url('/img/white_arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}
/* END Navigation progress bar */

/* FORM styles */
label, input, select, .instruction-text, button {
    display:block;
    margin:5px 20px 0px 20px;
}


/* End form styles */

/* text styles */
.instruction-text p {
    margin-bottom:30px;
    font-size:90%;
    font-weight:lighter;
    font-style:italic;
    color:#aaaaaa;
}

/* Radio blocks */

.radio-block LABEL {
    display: block;
}

.radio-block {
    margin-bottom: 10px;
}

.radio-block input {
    display: inline;
}

/* END Radio blocks */

/* Footer */

footer {
    clear:both;
}

footer, footer a {
    color:#666666;
    background-color: #dddddd;
}
footer .container {
    padding:20px;
}
footer #footer-text {
    
    font-size:14px;
    line-height: 18px;
    width:600px;  
    display:inline-block;
    height:200px;
    
}
footer #footer-text li {
    display:inline;
    margin-right:10px;
}

footer #footer-logo {
    padding:10px;
    width:150px;
    height:150px;
    position:relative;
    top:-200px;
    left:700px;

}
/* END Footer */

/* text styles */
.instruction-text {
    margin-bottom:3 0px;
    font-size:90%;
    font-weight:lighter;
    font-style:italic;
    color:#aaaaaa;
}


.default-hidden {
    display: none;
}

/* Button CSS */
.btn {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    width: auto;
    min-width: 150px;
    text-align: center;
    text-shadow: none;
    font-size: 16px;
    padding: 8px 15px 7px;
    position: relative;
    text-decoration: none;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #38aed3;
    color: #fff;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #ccc;
    opacity: 1;
}
.btn-next:after,
.btn-search:after,
.btn-note:after,
.btn-save:after,
.btn-new:after,
.btn.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    background: url("/img/OLCS-icons.png") no-repeat;
}
.btn.loading:after {
    background: url("/img/loading-button.gif") no-repeat 0 0;
}
.btn-next { padding-right: 35px }
.btn-next:after {
    width: 8px;
    height: 9px;
    right: 14px;
    margin-top: -4px;
    background-position: 0 -220px;
}
.btn-search,
.btn-note,
.btn-save,
.btn-new,
.btn.loading {
    padding-left: 35px;
}
.btn-search:after,
.btn-new:after {
    width: 14px;
    height: 14px;
    left: 14px;
    margin-top: -7px;
}
.btn-search:after { background-position: 0 -180px }
.btn-new:after {
    margin-top: -4px;
    background-position: 0 -160px;
}
.btn-note:after,
.btn-save:after {
    width: 26px;
    height: 26px;
    left: 10px;
    margin-top: -13px;
}
.btn-note:after { background-position: -40px -30px }
.btn-save:after { background-position: -40px -60px }
.btn.loading:after {
    width: 16px;
    height: 16px;
    left: 19px;
    margin-top: -8px;
}
.btn-small {
    padding: 7px 0 6px;
    min-width: 0;
}
.btn-small {
    width: 36px;
    text-indent: -5000em;
}
.btn-small:after {
    left: 5px;
}
.btn-small.loading:after {
    left: 10px;
}

.btn-next,
.btn-exit {
    float: right;
    margin-left: 10px;
}

.btn-back {
    float: left;
}

/* END Button CSS */
