/* Main layout */

body {
    padding-top: 0;
    padding-bottom: 40px;
    margin:0px;
    padding:0px;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Arial, sans-serif;
}
body.full-page .container {
    max-width: none;
}
.container {
    max-width: 1020px;
}
.mainc.container {
    min-height: 500px;
    padding: 0 40px;
}
/* END Main layout */

/* Header */
.header {
    background: #000;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    color: #fff;
    margin-bottom: 0;
}
.header .container { 
    height: 50px;
    background-image: url('/img/crown.jpg');
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
.header h2 {
    font-size: 30px;
    font-weight: 200;
    margin-left: 80px;
    margin-top: 8px;
}
.header a {
    color: #fff;
    text-decoration: none;
}
/* End Header */

/* Navigation progress bar */
nav {
    height:100px;
}
nav li {
    display:inline;
    margin:5px;
}
nav a {
    text-decoration:none;
    color:#666666;
    font-size:14px;
}
/* END Navigation progress bar */

/* Footer */

footer, footer a {
    color:#666666;
    background-color: #dddddd;
}
footer .container {
        padding:20px;
}
footer #footer-text {
    
    font-size:14px;
    line-height: 18px;
    width:600px;  
    display:inline-block;
    height:200px;
    
}
footer #footer-text li {
    display:inline;
    margin-right:10px;
}

footer #footer-logo {
    padding:10px;
    width:150px;
    height:150px;
    position:relative;
    top:-200px;
    left:700px;

}
/* END Footer */