/* Main layout */

body {
    padding-top: 0;
    padding-bottom: 40px;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Arial, sans-serif;
}
body.full-page .container {
    max-width: none;
}
.container {
    max-width: 1020px;
}
.mainc.container {
    margin-top: 0px;
    padding: 0 40px;
}
/* END Main layout */

/* Bootstrap Grid Mod */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}
.container,
.breadcrumb {
    padding-right: 10px;
    padding-left: 10px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
}
/* END Bootstrap Grid Mod */


/* Button CSS */
.btn {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    width: auto;
    min-width: 150px;
    text-align: center;
    text-shadow: none;
    font-size: 16px;
    padding: 8px 15px 7px;
    position: relative;
    text-decoration: none;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #38aed3;
    color: #fff;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #ccc;
    opacity: 1;
}
.btn-next:after,
.btn-search:after,
.btn-note:after,
.btn-save:after,
.btn-new:after,
.btn.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    background: url("/img/OLCS-icons.png") no-repeat;
}
.btn.loading:after {
    background: url("/img/loading-button.gif") no-repeat 0 0;
}
.btn-next { padding-right: 35px }
.btn-next:after {
    width: 8px;
    height: 9px;
    right: 14px;
    margin-top: -4px;
    background-position: 0 -220px;
}
.btn-search,
.btn-note,
.btn-save,
.btn-new,
.btn.loading {
    padding-left: 35px;
}
.btn-search:after,
.btn-new:after {
    width: 14px;
    height: 14px;
    left: 14px;
    margin-top: -7px;
}
.btn-search:after { background-position: 0 -180px }
.btn-new:after {
    margin-top: -4px;
    background-position: 0 -160px;
}
.btn-note:after,
.btn-save:after {
    width: 26px;
    height: 26px;
    left: 10px;
    margin-top: -13px;
}
.btn-note:after { background-position: -40px -30px }
.btn-save:after { background-position: -40px -60px }
.btn.loading:after {
    width: 16px;
    height: 16px;
    left: 19px;
    margin-top: -8px;
}
.btn-small {
    padding: 7px 0 6px;
    min-width: 0;
}
.btn-small {
    width: 36px;
    text-indent: -5000em;
}
.btn-small:after {
    left: 5px;
}
.btn-small.loading:after {
    left: 10px;
}
/* END Button CSS */

/* Header */
.navbar {
    background: #000;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    color: #fff;
    margin-bottom: 0;
}
.navbar .container { 
    height: 112px;
    background-image: url('/img/British_Embassy_crest_invert_small.jpg') ;
    background-position: 21px 3px;
    background-repeat: no-repeat;
    padding: 0 26px;
}
.navbar h2 {
    font-size: 19px;
    font-weight: normal;
    padding-left: 153px;
    padding-top: 80px;
    margin-top: 0;
}
.navbar a {
    color: #fff;
    text-decoration: none
}
.navbar h2 strong {
    font-size: 25px;
    font-weight: normal;
}

/* END Header */

/* Form styles */

.form-group { font-size: 19px; }
.form-group label { font-weight: normal; }
.form-group.required .control-label:after {
    content: "*";
    color: #3daed7;
}
.form-control { font-size: 19px; }
.form-group input[type=text], .form-group textarea, .form-group select  {
    background-color: #f9f9f9;
    border:1px solid #a2a2a2;
    border-radius:0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-group select {
    padding: 3px;
}
.form-group textarea {
    padding: 6px
}
.form-horizontal .form-group div[class~=itext] { width:320px; }
input[type=text]:focus, textarea:focus { /* Replaces blue shadow highlight with orange */
    border-color: transparent !important;
    outline:0 !important;
    -webkit-appearance:none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    /* border: 3px solid #ffcc33 !important; */
    outline-color: #ffcc33 !important;
    outline-width: 3px !important;
    outline-offset: -2px !important;
    outline-style: solid !important;
}
input[type=radio] {
    margin-right: 8px;
}

/* END Form styles */

/* Table styles */
.tPagBar div {
    margin-left:0;
    padding: 6px 11px 7px 8px;
}
.tbl  {
    margin-left: 11px;
}
.tPagBar li {
    padding: 0;
}
tPagBar li.active {
    padding: 0;
}
.tPagBar li:before {
    content: "|";
    margin-right: 3px;
}
.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: white;
}
.table-striped > tbody > tr:nth-child(even),
.table-striped > tbody > tr:nth-child(even) > td {
    background-color: #e8e8e8;
}
.table thead > tr > th {
    border-bottom-color: #ccc;
    padding-right: 20px;
    vertical-align: top;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.table thead > tr > th .arrUp,
.table thead > tr > th .arrDn {
    float: right;
    margin-right: -10px;
    margin-top: 5px;
}
/* END Table styles*/

/* Misc utility classes */
.tBorder1r { border-right: 1px solid #ccc }
.tBorder2t { border-top: 2px solid #ccc }
.tBorder2b { border-bottom: 2px solid #ccc }
.dev { background-color: #fdd !important; }
.tListHeader, .tFormHeader, .submission-section {
    padding: 10px 0;
}
.tFormHeader {
    overflow: hidden;
    padding-bottom: 29px;
    margin-bottom: 9px;
}
/* END Misc utility classes*/

.cur { cursor: pointer; }
.centre { text-align: center; }
.hddn { visibility: hidden; }
h1, .pheading h1 {
    margin: 15px 0 20px;
    font-size: 36px;
    font-weight: 700;
}
.padb20 {    padding-bottom:20px; }
.linkBlue {    text-decoration: underline; color: blue; }
.inlnf { margin-bottom:15px; }
@media (min-width: 768px) {
    .inlnf { margin-bottom:15px; }
}
@media (min-width: 992px) {
    .inlnf { margin-bottom:15px; }
}
@media (min-width: 1200px) {
    .inlnf { margin-bottom:0px; }
}
.sprt { background-image: url('/img/OLCS-icons.png'); }
.arrDn { background-position: 0px -40px;height: 14px; width: 12px; }
.plsBl { background-position: 0px -20px;height: 20px; width: 20px; }
.arrRt { background-position: 0px -100px;height: 14px; width: 12px; }
.arrUp { background-position: 0px -60px;height: 14px; width: 12px; }
.arrRtWt { background-position: 0px -220px;height: 14px; width: 12px; }
th .arrUp { margin-top:1px; }
.sprpage { background-position: 0px -200px;height: 20px; width: 20px; }
.sprinfo { background-position: 0px 0px;height: 20px; width: 20px; }
.sprDashboard { background-position: 0px 0px;height: 30px; width: 20px; }
.sprHome { background-position: 57px 0px;height: 30px; width: 30px; }
.sprCollapse { background-position: 0px -118px;height: 22px; width: 20px; }
.sprExpand { background-position: 0px -138px;height: 22px; width: 20px; }
.advArr { margin-left: 7px; margin-top:4px; }
.bcrumb { 
    padding-top:15px;
    padding-bottom:10px;
    border-bottom: 1px solid #ccc;
}
.nopad { padding: 0 0; }
a, .link { color:#38aed3; text-decoration: underline; }
.noWrap { white-space: nowrap; }
thead tr th { font-weight: normal; }
.table tr td { border-top:0 !important; }
.tbl table { margin-top:15px }
.sortable, .columnSortable {
    cursor: pointer;
}

/* Page Search */
.dob, .olcs-date-select span.date, .olcs-date-select span.year,
.dobMonth, .olcs-date-select span.month {
    display: inline-block;
    width: 120px;
    padding: 0 32px 0 10px;
    vertical-align: top;
}
.dobMonth, .olcs-date-select span.month {
    width: 200px;
}
.olcs-date-select span.date {
    padding-left: 0px;
}
.olcs-date-select .multiselect, .olcs-date-select .multiselect li {
    margin-bottom: 0;
}

/* END Page Search */

/* Page Search Result */
#searchTerm .list-inline {
    margin-bottom: 6px;
}
#searchTerm .list-inline > li {
    padding-right: 0;
}
#searchTerm .list-inline > li:first-child:before {
    content: none;
}
#searchTerm .list-inline > li:before {
    content: "\2022";
    color: #999;
    margin-right: 4px;
}
.tBgCol {
    background-color: #e8e8e8;
    color: #888;
}
.filter-bar { padding:10px }
td.correAddress > span, td.correAddress > div,
td.opCentAddress > span, td.opCentAddress > div {
    display: block;
    padding-left: 12px;
}
td.correAddress img, td.opCentAddress img {
    float: left;
    margin-top: 6px;
    margin-left: -16px;
}
/* END Page Search Result */

/* Page Case New */
div.case-new-form {
    padding-top: 23px;
}
#vcaseNewForm .btn-next {
    float: right;
}
/* END Page Case New */

/* Page Case Details */
.case-details-header ul.tabs-list {
    margin: 20px 0 -28px;
}
.case-details-header {
    overflow: visible;
    position: relative;
}
.case-details-header .btn-note {
    position: absolute;
    display: block;
    right: 0;
    bottom: 100%;
    z-index: 10;
    margin-bottom: 10px;
}
.case-details-header a.case-edit {
    float: right;
    padding: 10px;
    margin-top: -10px;
}
.case-details-header .details-list > li.description {
    float: right;
    width: 52%;
    padding-right: 30px;
}
.conviction-details-textarea {
    overflow: hidden;
}
.conviction-details-textarea .btn-save {
    float: right;
    margin-top: 26px;
}
/* END Page Case Details */

/* Page Submission View */
.submission-view {
    position: relative;
    margin-right: -10px;
    margin-left: -10px;
    padding: 0 10px;
    border-bottom: 2px solid #ccc;
}
.submission-section {
    margin-right: -10px;
    margin-left: -10px;
    border-top: 2px solid #ccc;
}
.submission-section h2 {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 7px;
}
.submission-section h2,
.submission-section .textContent {
    padding: 0 8px;
}
.submission-section.submission-text h2 {
    margin-bottom: 20px;
}
.submission-section .tableContent {
    padding-bottom: 16px;
}
.submission-section .table {
    font-size: 16px;
    margin-bottom: 0;
}
.submission-section .readmore {
    border-top: 2px solid #ccc;
    padding: 8px;
}
.submission-section .table tbody > tr > td {
    padding: 20px 8px;
}
.submission-owner.details-list {
    margin-top: 6px;
}
.submission-owner.details-list > li {
    padding-left: 0;
}
.submission-owner.details-list .details-list-label {
    width: auto;
    margin-left: 0;
    padding-left: 20px;
    float: none;
    display: inline;
}
.submission-section h1 {
    text-align: center;
}
.submission-notice {
    font-size: 19px;
}
.submission-details.details-list > li {
    margin-bottom: 1em;
}
.submission-person-owner th, .submission-person-owner td {
    width: 350px;
}
.submission-transport-manager th, .submission-transport-manager td {
    width: 160px;
}
.submission-transport-manager th.licences-or-apps, .submission-transport-manager td.licences-or-apps {
    width: 220px;
}
.submission-operating-centre th, .submission-operating-centre td {
    width: 200px;
}
.submission-section th.fluid, .submission-section td.fluid {
    width: auto;
}
.submission-text {
    padding-bottom: 40px;
}
.submission-view .action-edit {
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 9px 5px;
    background: #fff;
}
.submission-view .action-edit.loading:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/img/loading.gif") no-repeat 0 0;
    vertical-align: middle;
    margin: -3px 4px 0 0;
}
.submission-edit-section {
    position: relative;
    margin: 0 -10px;
    padding: 0 10px;
    overflow: hidden;
}
.submission-edit-content .mce-tinymce {
    margin-bottom: 12px;
}
.submission-edit-content .btn {
    margin-bottom: 6px;
}
.submission-edit-content .btn-save {
    float: right;
}
.mce-content-body .submission-section {
    margin: 0;
    padding: 10px;
    border: 0;
}
.submission-recommendation-form {
    border-top: 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0;
}
.submission-recommendation-form .formContent {
    padding: 0 8px;
}
.submission-recommendation-form .multiselect {
    width: 298px;
    margin-right: 55px;
    margin-left: 10px;
    margin-bottom: -9px;
    float: left;
}
.submission-recommendation-form #otherDiv {
    margin-top: 15px;
}
.submission-recommendation-form #otherDiv label {
    margin-left: 10px;
}
.submission-recommendation-form #otherDiv input {
    width: 70%;
    display: inline-block;
}
.submission-recommendation-form .form-group {
    font-size: 14px;
    margin-bottom: 0;
}
.submission-recommendation-form .submission-recommendation-editor {
    margin: 13px 0 14px;
}
.submission-recommendation-form .btn-submit {
    float: right;
    margin-right: 10px;
}
.submission-recommendation-form h2 {
    margin-bottom: 13px;
}
.submission-recommendation-form label {
    font-weight: 400;
}
.submission-send-form {
    padding-bottom: 14px;
}
.submission-recommendation-urgent {
    display: inline-block;
    padding-top: 6px;
    margin-left: 35px;
}
.submission-recommendation-item {
    padding: 0 9px 20px;
}
.submission-recommendation-author {
    color: #999;
}
.submission-recommendation-type {
    font-weight: 700;
    margin: 7px 0;
}
/* END Page Submission View */

/* Overlay Form View */
.overlay-form .form-container {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.overlay-form .btn-next {
    float: right;
}
/* END Overlay Form View */

/* Component tabs list */
ul.tabs-list {
    padding: 0;
    display: table;
    width: 100%;
    font-size: 16px;
}
ul.tabs-list li {
    display: table-cell;
    text-align: center;
    background: #38aed3;
    border-right: 1px solid #fff;
}
ul.tabs-list li.active {
    background: #ccc;
    color: #333;
    margin: 0 -1px;
}
ul.tabs-list li.active a {
    color: #333;
}
ul.tabs-list a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 6px 0 5px;
}
/* END Component tabs list */

/* Component Details List */
.details-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
}
.details-list > li {
    padding-left: 160px;
    width: 45%;
}
.details-list.details-list-columns > li {
    float: left;
    width: 50%;
}
.details-list.details-list-columns > li.long-detail {
    width: 100%;
}
.details-list-label {
    color: #999;
    display: block;
    float: left;
    width: 140px;
    margin-left: -160px;
    padding: 0 0 0 10px;
    text-align: right;
}
/* END Component Details List*/

/* Component Show-collapsed & Readmore */
.show-collapsed, .readmore, .acc-collapsed {
    font-size: 16px;
}
.show-collapsed:after, .readmore a:after, .acc-collapsed:after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 6px;
    background: url("/img/OLCS-icons.png") no-repeat 0 -100px;
}
.show-collapsed.expanded:after, .readmore a:after, .acc-collapsed.expanded:after {
    background-position: 0 -40px;
}
.readmore.expanded a:after {
    background-position: 0 -60px;
}
.readmore a {
    margin-left: 6px;
}
/* END Component Show-collapsed */

/* Component Multiselect */
ul.multiselect, .multiselect ul {
    list-style: none;
    padding: 0;
    font-size: 19px;
}
.multiselect > li {
    margin-bottom: 9px;
}
.multiselect > li > div {
    position: relative;
}
.multiselect ul.selections li {
    margin-top: 9px;
}
.multiselect > li > div > a,
.multiselect ul.options > li > a {
    display: block;
    color: inherit;
    text-decoration: none;
}
.multiselect > li > div > a,
.multiselect ul.selections li {
    padding: 4px 12px;
    position: relative;
}
.multiselect > li > div > a {
    background: #ccc;
}
.multiselect > li > div > a:before,
.multiselect > li > div > a:after,
.multiselect ul.options a.selected:after {
    content: "";
    display: block;
    position: absolute;
}
.multiselect > li > div > a:before,
.multiselect > li > div > a:after {
    left: 100%;
    width: 34px;
    margin-left: 3px
}
.multiselect > li > div > a:before {
    background: #ccc;
    top: 0;
    bottom: 0;
}
.multiselect > li > div > a:after {
    background: url("/img/OLCS-icons.png") no-repeat 13px -260px;
    margin-top: -5px;
    height: 9px;
    top: 50%
}
.multiselect ul.options > li > a {
    padding: 4px 32px 4px 12px;
    position: relative;
    margin: 0 -11px;
}
.multiselect ul.options a:hover {
    background: #888;
    color: #fff;
}
.multiselect ul.options a.selected {
    color: #888;
}
.multiselect ul.options a.selected:hover {
    background: transparent;
}
.multiselect ul.options a.selected:after {
    right: 7px;
    top: 50%;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background: url("/img/OLCS-icons.png") no-repeat 0 -240px;
}
.multiselect ul.options > li:first-child {
    border-top: 1px solid #fff;
}
.multiselect ul.options {
    background: #ccc;
    padding: 0 11px;
    position: absolute;
    border-bottom: 4px solid #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}
.multiselect ul.selections li {
    background: #e8e8e8;
    color: #888;
    padding-right: 30px;
}
.multiselect ul.selections a {
    text-decoration: none;
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -17px;
    padding: 4px 8px;
}

/* END Component Multiselect */

/* Component Id List */
div.id-list-wrapper {
    clear: both;
    text-align: right;
}
div.id-list-wrapper table {
    text-align: left;
}
/* END Component Id List */

/*---- Radio blocking - puts radio buttons on new lines */
.radio-block LABEL {
    display: block;
}

/*---- Inverses Boostrap zebra striping ----*/
.ttip-label {
    color: #a5a5a5;
}

.error-lookup {
    border: solid 2px;
    border-color:red;
    width: 100%;
    background-color:#fdf7f7;
    border-style:solid;
    padding:10px 10px;
    margin-bottom:40px;
}

.error-lookup-header {
    font-size:19px;
}

.error-lookup-header-message {
    font-size:16px;
    color: red;
}
.error-lookup-js {
    padding-top: 20px;
    font-size:16px;
    color: red;
}

.btn-go {
    padding-right:10px !important;
    padding-left:10px !important;
    min-width: 0px;
}

#caseDetailsDiv div:nth-child(3) hr {
    margin-top:10px;
}

.convLink {
    margin-top:10px;
}

li.action-save button {
    min-width:0px;
    padding-right:2px;
    padding-left:1px;
    padding-bottom:5px;
}

.tab-dashboard img { background-position: 57px -117px; width: 30px; height:33px }
.tab-dashboard .active { background-position: 57px -147px; width: 30px; height:33px }
#caseDashboard { width:48px; }
.dashboard-section {
    margin-right: 0;
    margin-left: 0;
    padding-top:10px;
    padding-bottom:10px;
    border-top: 2px solid #ccc;
}
.case-dashboard-details {
    margin-bottom: 20px;
    margin-top: 20px;
}
.case-dashboard-details .details-list-label {
    width: 200px;
    margin-left: -220px;
}
.case-dashboard-details .details-list > li {
    padding-left: 220px;
}
.blue38-bold {
    color: #38aed3;
}

/* Button CSS */
.btn-flex {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    width: auto;
    /*min-width: 150px;*/
    text-align: center;
    text-shadow: none;
    font-size: 16px;
    padding: 8px 15px 7px;
    position: relative;
    text-decoration: none;
}
.btn-flex.active { background: #38aed3; color: #fff; }

/* Accordion styles - collapsible.js */
.accordion, .accordionAll { padding-top:20px; clear: both; }
.accordion .row, .accordionAll .row { margin-bottom:20px; }
.accordion-row { margin-top:5px; margin-bottom:15px }

#caseDetailsTabs, #applicationTabs { padding-top:0; }

.list-blank  li:before {
    content: "";
    list-style: none;
}
.list-blank  li {
    list-style: none;
}
ul.olcscrumb {
    margin:0;
    padding:0;
}
.olcscrumb li {
    padding: 0;
    margin:0;
    display:inline;
    color:#999;
}
.olcscrumb li:before {
    content: url(/img/sepccc.png);
    margin-left: 5px;
    margin-right:3px;
}
.olcscrumb li:after {
}

.olcscrumb li:first-child:before {
    content: "";
    margin-left:0;
    margin-right:0;
}

ul.inlinePaginator {
  display:inline;
  padding-left: 0;
  list-style: none;
}

ul.inlinePaginator > li {
  display: inline-block;
  padding-right: 1px;
  padding-left: 0px;
}

.clear-both {
    clear:both;
}
.olcscrumb li {
    padding: 0;
    margin:0;
    display:inline;
    color:#999;
}
.olcscrumb li:before {
    content: url(/img/sepccc.png);
    margin-left: 5px;
    margin-right:3px;
}

.olcscrumb li:after {
}

.olcscrumb li:first-child:before {
    content: "";
    margin-left:0;
    margin-right:0;
}
#leftFilters ul {
    list-style: none;
    padding:0;
    margin:0;
}
#leftFilters li span {
    padding-left:10px; 
    font-weight: normal;
    font-size: 12px;
}
#leftFilters div.filterSection {
    margin-top:10px;
}
.filterSection div {
    color:black;
}
#leftFilters div.filterHead {
    text-align: right;
}
.clearListFiltersPad {
    margin-top:5px;
}
/*---- Create application page -----*/

.application-new-form .btn-next {
    float: right;
    margin-right: 10px;
}

#licenceTypesContainer {
    display: none;
}

/* Page Application New */
div.application-new-form {
    padding-top: 23px;
}
/* END Application New */

/* Page Application Details */
.application-details-header {
    display:block;
    height:100px;
}
.application-details-header ul.tabs-list {
    margin: 20px 0 -28px;
}
.application-details-header {
    overflow: visible;
    position: relative;
}
.application-details-header .btn-note {
    position: absolute;
    display: block;
    right: 0;
    bottom: 100%;
    z-index: 10;
    margin-bottom: 10px;
}
.application-details-header a.application-edit {
    float: right;
    padding: 10px;
    margin-top: -10px;
}
.application-details-header .details-list > li.description {
    float: right;
    width: 52%;
    padding-right: 30px;
}
.conviction-details-textarea {
    overflow: hidden;
}
.conviction-details-textarea .btn-save {
    float: right;
    margin-top: 26px;
}

.application-details-header .action-edit {
    float:right;
    margin-right:100px;
    list-style-type:none;
}

.application-details-header .col {
    float:left;
    width:50%;
    height:auto;
}
.application-details-header .col li {
    width:100%;
    display:block;
}
.application-details-header ul.col {
    width:50%;
    float:left;
}

th.column-dob, th.columntype-numeric, th.columntype-bool, th.columntype-checkbox,
td.column-dob, td.columntype-numeric, td.columntype-bool, td.columntype-checkbox {
    text-align: center;
}
.noSep:before {
    content: "" !important;
    margin-right: 3px;
}
SPAN.tradingNameEntry {
    display: block;
}

A.closeCross {
    text-decoration: none;
}

/* END Page Application Details */

/* Popup */

.popup-header {
    background-color: #e0e0e0;
    padding: 12px 5px 10px 10px;
    margin: 5px 10px 5px 5px;
    font-weight: bold;
    position: absolute;
    width: 99%;
    top: 0px;
    left: 0px;
}

.popup-content {
    margin-top: 50px;
}

.popup-overlay {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 700px;
    margin: 20px auto;
}

.default-hidden {
    display: none;
}

.application-operator-edit-form .btn-save {
    float: right;
}


/** style for search results in scrollable table **/


table.olcs-fixed-height-list {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom : 16px;
}

table.olcs-fixed-height-list thead,
table.olcs-fixed-height-list tbody,
table.olcs-fixed-height-list tr,
table.olcs-fixed-height-list td,
table.olcs-fixed-height-list th { display: block; }

table.olcs-fixed-height-list tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.olcs-fixed-height-list tbody {
    overflow-y: auto;
}

table.olcs-fixed-height-list thead {
    border-bottom: 2px solid #ccc;
}

table.olcs-fixed-height-list td,
table.olcs-fixed-height-list thead th {
    float: left;
    border-bottom: 0;
}

table.olcs-fixed-height-list tbody td:last-child,
table.olcs-fixed-height-list thead th:last-child {
    border-right: none;
}

/* Per Page Styles */

#popup-application-director-saveAndAddAnotherButton {
    margin-right: 10px;
}
/*---- End ----*/
