/**
 * Application Navigation
 *
 * Used for Internal application sidebar navigation
 */

@if $app == 'internal' {

  /**
   * Configuration
   */

  $mobile-statuses: (
    'complete'   : 'internal-application-complete',
    'edited'     : 'internal-application-edited',
    'warn'       : 'internal-application-warning',
    'incomplete' : 'internal-application-warning'
  );

  /**
   * Component
   */

  .app-navigation {

    @extend %navigation;
    overflow: hidden;
    border-top: 0;
    margin: 0;

    a,
    .current,
    .disabled {
      display: block;
      padding: 11px 20px 10px 0;
      border-bottom: 1px solid $grey-3;
      text-decoration: none;
    }

    .current {
      border-bottom: 3px solid $primary-colour;
      &.no-background {
        background: none;
      }
    }

    &__item {
      @extend %navigation__item;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: left;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 11px;
      }
    }

    @each $status in $mobile-statuses {
      .#{nth($status, 1)} {
        &:before {
          @include svg(nth($status, 2));
        }
      }
    }

  } // .app-navigation

} // @if $app