/**
 * Breadcrumb
 *
 * Used for both Internal & Selfserve applications
 */

.breadcrumbs {
  overflow: visible;
  list-style: none;
  &__item {
    display: inline-block;
    color: $black;
  }
}

/**
 * Selfserve only styles
 */

@if $app == 'selfserve' {

  // TODO: Uncomment the lines below once selfserve breadcrumbs have
  // been marged

  .breadcrumbs a {
    color: $black;
    line-height: 0.75;
    // text-decoration: none;
    // border-bottom: 1px solid $black;
    // &:hover {
    //   margin-bottom: 1px;
    // }
  }

  // .breadcrumbs a:before {
  //   content: '\e801';
  //   padding-right: .25em;
  // }

  .breadcrumbs a {
    // color: $grey-1;
    margin-right: 0.25em;
    position: relative;
    &:after {
      display: inline-block;
      content: '/';
      margin-left: 0.5em;
      color: $grey-2;
      text-decoration: none;
      border-bottom: 0;
    }
    &:hover {
      color: $grey-1;
    }
  }

  .breadcrumbs__item:last-child a:after {
    display: none;
  }

  .breadcrumbs .current {
    background: none;
    color: $grey-1;
  }

}

/**
 * Internal only styles
 */

@if $app == 'internal' {

  .breadcrumbs {
    float: left;
    color: $grey-1;
    a {
      text-decoration: none;
    }
    &__item {
      &:after {
        content: '/';
        margin-right: 0.25em;
        margin-left: 0.5em;
        color: $grey-2;
      }
      &:hover {
        a {
          text-decoration: underline;
        }
      }
      &.current {
        color: $grey-1;
        &:after {
          display: none;
        }
      }
    }
  }

}