/**
 * Comment
 */

%comment {
  float: left;
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 1em 0 0.25em;
  margin-bottom: 1em;
  > * {
    margin: 0 45px 0 15px;
  }
  > p {
    @if $app == 'selfserve' {
      @extend %paragraph--tiny;
    }
    margin-bottom: 1em;
  }
  ul,
  ol {
    list-style-position: inside;
    margin: 0 0 1em 1em;
  }
  ul {
    list-style-type: disc;
  }
  h1,
  h2,
  h3 {
    margin-bottom: 10px;
    display: block;
  }
  p + p {
    margin-top: -5px;
  }
}

%edit-link {
  position: absolute;
  right: 1em;
  margin-right: 0;
  top: 0.5em;
}

.comment {
  @extend %comment;
  background: $grey-4;
  border-left: 3px solid $grey-3;
  &__edit {
    @extend %edit-link;
  }
}

.submission-actions {
  float: left;
  list-style: none;
}

.submission-item {
  @extend %comment;
  float: none;
  background: $light-blue-25;
  border-left: 3px solid $light-blue-50;
  margin-bottom: 0.5em;
  h4 {
    border-bottom: 0;
    padding-bottom: 10px;
    display: block;
  }
  &__edit {
    @extend %edit-link;
  }
  &__meta {
    width: 100%;
    float: left;
    margin: 0 0 0.5em 1em;
    p {
      float: left;
      width: 20%;
      margin-right: 5%;
      clear: none;
    }
    b {
      display: block;
    }
  }
}