/**
 * Inline Search
 */

.inline-search {
  @media (max-width: $mobile-column-stack) {
    position: relative;
    float: left;
    margin-top: 20px;
  }
  .field {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }
  &__submit {

  }
  &__clear {
    @extend %paragraph--small;
    display: block;
    color: $link-colour;
    margin-bottom: -30px;
  }
}
