/**
 * Modal
 */

%fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  @extend %fixed;
  @include opacity(0.7);
  background: $black;
  z-index: 2;
}

.modal,
.modal--alert {

  margin: 5% auto;
  padding: $gutter;
  max-width: 600px;
  position: relative;
  overflow: visible;
  background: $white;
  z-index: 2;

  @media(max-width: breakpoint('break-3')) {
    width: 90%;
    left: 0;
  }

  &:focus {
    outline: none;
  }

  &__close {
    position: absolute;
    text-indent: -9999px;
    top: 20px;
    right: 20px;
  }

  &__wrapper {
    @extend %fixed;
    overflow: auto;
    z-index: 6;
  }

  &__content {
    @extend %contain-floats;
  }

  form {
    overflow: visible;
    width: 100%;
    margin-bottom: 0;
  }

  .actions-container {
    display: block;
    margin-bottom: 0;
    margin-top: $gutter-half;
  }

  // force table cells to always wrap on multiple lines
  td {
    word-break: break-word;
  }

}// .modal

.modal--alert {
  max-width: 460px;
}

/**
 * Selfserve only styles
 */

@if $app == 'selfserve' {
  .modal {
    &__header {
      margin-bottom: $gutter-half;
      margin-right: $gutter;
    }
    &__title {
      @extend %h2;
    }
    &__close {
      @include svg('selfserve-modal-close');
    }
  }
  .modal--alert {
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    .modal__title {
      @extend %h3;
      margin-bottom: 10px;
    }
  }

}// selfserve

/**
 * Internal only styles
 */

@if $app == 'internal' {

  .modal,
  .modal--alert {
    border-radius: 3px;
    padding: 0 0 $gutter * 1.5;
    &__title {
      @extend %h4;
    }
    &__header {
      border-radius: 3px 3px 0 0;
      padding: 12px 15px;
      background: $grey-4;
      border-bottom: 1px solid $grey-3;
    }
    &__close {
      @include svg('internal-modal-close');
      top: 13px;
      right: 15px;
    }
    &__content {
      padding: $gutter-two-thirds $gutter-half;
    }
    .actions-container {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 15px;
      width: auto;
      background: $grey-4;
      border-top: 1px solid $grey-3;
      .action--tertiary {
        display: inline-block;
        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
    p {
      @extend %paragraph--small;
    }
  }

}// internal