// Page Header
.page-header {
  /**
  * Internal only styles
  */

  @if $app == "internal" {
    width: 100%;
    border-bottom: 1px solid $grey-3;
    background: $grey-4;
    overflow: hidden;
    padding-bottom: 10px;
    &__wrapper {
      @extend %page-wrapper;
    }
    &__subtitle {
      @include font-size(15px, 15px, 11pt);
      color: $grey-1;
      font-weight: 400;
      display: inline-block;
      @media (max-width: $mobile-column-stack) {
        display: block;
        margin: 5px 0 0;
      }
      .status {
        vertical-align: top;
        display: inline-block;
      }
    }
    h1 {
      display: inline-block;
      margin-bottom: 0;
    }
  } // internal
} // .page-header
