/**
 * Preloader
 */

%preloader-overlay {
  @include opacity(0.7);
  width: 100%;
  height: 100%;
  z-index: 20;
}

%preloade-icon {
  z-index: 30;
  background-size: 100%;
  background-repeat: none;
  background-position: 0 0;
}

%preloader-dark {
  @extend %preloade-icon;
  height: 28px;
  width: 28px;
  background-image: url('#{$asset-path}/bitmap/preloader.gif');
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('#{$asset-path}/bitmap/preloader-2x.gif');
  }
}

%preloader-light {
  @extend %preloade-icon;
  height: 20px;
  width: 20px;
  background-image: url('#{$asset-path}/bitmap/preloader--dark.gif');
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('#{$asset-path}/bitmap/preloader--dark-2x.gif');
  }
}

.preloader-overlay {
  &--modal {
    @extend %preloader-overlay;
    position: fixed;
    background: $black;
    top: 0;
    left: 0;
  }
  &--table {
    @extend %preloader-overlay;
    position: absolute;
    background: $white;
  }
}

.preloader-icon {
  &--modal {
    @extend %preloader-dark;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  &--table {
    @extend %preloader-light;
    position: absolute;
    top: 42px;
    left: 50%;
  }
  &--inline {
    @extend %preloader-light;
    float: right;
    margin-top: 8px;
  }
  &--large {
    @extend %preloader-light;
    margin: 20px auto;
    display: block;
    height: 34px;
    width: 34px;
  }
}