fieldset#ecmt-number-of-permits {
    input:disabled {
        background-color: #bfc1c3 !important;
    }

    p.number-of-permits {
        padding-top: 16px;
        margin-bottom: -16px;
    }

    p.euro5-2019-info {
        padding-top: 7px;
        padding-bottom: 9px;
    }
}

