/**
 * Tabs
 */

.tabs {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.tab-list {
  list-style: none;
  border-bottom: 1px solid $grey-2;
  overflow: visible;
  float: left;
  width: 100%;
  &__item {
    @extend %paragraph;
    float: left;
  }
  a {
    display: block;
    margin: 4px 2px 3px;
    padding: 9px 15px 8px;
    background: $grey-3;
    text-decoration: none;
  }
  a:focus {
    outline: 3px solid $yellow;
  }
  .active {
    border: 1px solid $grey-2;
    border-bottom: 1px solid $white;
    background: $white;
    margin: 0 1px -2px 0;
    a {
      color: $black;
      background: $white;
      padding: 8px 13px 9px;
    }
  }
}