---
layout: sign-in.hbs
asset: '../../'
---

<form action="">
  <fieldset>
    <legend>Reset your password</legend>
    <div class="field">
      <label for="">Username</label>
      <input type="text">
    </div>
    <a href="tasks.html" class="action--primary large">Submit</a>
  </fieldset>
  <input type="hidden" id="security" />
</form>