---
title: Vehicle Operator Licensing Styleguide
asset: '../../'
header-text: <p>This guide explains how to make Vehicle Operator Licensing look consistent with the rest of GOV.UK</p>
horizontalNavItems: false
---

<h2>Resuable elements</h2>

<div class="row">
  <ul class="list-navigation">
    <li class="list-navigation__item one-third"><a href="elements/alert.html">Alert</a></li>
    <li class="list-navigation__item one-third"><a href="elements/buttons.html">Buttons</a></li>
    <li class="list-navigation__item one-third"><a href="elements/modal.html">Modal</a></li>
    <li class="list-navigation__item one-third"><a href="elements/preloader.html">Preloader</a></li>
    <li class="list-navigation__item one-third"><a href="elements/tables.html">Tables</a></li>
  </ul>
</div>

<br />

<h2>Prototypes</h2>

<div class="row">
  <ul class="list-navigation">
    <li class="list-navigation__item one-third"><a href="application/">Application</a></li>
    <li class="list-navigation__item one-third"><a href="bus-registrations/">Bus Registration</a></li>
    <li class="list-navigation__item one-third"><a href="case/">Case</a></li>
    <li class="list-navigation__item one-third"><a href="licence/">Licence</a></li>
    <li class="list-navigation__item one-third"><a href="my-account/">My Account</a></li>
    <li class="list-navigation__item one-third"><a href="organisation/">Organisation</a></li>
    <li class="list-navigation__item one-third"><a href="search/">Search</a></li>
    <li class="list-navigation__item one-third"><a href="transport-manager/">Transport Managers</a></li>
    <li class="list-navigation__item one-third"><a href="variation/">Variation</a></li>
  </ul>
</div>