---
layout: sign-in.hbs
asset: '../../'
---


<form action="">
    <h2>Check your email</h2>
    <p>We have sent you an email containing a link to reset your password.</p>
	<p>If you have issues signing in or you didn’t recieve an email please email <a href="">internalsupport@otc.gov.uk</a> or speak to an administrator.</p>
	<div class="actions-container">
		<a href="" class="action--secondary large">Sign in</a>
	</div>
</form>






