---
layout: licence.hbs
asset: '../../../../'
sectionTitle: Fees
filterList:
  - header: Status
    type: dropdown
    filters:
      - All

table:
  - title: <strong>4</strong> Fees
    headers:
      - label: Fee no.
        class: sortable descending
      - label: Description
        class: sortable descending
      - label: Created
        class: sortable
      - label: Latest payment ref.
        class: sortable
      - label: Fee amount
        class: sortable
      - label: Outstanding
        class: sortable
      - label: <input type="checkbox">
        class: non-sortable
    columns:
      - <a href="">23423</a><span class="status orange">Outstanding</span>
      - GV/SI Variation Fee for application 1234
      - £256.00
      - 12 May 2013
      - 23232444
      - 13 May 2013
      - <input type="checkbox">
    rows: 4
    actions:
      - label: Pay
        class: primary
      - label: Edit
        class: secondary
---

  <div class="overlay"></div>
  <div class="modal__wrapper">
    <div class="modal">
      <div class="modal__header">
        <h1 class="modal__title">Payment</h1>
        <a href="" class="modal__close">Close</a>
      </div>
      <div class="modal__content">
        <div class="read-only">
          <ul class="definition-list">
            <li class="definition-list__item">
              <dt>Date</dt>
              <dd>22/12/14</dd>
            </li>
            <li class="definition-list__item">
              <dt>Payment No.</dt>
              <dd>763476</dd>
            </li>
            <li class="definition-list__item">
              <dt>Payment method</dt>
              <dd>Cheque</dd>
            </li>
            <li class="definition-list__item">
              <dt>CPMS reference</dt>
              <dd>17625252700</dd>
            </li>
            <li class="definition-list__item">
              <dt>Processed by</dt>
              <dd>John Spellman</dd>
            </li>
            <li class="definition-list__item">
              <dt>Received</dt>
              <dd>200.00</dd>
            </li>
          </ul><!-- .definition-list -->
        </div>

        <div class="table__header">
          <h3>Fees</h3>
        </div><!-- .table__header -->
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th>Fee No.</th>
                <th>Description</th>
                <th>Fee amount</th>
                <th>Allocated</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b><a href="">12344</a></b></td>
                <td>Application fee</td>
                <td>100.00</td>
                <td>100.00</td>
              </tr>
              <tr>
                <td><b><a href="">12344</a></b></td>
                <td>Application fee</td>
                <td>250.00</td>
                <td>100.00</td>
              </tr>
            </tbody>
          </table>
        </div><!-- .table__wrapper -->

        <form>
          <div class="actions-container">
            <a href="" class="action--secondary large">Reverse</a>
            <a href="" class="action--secondary large">Refund</a>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="sidebar--left">
    <h4 class="title">Filter by:</h4>
    {{> _filters}}
  </div>

  <div class="table-col">
    {{#each table}}
      {{#is @index 0 }}
        {{> _table }}
      {{/is }}
    {{/each}}
  </div>




