parameters:
  level: 5
  paths:
    - src
    - test
  ignoreErrors:
    - message: '#^PHPDoc tag @extends contains generic type Laminas\\Filter\\AbstractFilter<array> but class Laminas\\Filter\\AbstractFilter is not generic\.$#'
      paths:
        - %currentWorkingDirectory%/src/Filter/MapXmlFile.php
        - %currentWorkingDirectory%/src/Filter/ParseXml.php
        - %currentWorkingDirectory%/src/Filter/ParseXmlString.php
  reportUnmatchedIgnoredErrors: false
includes:
  - vendor/phpstan/phpstan-mockery/extension.neon
