---
title: Submit application prototype
---

<div class="row">

  <div class="two-thirds">
    <h3>Tasks</h3>
    <ul class="search-navigation">
      <li>
        <a class="search-navigation__item" href="verify/" target="_BLANK">Sign declaration using GOV.UK Verify</a>
      </li>
      <li>
        <a class="search-navigation__item" href="no-verify/" target="_BLANK">Print, sign and post</a>
      </li>
      <li>
        <a class="search-navigation__item" href="tm/" target="_BLANK">Transport Manager</a>
      </li>
    </ul>
  </div><!-- .two-thirds -->

</div>