<?php

return [
    // Debugging, display environment and version on interface
//    'version' => [
//        'environment' => 'Local Dev',
//        'release' => (file_exists(__DIR__ . '/../version') ? file_get_contents(__DIR__ . '/../version') : '')
//    ],

    // New Backend service
    'api_router' => [
        'routes' => [
            'api' => [
                'child_routes' => [
                    'backend' => [
                        'options' => [
                            // Backend service URI *Environment specific*
                            'route' => 'olcs-backend.olcs.gov.uk',
                        ]
                    ]
                ]
            ]
        ]
    ],

    // Service addresses
    'service_api_mapping' => [
        'endpoints' => [
            // Backend service URI *Environment specific*
            'backend' => [
                'url' => 'http://olcs-backend.olcs.gov.uk/',
                'options' => [
                    'adapter' => \Laminas\Http\Client\Adapter\Curl::class,
                    'timeout' => 60,
                ]
            ],
            // Postcode/Address service URI *Environment specific*
            'postcode' => [
                'url' => 'http://postcode.cit.olcs.mgt.mtpdvsa/',
                'options' => [
                    'adapter' => \Laminas\Http\Client\Adapter\Curl::class,
                    'timeout' => 60,
                ]
            ],
        ]
    ],

    // Asset path, URI to olcs-static (CSS, JS, etc) *Environment specific*
    'asset_path' => 'https://iuap1.olcs.dev.nonprod.dvsa.aws/static/public',

    'openam' => [
        'url' => 'http://olcs-auth.olcs.gov.uk:8081/secure/',
        'realm' => 'selfserve',
        'cookie' => [
            'domain' => '.olcs.gov.uk',
        ]
    ],

    'view_manager' => [
        'template_map' => [
            // Dev versions of 404 and error
            'error/404' => __DIR__ . '/../../module/Olcs/view/error/dev-404.phtml',
            'error/403' => __DIR__ . '/../../module/Olcs/view/error/dev-403.phtml',
            'error/index' => __DIR__ . '/../../module/Olcs/view/error/dev-index.phtml'
        ],
    ],
    /**
     * Configure the location of the application log
     */
    'log' => [
        'Logger' => [
            'writers' => [
                'full' => [
                    'options' => [
                        'stream' => '/var/tmp/selfserve.log'
                    ],
                ]
            ]
        ],
    ],

    // enable the virus scanning of uploaded files
    // To disable scanning comment out this section or set 'cliCommand' to ""
    'antiVirus' => [
        //'cliCommand' => 'clamscan %s',
    ],

    // Show extra debug info in flash messages
    'debug' => [
        'showApiMessages' => false
    ],

    // Google Tag Manager id. If empty or not exists (commented out), then no Google Tag Manager code will be rendered
    'google-tag' => '',

    // The domain value needed to delete GA cookies
    'google-ga-domain' => '.olcs-selfserve.olcs.gov.uk',

    'caches' => [
        \Laminas\Cache\Storage\Adapter\Redis::class => [
            'adapter' => [
                'name' => 'redis',
                'options' => [
                    'server' => [
                        'host' => '127.0.0.1',
                        'port' => 6379,
                    ],
                    'lib_options' => [
                        \Redis::OPT_SERIALIZER => \Redis::SERIALIZER_IGBINARY
                    ],
                    'ttl' => 3600, //one hour, likely to be overridden based on use case
                    'namespace' => 'zfcache',
                ],
                'plugins' => [
                    'exception_handler' => [
                        'throw_exceptions' => false,
                    ],
                ],
            ],
        ],
    ],
    'cache-encryption' => [
        'node_suffix' => 'ssweb',
        'adapter' => 'openssl',
        'options' => [
            'algo' => 'aes',
            'mode' => 'gcm',
        ],
        'secrets' => [
            'node' => 'redis-ss',
            'shared' => 'redis-shared',
        ],
    ],
    'query_cache' => [
        // whether the cqrs cache is enabled
        'enabled' => true,
        // sets the ttl for cqrs cache - note that these caches are also used by internal
        'ttl' => [
            \Dvsa\Olcs\Transfer\Query\CacheableMediumTermQueryInterface::class => 600, //10 minutes
            \Dvsa\Olcs\Transfer\Query\CacheableLongTermQueryInterface::class => 43200, //12 hours
        ],
    ],
    'cookie-manager' => [
            'delete-undefined-cookies' => true,
            'user-preference-cookie-name' => 'cookie_policy',
            'user-preference-cookie-secure' => true,
            'user-preference-cookie-expiry-days' => 365,
            'user-preference-configuration-form-id' => 'olcs-cookie-settings',
            'cookie-banner-id' => 'olcs-cookie-banner',
            'user-preference-saved-callback' => false,
            'cookie-banner-visibility-class' => 'hidden',
            'cookie-banner-visible-on-page-with-preference-form' => false,
            'cookie-manifest' =>
                [
                    [
                        'category-name' => 'essential',
                        'optional' => false,
                        'cookies' =>
                            [
                                'PHPSESSID',
                                'secureToken',
                                'incap_ses',
                                'nlbi_',
                                'visid_incap',
                                '_utmvm',
                                '_ utmva',
                                '__utmvb',
                                '__utmvc'
                            ],
                    ],
                    [
                        'category-name' => 'analytics',
                        'optional' => true,
                        'cookies' =>
                            [
                                '_ga',
                                '_gtm',
                                '_gid',
                                '_gat',
                                '__utmt'
                            ],
                    ],
                    [
                        'category-name' => 'settings',
                        'optional' => true,
                        'cookies' =>
                            [
                                'langPref',
                            ],
                    ],
                ],
        ],
];
