<?php

use Dvsa\Olcs\Utils\Auth\AuthHelper;

return array(
    // Debugging, display environment and version on interface
//    'version' => [
//        'environment' => 'Local Dev',
//        'release' => (file_exists(__DIR__ . '/../version') ? file_get_contents(__DIR__ . '/../version') : '')
//    ],

    // New Backend service
    'api_router' => [
        'routes' => [
            'api' => [
                'child_routes' => [
                    'backend' => [
                        'options' => [
                            // Backend service URI *Environment specific*
                            'route' => AuthHelper::getBackendUri()
                        ]
                    ]
                ]
            ]
        ]
    ],

    // Service addresses

    'service_api_mapping' => array(
        'endpoints' => array(
            'payments' => [
                'url' => 'http://olcspayment.dev/api/',
                'options' => [
                    'adapter' => \Zend\Http\Client\Adapter\Curl::class,
                    'timeout' => 60,
                ]
            ],
            'backend' => [
                'url' => 'http://' . AuthHelper::getBackendUri() . '/',
                'options' => [
                    'adapter' => \Zend\Http\Client\Adapter\Curl::class,
                    'timeout' => 60,
                ]
            ],
            'postcode' => [
                'url' => 'http://postcode.cit.olcs.mgt.mtpdvsa/',
                'options' => [
                    'adapter' => \Zend\Http\Client\Adapter\Curl::class,
                    'timeout' => 60,
                ]
            ]
        )
    ),

    // Asset path, URI to olcs-static (CSS, JS, etc) *Environment specific*
    'asset_path' => 'https://demo-olcs-static.i-env.net',

    'view_manager' => array(
        'template_map' => array(
            // Dev versions of 404 and error
            'error/404' => __DIR__ . '/../../module/Olcs/view/error/dev-404.phtml',
            'error/403' => __DIR__ . '/../../module/Olcs/view/error/dev-403.phtml',
            'error/index' => __DIR__ . '/../../module/Olcs/view/error/dev-index.phtml'
        ),
    ),
);
