---
service: find-bus-registrations
title: Find bus registrations
---

<div class="row">

  <div class="two-thirds">
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">Enter keywords</label>
          <input type="text" class="long">
          <p class="hint">Can include operator name, licence number, bus registration number, service number, start point or finish point</p>
        </div>
        <div class="actions-container">
          <a href="bus-registration-results.html" class="action--primary large">Search</a>
        </div>
      </fieldset>

    </form>
  </div><!-- .two-thirds -->

</div>