---
title: Find a bus registration
breadcrumbs:
  - link: index.html
    label: Back to search index
---

<div class="row">

  <div class="two-thirds">
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">Enter keywords</label>
          <input type="text" class="long">
          <p class="hint">Try searching for a town or city, bus route number or bus company</p>
        </div>
        <div class="actions-container">
          <a href="bus-registration-results.html" class="action--primary large">Search</a>
        </div>
      </fieldset>
  
    </form>
  </div><!-- .two-thirds -->

</div>