---
title: Find a vehicle operator
breadcrumbs:
  - link: index.html
    label: Back to search index
---

<div class="row">
  <div class="two-thirds">
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">Enter keywords</label>
          <input type="text" class="long js-operator-keyword">
          <p class="hint">Try searching for an operator name, licence number, person, postcode, town or city</p>
        </div>
        <div class="actions-container">
          <a href="operator-results.html" class="action--primary large js-results">Search</a>
        </div>
      </fieldset>
    </form>
  </div><!-- .two-thirds -->
</div>

<script type="text/javascript" src="/js/search-prototype.js"></script>
