---
title: Search results
header-text: <p>We've found <b>48</b> vehicle operator licensing publications that match your search.</p>
layout: base.hbs
service: check-vehicle-operator-licensing-publications
---

<div class="row">

  <div class="one-quarter">
    <h3>Edit search</h3>
    <form class="filters form__filter">
      <fieldset>
        <div class="field">
          <label for="search">Keywords</label>
          <input id="search" name="search" type="search" class="extra-long" value="OH1058363">
          <p class="hint">Can include operator name, licence number, publication number, street, town or postcode</p>
        </div>
        <input type="submit" class="action--primary" value="Update results">
      </fieldset>
    </form>
  </div><!-- three-eights -->

  <div class="three-quarters">
    <ul class="search-results">
      <li class="search-result">
        <div class="search-result__header">
          <h4><a href="">OD1140306 R (2677)</a></h4>
          <p>Don Tarmacadam Limited, Shrewsbury</p>
        </div>
        <div class="search-result__extract">
          <p>HARLECH FOODSERVICE LTD Director(s): IAN WOODCOCK, MICHAEL GERRAD CLISHEM, LAURA ROBERTS, STEVEN JOHN CRANE, ANDREW FOSKETT, JONATHAN FOSKETT. PARC BWYD, LLANYSTUMDWY , CRICCIETH LL52 0LJ Operating Centre: UNIT 1, THE HAUGHMOND BUSINESS CENTRE, BATTLEFIELD ENTERPRISE PARK SHREWSBURY SY1 3BB Authorisation:5 Vehicle(s) and 0 Trailer(s).</p>
        </div>
        <div class="search-result__meta">
          <p><b>Date:</b> 12 May 2015</p>
          <p><b>Status:</b> Application granted</p>
        </div>
      </li>
      <li class="search-result">
        <div class="search-result__header">
          <h4><a href="">OD1140306 R (2677)</a></h4>
          <p>Don Tarmacadam Limited, Shrewsbury</p>
        </div>
        <div class="search-result__extract">
          <p>HARLECH FOODSERVICE LTD Director(s): IAN WOODCOCK, MICHAEL GERRAD CLISHEM, LAURA ROBERTS, STEVEN JOHN CRANE, ANDREW FOSKETT, JONATHAN FOSKETT. PARC BWYD, LLANYSTUMDWY , CRICCIETH LL52 0LJ Operating Centre: UNIT 1, THE HAUGHMOND BUSINESS CENTRE, BATTLEFIELD ENTERPRISE PARK SHREWSBURY SY1 3BB Authorisation:5 Vehicle(s) and 0 Trailer(s).</p>
        </div>
        <div class="search-result__meta">
          <p><b>Date:</b> 12 May 2015</p>
          <p><b>Status:</b> Application granted</p>
        </div>
      </li>
      <li class="search-result">
        <div class="search-result__header">
          <h4><a href="">OD1140306 R (2677)</a></h4>
          <p>Don Tarmacadam Limited, Shrewsbury</p>
        </div>
        <div class="search-result__extract">
          <p>HARLECH FOODSERVICE LTD Director(s): IAN WOODCOCK, MICHAEL GERRAD CLISHEM, LAURA ROBERTS, STEVEN JOHN CRANE, ANDREW FOSKETT, JONATHAN FOSKETT. PARC BWYD, LLANYSTUMDWY , CRICCIETH LL52 0LJ Operating Centre: UNIT 1, THE HAUGHMOND BUSINESS CENTRE, BATTLEFIELD ENTERPRISE PARK SHREWSBURY SY1 3BB Authorisation:5 Vehicle(s) and 0 Trailer(s).</p>
        </div>
        <div class="search-result__meta">
          <p><b>Date:</b> 12 May 2015</p>
          <p><b>Status:</b> Application granted</p>
        </div>
      </li>
      <li class="search-result">
        <div class="search-result__header">
          <h4><a href="">OD1140306 R (2677)</a></h4>
          <p>Don Tarmacadam Limited, Shrewsbury</p>
        </div>
        <div class="search-result__extract">
          <p>HARLECH FOODSERVICE LTD Director(s): IAN WOODCOCK, MICHAEL GERRAD CLISHEM, LAURA ROBERTS, STEVEN JOHN CRANE, ANDREW FOSKETT, JONATHAN FOSKETT. PARC BWYD, LLANYSTUMDWY , CRICCIETH LL52 0LJ Operating Centre: UNIT 1, THE HAUGHMOND BUSINESS CENTRE, BATTLEFIELD ENTERPRISE PARK SHREWSBURY SY1 3BB Authorisation:5 Vehicle(s) and 0 Trailer(s).</p>
        </div>
        <div class="search-result__meta">
          <p><b>Date:</b> 12 May 2015</p>
          <p><b>Status:</b> Application granted</p>
        </div>
      </li>
    </ul>
    <div class="table__footer">
      <div class="results-settings">
        <p>Show:</p>
        <ul class="results-settings__list">
          <li class="results-settings__item"><a href="">10</a></li>
          <li class="results-settings__item current">25</li>
          <li class="results-settings__item"><a href="">50</a></li>
        </ul><!-- .results-settings__list -->
        <p>results per page</p>
      </div><!-- .results-settings -->
      <ul class="pagination right-aligned" role="menu">
        <li class="pagination__item"><a href="" rel="previous">Previous</a></li>
        <li class="pagination__item current">1</li>
        <li class="pagination__item"><a href="">2</a></li>
        <li class="pagination__item"><a href="">3</a></li>
        <li class="pagination__item"><a href="">4</a></li>
        <li class="pagination__item"><a href="">5</a></li>
        <li class="pagination__item">...</li>
        <li class="pagination__item"><a href="">14</a></li>
        <li class="pagination__item"><a href="" rel="next">Next</a></li>
      </ul><!-- .pagination.right-aligned -->
    </div><!-- .table__footer -->

  </div><!-- .five-eights -->

</div>