---
title: My account
subtitle:
layout: base.hbs
breadcrumb: Admin
verticalNavItems:
  - label: My details
    link: index.html
  - label: Change your password
    link: change-your-password.html
---

<div class="four-fifths--left">
  <div class="content">
    {{> body}}
  </div>
</div>