---
title: Home
layout: base.hbs
user: operator
---

<div class="row">
  <div class="two-thirds">

    <div class="tabs">
      <ul class="tab-list">
        <li class="tab-list__item active"><a href="home.html" aria-select="false" tabindex="0">Licences</a></li>
        <li class="tab-list__item"><a href="fees.html" aria-select="false" tabindex="-1">Fees (3)</a></li>
        <li class="tab-list__item"><a href="documents.html" aria-select="true" tabindex="-1">Documents (2)</a></li>
      </ul>
    </div><!-- tabs -->

    <!-- Licences -->
    <div class="table__header">
      <h3>Current licences</h3>
    </div>
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Licence number</th>
            <th>Licence type</th>
            <th>Area</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="application-overview.html">OB1352622</a></b><span class="status green">Valid</span></td>
            <td>Standard International</td>
            <td>Northern Ireland</td>
          </tr>
          <tr>
            <td><b><a href="application-overview.html">PC1816262</a></b><span class="status green">Valid</span></td>
            <td>Restricted</td>
            <td>North East of England</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Variation applications -->
    <div class="table__header">
      <h3>Applications to change a licence</h3>
    </div>
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Application reference</th>
            <th>Created</th>
            <th>Submitted</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="interim/">OB135262/3</a></b><span class="status orange">Under review</span></td>
            <td>13 Oct 2014</td>
            <td>13 Oct 2014</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Applications -->
    <div class="table__header">
      <h3>Applications for a new licence</h3>
    </div>
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Application reference</th>
            <th>Created</th>
            <th>Submitted</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="/styleguides/selfserve/application-overview.html">13</a></b><span class="status orange">Incomplete</span></td>
            <td>25 Oct 2013</td>
            <td>25 Oct 2014</td>
          </tr>
          <tr>
            <td><b><a href="/styleguides/selfserve/application-overview.html">OB135261/12</a></b><span class="status orange">Awaiting TM forms</span><span class="status orange">Interim requested</span></td>
            <td>25 Oct 2013</td>
            <td>12 Oct 2014</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="actions-container" style="margin-top: 20px; display: block;">
      <a href="application/create/" class="action--primary large">Apply for a new licence</a>
    </div>
  </div>

  <div class="one-third">
    <div class="sidebar">
      <div class="links">
        <h3>More information</h3>
        <ul class="links-list">
          <li target="blank" class="links-list__item">
            <a href="http://gov.uk/being-a-goods-vehicle-operator">Being a goods vehicle operator</a>
          </li>
          <li target="blank" class="links-list__item">
            <a href="https://www.gov.uk/psv-operator-licences">Public Service Vehicle operator licences</a>
          </li>
          <li target="blank" class="links-list__item">
            <a href="https://gov.uk/government/collections/vehicle-safety-and-maintenance-guides">Vehicle safety and maintenance guides</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>