---
title: Payment successful
layout: base.hbs
user: bus operator
breadcrumbs:
  - link: home.html
    label: Back to home

---

<div class="row">

  <div class="three-quarters">
    <div class="read-only">
      <div class="read-only__header">
        <h3 class="read-only__title">Details</h3>
      </div><!-- read-only__header -->
      <ul class="definition-list">
        <li class="definition-list__item">
          <dt>Operator name</dt>
          <dd>Big Trucks Limited</dd>
        </li>
        <li class="definition-list__item">
          <dt>Payed by</dt>
          <dd>Sally Simmons</dd>
        </li>
        <li class="definition-list__item">
          <dt>Payment reference</dt>
          <dd>7267624</dd>
        </li>
        <li class="definition-list__item">
          <dt>Payment received</dt>
          <dd>12:05, 12 May 2014</dd>
        </li>
      </ul><!-- .definition-list -->
    </div>

    <div class="table__header">
      <h3>Items</h3>
    </div><!-- .table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Invoice number</th>
            <th>Date invoiced</th>
            <th>Licence number</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GV/SN Variation fee</td>
            <td>16252526</td>
            <td>16 May 2015</td>
            <td>OB1524242</td>
            <td>£258.00</td>
          </tr>
          <tr>
            <td>GV/SN Variation fee</td>
            <td>16252526</td>
            <td>16 May 2015</td>
            <td>OB1524242</td>
            <td>£258.00</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td>£516</td>
          </tr>
        </tfoot>
      </table>
    </div><!-- .table__wrapper -->

    <hr />
    <div class="article">
      <h3>Important</h3>
      <p>You are advised to retain this confirmation in order that you can account for this when
      reconciling your next card statement.  This payment will be recorded on your statement
      under the descriptive name of Vehicle Operator Services Agency.</p>
      <p>If you are expecting to receive a licence and/or disc(s) as a result of this payment, this document will be sent to you as soon as possible.</p>
      <p>If this receipt relates to the payment of your licence continuation fee, you must complete and return the licence checklist document sent to you with that fee request. This should be received within the same deadline set for the payment of your
      continuation fee.</p>
    </div>
    <hr />
    <div class="actions-container">
      <a href="" class="action--primary large">Print your receipt</a>
      <a href="" class="action--tertiary list large">Back to home</a>
    </div>

  </div><!-- .three-quarters -->
</div><!-- .row -->