---
layout: printable.hbs
---

<div class="review-header">
  <p>Application for a new Goods Vehicle Operator's Licence</p>
  <h1>John Smith Haulage Ltd. ON2/8</h1>
</div>

<!--
  1. Type of licence
-->
<div class="review-section">
  <h2>1. Type of licence</h2>
  <div class="read-only">
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Where do you operate from?</dt>
        <dd>Great Britain</dd>
      </li>
      <li class="definition-list__item">
        <dt>What type of operator are you?</dt>
        <dd>Goods</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>What type of licence do you want to apply for?</dt>
        <dd>Standard National</dd>
      </li>
    </ul><!-- .definition-list -->
  </div>
</div><!-- .review-section -->


<!--
  2. Business type
-->
<div class="review-section">
  <h2>2. Business type</h2>
  <div class="read-only">
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>What type of business are you?</dt>
        <dd>Limited company</dd>
      </li>
    </ul><!-- .definition-list -->
  </div>
</div><!-- .review-section -->


<!--
  3. Business details
-->
<div class="review-section">
  <h2>3. Business details</h2>
  <div class="read-only">
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Registerd company number</dt>
        <dd>12625261</dd>
      </li>
      <li class="definition-list__item">
        <dt>Company name</dt>
        <dd>John Smith Halauage Limited</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Trading name 1</dt>
        <dd>John Smith Halauage</dd>
      </li>
      <li class="definition-list__item">
        <dt>Trading name 1</dt>
        <dd>JSH Logistics</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Nature of business</dt>
        <dd>Grower of rice</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Registered address</dt>
        <dd>Unit 5, 12 Albert Street, Westpoint, Leeds, LS9 6NA, GB</dd>
      </li>
    </ul><!-- .definition-list -->
  </div><!-- .read-only -->
  <div class="read-only">
    <div class="read-only__header">
      <h4 class="read-only__title">Subsidiary companies</h4>
    </div><!-- read-only__header -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Company name</dt>
        <dd>John Smith's Repairs Limited</dd>
      </li>
      <li class="definition-list__item">
        <dt>Company number</dt>
        <dd>17252523</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Company name</dt>
        <dd>John Smith's Tyres Limited</dd>
      </li>
      <li class="definition-list__item">
        <dt>Company number</dt>
        <dd>10092727</dd>
      </li>
    </ul><!-- .definition-list -->
  </div><!-- .read-only -->
</div><!-- .review-section -->


<!--
  4. Addresses
-->
<div class="review-section">
  <h2>4. Addresses</h2>
  <hr />
  <div class="read-only">
    <div class="read-only__header">
      <h4 class="read-only__title">Correspondance</h4>
    </div><!-- read-only__header -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>For the attention of</dt>
        <dd>Ruben Loftus-Cheek</dd>
      </li>
      <li class="definition-list__item">
        <dt>Correspondance address</dt>
        <dd>Unit 5, 12 Albert Street, Westpoint, Leeds, LS9 6NA, GB</dd>
      </li>
    </ul><!-- .definition-list -->
  </div><!-- .read-only -->

  <div class="read-only">
    <div class="read-only__header">
      <h4 class="read-only__title">Contact details</h4>
    </div><!-- read-only__header -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Business number</dt>
        <dd>0113 526 7262</dd>
      </li>
      <li class="definition-list__item">
        <dt>Mobile number</dt>
        <dd>0791716133</dd>
      </li>
      <li class="definition-list__item">
        <dt>Email address</dt>
        <dd>ruben.loftus-cheek@gmail.com</dd>
      </li>
    </ul><!-- .definition-list -->
  </div><!-- read-only -->
  <div class="read-only">
    <div class="read-only__header">
      <h4 class="read-only__title">Establishment</h4>
    </div><!-- read-only__header -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Address</dt>
        <dd>Unit 5, 12 Albert Street, Westpoint, Leeds, LS9 6NA, GB</dd>
      </li>
    </ul><!-- .definition-list -->
  </div><!-- read-only -->
</div><!-- .review-section -->


<!--
  5. Operating centres
-->
<div class="review-section">
  <h2>5. Operating centres</h2>
  <h3>New operating centres</h3>
  <hr />
  <div class="read-only">
    <div class="read-only__header">
      <h4 class="read-only__title">Unit 5, 12 Albert Street, Leeds</h4>
    </div><!-- read-only__header -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Address</dt>
        <dd>Unit 5, 12 Albert Street, Westpoint, Leeds, LS9 6NA, GB</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Total No. of vehciles</dt>
        <dd>12</dd>
      </li>
      <li class="definition-list__item">
        <dt>Total No. of trailers</dt>
        <dd>14</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>I confirm that I have enough parking spaces available for the total number of vehicles and
        trailers that I want to keep at this address.</dt>
        <dd>Confirmed</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>I am either the site owner or I have permission from the site owner to use the premises to park the number of vehicles and trailers stated.</dt>
        <dd>Confirmed</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Have you advertised your application for this operating centre in you local newspaper?</dt>
        <dd>Yes</dd>
      </li>
      <li class="definition-list__item">
        <dt>Newspaper name</dt>
        <dd>Shropshire Star</dd>
      </li>
      <li class="definition-list__item">
        <dt>Date advertisement was placed</dt>
        <dd>12 May 2013</dd>
      </li>
      <li class="definition-list__item">
        <dt>Advertisement file</dt>
        <dd>OC-ShropshireStar-12/3/13.JPEG</dd>
      </li>
    </ul><!-- .definition-list -->
  </div>
  <h3>Updated operating centres</h3>
  <div class="read-only">
    <div class="read-only__header">
      <h4 class="read-only__title">Hortonwood 50, Telford</h4>
    </div><!-- read-only__header -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Address</dt>
        <dd>Hager Ltd. Hortonwood 50, Telford, Shropshire, TF1 7FT</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Total No. of vehciles</dt>
        <dd>6</dd>
      </li>
      <li class="definition-list__item">
        <dt>Total No. of trailers</dt>
        <dd>2</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>I confirm that I have enough parking spaces available for the total number of vehicles and
        trailers that I want to keep at this address.</dt>
        <dd>Confirmed</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>I am either the site owner or I have permission from the site owner to use the premises to park the number of vehicles and trailers stated.</dt>
        <dd>Confirmed</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Have you advertised your application for this operating centre in you local newspaper?</dt>
        <dd>Yes</dd>
      </li>
      <li class="definition-list__item">
        <dt>Newspaper name</dt>
        <dd>Shropshire Star</dd>
      </li>
      <li class="definition-list__item">
        <dt>Date advertisement was placed</dt>
        <dd>12 May 2013</dd>
      </li>
      <li class="definition-list__item">
        <dt>Advertisement file</dt>
        <dd>OC-ShropshireStar-12/3/13.JPEG</dd>
      </li>
    </ul><!-- .definition-list -->
  </div><!-- read-only -->
  <div class="read-only">
    <div class="read-only__header">
      <h4 class="read-only__title">Traffic area</h4>
    </div><!-- read-only__header -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Your traffic area</dt>
        <dd>North East of England</dd>
      </li>
    </ul><!-- .definition-list -->
  </div><!-- read-only -->
  <div class="read-only">
    <div class="read-only__header">
      <h4 class="read-only__title">Authorisation</h4>
    </div><!-- read-only__header -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Total number of vehciles</dt>
        <dd>12</dd>
      </li>
      <li class="definition-list__item">
        <dt>Total number of trailers</dt>
        <dd>8</dd>
      </li>
    </ul><!-- .definition-list -->
  </div><!-- read-only -->
</div><!-- .review-section -->


<!--
  Conditions & undertakings
-->
<div class="review-section">
  <h2>Conditions &amp; undertakings</h2>

  <div class="read-only">
    <ul class="definition-list">
      <li class="definition-list__item">
        <p>I understand that by submitting this application I am accepting the undertakings below; that they will be recorded on the licence; that failure to comply with the conditions or undertakings recorded on the licence may result in the licence being revoked, suspended or curtailed; and that failure to comply with these conditions is also a criminal offence.</p>
      </li>
    </ul>
    <ul class="definition-list">
      <li class="definition-list__item">
        <ul>
          <li>The laws relating to the driving and operation of vehicles used under this licence are observed;</li>
          <li>The rules on drivers’ hours and tachographs are observed, proper records are kept and that these are made available on request;</li>
          <li>Vehicles and trailers are not overloaded;</li>
          <li>Vehicles operate within speed limits;</li>
          <li>Vehicles and trailers, including hired vehicles and trailers, are kept in a fit and serviceable condition;</li>
          <li>Drivers report promptly any defects or symptoms of defects that could prevent the safe operation of vehicles and/or trailers, and that any defects are recorded in writing;</li>
          <li>Records are kept (for 15 months) of all driver reports which record defects, all safety inspections, routine maintenance and repairs to vehicles, and that these are made available on request;</li>
          <li>In respect of each operating centre specified, that the number of vehicles and the number of trailers kept there will not exceed the maximum numbers authorised at each operating centre (which will be noted on the licence);</li>
        </ul>
      </li><!-- .definition-list__item -->
    </ul><!-- .definition-list -->
  </div>

  <h3>Small vehicle undertakings</h3>
  <div class="read-only">
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Do you agree to the following undertakings being specified on your licence?</dt>
        <dd>Confirmed</dd>
      </li>
    </ul>
    <ul class="definition-list">
      <li class="definition-list__item">
        <p>(a) The operator will advise the traffic commissioner of the make, model and registration
        number of vehicles used under that licence, and will advise of any changes.</p>
        <p>(b) In respect of any vehicle with eight or less passengers seats used under the licence, the
        operator will provide an audit trail to the traffic commissioner or any enforcement body on
        request, that demonstrates compliance with PSV requirements. This includes paperwork
        as to how in respect of any service separate fares were paid and one of the two
        conditions set out in Question 1 were met. Note this undertaking does not apply when the
        vehicle is being used under the provisions of Section 79A.</p>
        <p>(c) Each small vehicle to be used under the licence will have a V5C registration certificate,
        and the operator must possess and produce, when asked to do so, a document
        confirming this.</p>
        <p>(d) Each small vehicle will receive a full safety inspection (maximum every 10 weeks) in
        premises suitable for the vehicle to ensure that its roadworthiness is maintained. Records
        of all inspections must be kept in accordance with the Guide to Maintaining
        Roadworthiness.</p>
        <p>(e) At no time will the small vehicle carry more than eight passengers.</p>
        <p>(f) The operator will at all times comply with the legislation in respect of the charging of
        separate fares and retain 12 months’ evidence of this compliance for each journey.</p>
        <p>(g) Drivers of small vehicles will carry with them documentary evidence that separate fares
        have been charged for the current journey.</p>
        <p>(h) The operator will not use a vehicle that does not meet the ECWVTA standards, British
        construction and use requirements or the Road Vehicles Approval Regulations 2009 (as
        amended).</p>
        <p>(i) The operator or driver will not break the alcohol laws.</p>
      </li>
    </ul><!-- .definition-list -->
  </div>
</div><!-- .review-section -->
