---
title: Trailer details
user: operator
layout: base.hbs
breadcrumbs:
  - link: home.html
    label: Back to overview
---

<div class="row">

  <div class="overlay js-confirm-modal" style="display:none;"></div>
  <div class="modal__wrapper js-confirm-modal" style="display:none;">
    <div class="modal--alert">
      <div class="modal__header">
        <h2 class="modal__title">Remove vehicle</h2>
        <a href="" class="modal__close">Close</a>
      </div>
      <div class="modal__content">
        <p>Are you sure your want to remove this trailer?</p>
        <div class="actions-container">
          <a href="" class="action--primary large js-remove">Remove</a>
          <a href="" class="action--secondary large">Cancel</a>
        </div>
      </div><!-- .modal__content -->
    </div><!-- .modal -->
  </div><!-- .modal__wrapper -->

  <div class="two-thirds">
    <form>
      <fieldset>
        <div class="field inline-search">
          <label>Search for a trailer</label>
          <input type="search" class="inline-search__input">
          <button class="inline-search__button">Find trailer</button>
          <p class="inline-search__hint"><a href="vehicles.html">Clear search</a></p>
        </div>
      </fieldset>
    </form>
      <form>
        <div class="table__header">
          <h3>3 Trailers</h3>
          <div class="actions-container">
            <a href="" class="action--primary">Add trailer</a>
          </div>
        </div><!-- .table__header -->
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th>Trailer number</th>
                <th>Added</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b><a href="">16252729</a></b></td>
                <td>12 May 2014</td>
                <td class="right"><a href="" class="js-remove">Remove</a></td>
              </tr>
              <tr class="js-hide">
                <td><b><a href="">16252729</a></b></td>
                <td>12 May 2014</td>
                <td class="right"><a href="" class="js-remove">Remove</a></td>
              </tr>
              <tr class="js-hide">
                <td><b><a href="">16252729</a></b></td>
                <td>12 May 2014</td>
                <td class="right"><a href="" class="js-remove">Remove</a></td>
              </tr>
            </tbody>
          </table>
        </div><!-- .table__wrapper -->
  </form>

  </div><!-- .two-thirds -->

  <div class="one-third">

    <div class="sidebar">

      <dl class="meta">
        <dt>Licence number</dt>
        <dd>OB12524/525</dd>
        <dt>Status</dt>
        <dd>Valid</dd>
        <dt>Renewal date</dt>
        <dd>16 March 2011</dd>
        <dt>Start date</dt>
        <dd>16 March 2016</dd>

      </dl>

    </div>

  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {

    $('.disabled').hide();

    $(document).on('click','.inline-search__button', function(e) {
      e.preventDefault();
      $('.js-hide, .disabled').hide();
    });

    $(document).on('click','.js-remove', function(e) {
      e.preventDefault();
      $('.js-confirm-modal').show();
    });


    $(document).on('click','.js-show-removed', function(e) {
      e.preventDefault();
      if ($(this).val() === 'Show removed vehicles') {
        $('.disabled').show();
        $(this).val('Hide removed vehicles');
      } else {
        $('.disabled').hide();
        $(this).val('Show removed vehicles');
      }
    });
  });

  OLCS.toggleElement({
    triggerSelector: '.more-actions',
    targetSelector: '.more-actions__list'
  });
</script>

