vendor
.idea
composer.phar
test/coverage-report
test/coverage
.scannerwork
composer.lock
.phpunit.result.cache

# Non-dist files for the static analysis.
# This allows developers to set a different (more strict) static analysis locally.
phpcs.xml
phpstan.neon
phpunit.xml
psalm.xml
