<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="OLCS Internal Application">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../module/Olcs/src</directory>
            <directory suffix=".php">../module/Admin/src</directory>
            <exclude>
                <directory>../module/Olcs/src/Form/Forms</directory>
                <directory>../module/Olcs/src/Table/</directory>
                <directory>../module/Admin/src/Table/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
