---
title: Home
asset: '../../../'
subtitle:
filterList:
  - header: Team
    type: dropdown
    filters:
      - Licensing team 1
  - header: Owner
    type: dropdown
    filters:
      - Terry Fox
  - header: Category
    type: dropdown
    filters:
      - Application
  - header: Sub category
    type: dropdown
    filters:
      - Goods app
  - header: Date
    type: dropdown
    filters:
      - Today
      - This week
      - This month
      - All dates
  - header: Status
    type: dropdown
    filters:
      - All
      - Open
      - Closed
  - header:
    type: checkboxes
    filters:
      - Urgent only
actions:
  - label: Edit
    class: secondary disabled
  - label: Close
    class: secondary disabled
  - label: Reassign
    class: secondary disabled
table:
  - title: <strong>89</strong> Tasks
    headers:
      - label: Link
        class: sortable
      - label: Category
        class: sortable descending
      - label: Sub category
        class: sortable
      - label: Description
        class: sortable
      - label: Date
        class: sortable
      - label: Owner
        class: sortable
      - label: Name
        class: sortable
      - label: <input name="row" type="checkbox">
        class: non-sortable
    columns:
      - <strong><a href="licence/">OB0016152</a></strong> (MLH)
      - Application
      - Address change assisted digital
      - <a href="">Address change</a>
      - 12/3/13
      - Gillian Fox
      - Don Tarmacadam
      - <input name="row" type="checkbox">
    rows: 20

---

<div class="content">

  <div class="overlay"></div>
  <div class="modal__wrapper">
    <div class="modal--alert">
      <div class="modal__header">
        <h1 class="modal__title">Alert header</h1>
        <a href="" class="modal__close">Close</a>
      </div>
      <div class="modal__content">
        <p>Are you really sure you want to perform this action?</p>
        <form>
          <div class="actions-container">
            <input class="action--primary" type="submit" value="OK">
            <input class="action--secondary" type="submit" value="Cancel">
          </div>
        </form>
      </div><!-- .modal__content -->
    </div><!-- modal-alert-->
  </div>

  <div class="four-fifths--right">
  {{#each table}}
    {{#is @index 0 }}
      {{> _table }}
    {{/is }}
  {{/each}}
  </div>

</div>






