---
layout: printable.hbs
---

<div class="printable">

  <div class="printable__address">
    <p><b>Return to:</b></p>
    <p>Hillcrest House,<br />
    386 Harehills Ln,<br />
    Leeds, West Yorkshire,<br />
    LS9 6NF</p>
  </div>

  <div class="printable__meta">
    <dl>
      <dt>Application reference</dt>
      <dd>OB6153563/9</dd>
      <dt>Applicant</dt>
      <dd>John Smith Haulage Ltd.</dd>
    </dl>
  </div>

  <div class="printable__header">
    <h2>Application for a new<br />Goods Vehicle Operator's Licence</h2>
  </div>

  <div class="printable__section article">
    <p>By applying I agree to follow the rules below, and I’m aware that:</p>
    <ul>
      <li>the rules will be recorded on my licence</li>
      <li>my licence could be revoked, suspended or curtailed if I don’t follow them </li>
      <li>it’s a criminal offence not to follow the rules</li>
    </ul>

    <h4>Laws</h4>
    <p>I agree to obey laws that cover:</p>
    <ul>
      <li>operating vehicles</li>
      <li>drivers’ hours</li>
      <li>tachographs</li>
      <li>speed limits</li>
    </ul>

    <h4>Passengers</h4>
    <p>I won’t carry more passengers in my vehicles than I’m allowed to.</p>

    <h4>Records</h4>
    <p>I’ll maintain proper records and show them when they’re needed.</p>
    <p>I’ll also:</p>
    <ul>
      <li>keep records of driver reports for 15 months</li>
      <li>record defects, safety inspections, maintenance and repairs</li>
    </ul>

    <h4>Vehicle conditions</h4>
    <p>I’ll keep my vehicles in good condition, and:</p>
    <ul>
      <li>promptly report any defects, or symptoms of them</li>
      <li>record the details in writing</li>
      <li>show records when they’re needed</li>
    </ul>

    <h4>Informing the Traffic Commissioner</h4>
    <p>I’ll tell the Traffic Commissioner within 28 days if:</p>
    <ul>
      <li>there are any other changes that might affect the licence</li>
      <li>anyone mentioned in this application is convicted of an offence</li>
    </ul>

    <h4>Declaration</h4>
    <p>I declare that:</p>
    <ul>
      <li>the statements I’ve made in this application are true</li>
      <li>all supporting evidence is correct</li>
      <li>I understand that it’s an offence to make a false declaration</li>
    </ul>

  </div>

<!--   <div class="signature-box">
    <label for="" class="signature-box__label">Partner's signature</label>
    <input type="text" class="signature-box__input signature" disabled="disabled">
    <label for="" class="signature-box__label">Full name in block capitals</label>
    <input type="text" class="signature-box__input name" disabled="disabled">
    <label for="" class="signature-box__label">Date</label>
    <input type="text" class="signature-box__input date" disabled="disabled">
  </div> -->

  <div class="signature-box">
    <div class="signature-box__column">
      <label for="" class="signature-box__label">Director's signature</label>
      <input type="text" class="signature-box__input signature" disabled="disabled">
      <label for="" class="signature-box__label">Full name in block capitals</label>
      <input type="text" class="signature-box__input name" disabled="disabled">
      <label for="" class="signature-box__label">Date</label>
      <input type="text" class="signature-box__input date" disabled="disabled">
    </div>
  </div>

  <p>You must sign and return this form before we can consider your application.<br />
  <b>Return to: </b>Hillcrest House, 386 Harehills Ln, Leeds, West Yorkshire, LS9 6NF</p>

</div>


