name: Deploy documentation

on:
  workflow_call:
    inputs:
      deploy:
        description: "Whether to deploy"
        required: true
        type: boolean
        default: false

permissions:
  contents: read

concurrency:
  group: documentation-${{ github.event.pull_request.id || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: website
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout: |
            website
            docs
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: npm
          cache-dependency-path: website/package-lock.json
      - run: npm ci
      - run: npm run build
      - name: Upload pages artefact
        if: ${{ inputs.deploy }}
        uses: actions/upload-pages-artifact@v4
        with:
          path: website/build/vol-app

  deploy:
    name: Deploy
    if: ${{ inputs.deploy }}
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
