name: Terraform docs

on:
  pull_request:
    paths:
      - "infra/terraform/modules/**"

jobs:
  generate-terraform-docs:
    name: Generate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: terraform-docs/gh-actions@v1.4.1
        with:
          find-dir: "infra/terraform/modules"
          git-commit-message: "docs: update Terraform docs"
          git-push: true
