---
layout: case.hbs
asset: '../../../../'
sectionTitle: Case details
subSectionTitle: Overview
verticalNavItems:
  - label: Overview
    link:  
  - label: Convictions
    link:  
  - label: Prohibitions
    link:  
  - label: ERRU penalties
    link: erru-penalties.html
  - label: Statements
    link:
  - label: Complaints
    link:
  - label: Conditions & undertakings
    link:
  - label: Impoundings
    link:

---


<div class="sidebar--left">
  <h4 class="title">Case details</h4>
  {{> _vertical-navigation }}
</div>

<div class="table-col">
  <div class="field">
    <label>Interests</label>
    <select multiple class="tall medium chosen-select">
      <option value="golf">Golf</option>
      <option value="football">Football</option>
      <option value="tennis">Tennis</option>
      <option value="basketball">Basketball</option>
      <option value="rugby">Rugby</option>
      <option value="bowles">Bowles</option>
    </select>
  </div>
</div>